<div class="container">
  <div class="row">
    <div class="col">
      <form action="/addPrice/{{checkUrlName editPrice.id}}{{checkUrlName id}}" method="POST" class="mt-4">
        {{#if editPrice}}
          <p class="text-right mb-2"><small>poslednja izmena cenovnika:{{formatRsDate editPrice.lastUpdated}}</small></p>
        {{/if}}
        <div class="form-row">
          <div class="form-group col-6">
            <small class="form-text text-muted">Lab id</small>
            <input type="text" name="lab" class="form-control" id="searchLabName"  placeholder="search for lab" value={{keepData editPrice.lab.id lab}} {{#if editPrice}} readonly {{/if}}>
            <ul class="list-group" style="position:absolute; width:98%; background-color:white;  z-index:999" id="labFound"></ul>
          </div>
          <div class="form-group col-6">
            <small class="form-text text-muted">Lab Name</small>
            <input type="text" class="form-control" id="labName" placeholder="Lab name" name="labName" readonly value="{{keepData editPrice.lab.labName labName}}">
          </div>
          <div class="form-group col-12" id="analysisDiv">
            <small class="form-text text-muted">Analysis</small>
            <input type="text"  class="form-control"  id="searchAnalysis" value="" placeholder="search for analysis name">
            <ul class="list-group" style="position:absolute; width:98%; background-color:white;  z-index:999" id="analysisFound"></ul>
          </div>
        </div>

        <!-- pricelist edit -->
        {{#if editPrice}}
          <div id="priceList">
            {{#each editPrice.cenovnik}}
            <div class="form-row">
              <div class="form-group mt-2 col-6">
                <input type="text" class="form-control" name="cenovnik[imeanalize][]" value="{{this.analiza.analysisName}}" readonly>
                <input type="hidden" name="cenovnik[analiza][]" value="{{this.analiza.id}}">
              </div>
              <div class="form-group mt-2 col-5">
                <input type="text" placeholder="upisi cenu" name="cenovnik[cena][]" class="form-control" value={{this.cena}}>
              </div>
              <div class="form-group col-1">
                <button type="button" class="btn btn-danger mt-2 float-right deletePrice" name="button">delete</button>
              </div>
            </div>
            {{/each}}
          </div>
          {{else}}
          <!-- if there was an error keep the values -->
            {{#if pricelist}}
              {{#each pricelist}}
                <div id="priceList">
                  <div class="form-row">
                    <div class="form-group mt-2 col-6">
                      <input type="text" class="form-control" name="cenovnik[imeanalize][]" value="{{this.ime}}" readonly>
                      <input type="hidden" name="cenovnik[analiza][]" value="{{this.analiza}}">
                    </div>
                    <div class="form-group mt-2 col-5">
                      <input type="text" placeholder="upisi cenu" name="cenovnik[cena][]" class="form-control" value={{this.cena}}>
                    </div>
                    <div class="form-group col-1">
                      <button type="button" class="btn btn-danger mt-2 deletePrice" name="button">delete</button>
                    </div>
                  </div>
                </div>
              {{/each}}
                {{else}}
                <!-- creating new pricelist -->
                  <div id="priceList"></div>
            {{/if}}
        {{/if}}
        <button class="btn btn-block btn-warning my-3">Save price</button>
      </form>
    </div><!-- col end -->
  </div><!-- row end -->

</div>
