<!-- faq -->
<div id="faq">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2 class="text-center mt-4">{{faqtitle}}</h2>
        <div id="accordion">
          {{#each faqFP}}
            <h5 data-toggle="collapse" data-target='#collapse{{this._id}}' class="collapsed">{{this.question}}</h5>
            <div id='collapse{{this._id}}' class="collapse"  data-parent="#accordion">
              <p>{{this.answer}}</p>
            </div>
          {{/each}}
          <div class="text-center">
            <a href="#" class="btn btn-success text-uppercase backTotop">povratak na vrh <i class="fas fa-arrow-circle-up"></i></a>
          </div>
        </div><!-- accordion end -->



      </div><!-- col-12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div><!-- faq end -->
