<section id="google-map">
  <div id="map"></div>
  <div class="labinfo">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-xl-4 mapTitle text-center text-sm-center text-md-left" id="way">Sve laboratorije u Srbiji</div>
        <div class="d-none d-md-block col-sm-2 align-self-center flex-column ml-auto">
          <span class="d-flex align-self-start labMapInfo justify-content-end">ukupno laboratorija</span>
          <span class="d-flex align-self-start num justify-content-md-start justify-content-lg-end">{{labNum}}</span>
        </div>
        <div class="d-none d-md-block col-sm-2 align-self-center flex-column">
          <span class="d-flex align-self-start labMapInfo justify-content-end">trenutno otvoreno</span>
          <span class="d-flex align-self-start num justify-content-md-start justify-content-lg-end">{{numOpen}}</span>
        </div>
        <div class="d-none d-md-block col-sm-2 align-self-center flex-column">
          <span class="d-flex align-self-start labMapInfo justify-content-end">dostupnih analiza</span>
          <span class="d-flex align-self-start num justify-content-md-start justify-content-lg-end">{{analysisNum}}</span>
        </div>
      </div><!--  row end-->
    </div><!-- container end -->
  </div> <!-- lab info end -->
</section><!-- google map end -->
<!-- {{labInfo}} -->
<script>

let decodedJson = decodeURIComponent("{{{labDetails}}}")
let labData = JSON.parse(decodedJson)
let decodedJsonStatus = decodeURIComponent("{{{labOpen}}}")
let labStatus = JSON.parse(decodedJsonStatus)
let markers = []

let options = {
  zoom:15,
  disableDefaultUI: true,
  zoomControl: false,
  mapTypeControl: false,
  scaleControl: false,
  streetViewControl: true,
  rotateControl: false,
  fullscreenControl: true,
  fullscreenControlOptions:{
    position:google.maps.ControlPosition.RIGHT_BOTTOM
  },
  styles: [
      {
        "featureType": "administrative.country",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#fbd2d9"
          },
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "administrative.country",
        "elementType": "geometry.stroke",
        "stylers": [
          {
            "color": "#9896a9"
          },
          {
            "weight": 2
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#9896a9"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.locality",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "administrative.neighborhood",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "administrative.neighborhood",
        "elementType": "labels",
        "stylers": [
          {
            "color": "#aaa9b1"
          },
          {
            "visibility": "simplified"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.business",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#aadc55"
          }
        ]
      },
      {
        "featureType": "poi.park",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#ecebed"
          },
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "labels.text",
        "stylers": [
          {
            "color": "#d8d6dc"
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#fefefe"
          }
        ]
      },
      {
        "featureType": "road.arterial",
        "elementType": "labels.text",
        "stylers": [
          {
            "color": "#9a9a9a"
          },
          {
            "visibility": "simplified"
          }
        ]
      },
      {
        "featureType": "road.highway",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.local",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#eaecec"
          },
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road.local",
        "elementType": "labels.text.fill",
        "stylers": [
          {
            "color": "#9ba4a4"
          },
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "transit",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "transit.station",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "transit.station.bus",
        "stylers": [
          {
            "visibility": "simplified"
          }
        ]
      },
      {
        "featureType": "transit.station.bus",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#ff00ff"
          },
          {
            "visibility": "simplified"
          }
        ]
      },
      {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
          {
            "color": "#1d88e5"
          },
          {
            "lightness": 15
          }
        ]
      }
    ]
}

for(i=0; i<labData.length; i++) {
  markers.push(
    {
      name:labData[i].labName,
      address:labData[i].address,
      city:labData[i].placeId.place,
      phone:labData[i].placeId.phone,
      municipality:labData[i].placeId.municipality,
      lat:labData[i].location.coordinates[1],
      lng:labData[i].location.coordinates[0]
    }
  )
}

// new map
let map = new google.maps.Map(document.getElementById('map'), options)
    map.setCenter({lat:44.81617, lng:20.469919})

for(i=0; i<markers.length; i++) {
addMarker(markers[i].lat,
          markers[i].lng,
          markers[i].name,
          markers[i].address,
          markers[i].phone)
}

// console.log(markers)
function addMarker(lat, lng, name, address, phone) {
  let marker = new google.maps.Marker({
    position:{lat:parseFloat(lat), lng:parseFloat(lng)},
    icon:{
      url:'/images/pinOpen.svg',
      scaledSize: new google.maps.Size(40, 40)
    },
    map:map
    })

    let infoWindow = new google.maps.InfoWindow({
      maxWidth:600,
      content:'test'

    });

    marker.addListener('click', function(){
      var placeMarker = infoWindow.open(map, marker);
    });

    google.maps.event.addListener(map, 'click', function() {
      infoWindow.close();
    });
}
</script>
