<section id="analize-wrapper">
       
    <div class="container">
      <div class="row analize-container">
        <div class="col-12">
          <h2 class="py-3 text-center functionalitiesTitle">Grupe analiza</h2>
        </div>
{{#each groups}}
{{#if (ifGT @index 9)}}
      <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
        <div class="card">
          <div class="card-body">
            <div>
              {{#each this.grupa}}
              <a href="/group/{{this.slug}}" class="">
              <img src="images/{{this.iconPath}}" alt="{{this.name}}" class="analiza-ikonica nolink">
              <span class="d-flex align-self-stretch nolink">{{this.name}}</span>
              </a>
            </div>
            <p class="card-text nolink">{{groupSummary this.description}}</p>

            <a href='/group/{{this.slug}}'><button class="button btn btn-secondary btn-block click-more">Saznaj više

            {{/each}}
            <span class="broj-analiza">{{this.total}}</span></button></a>
            </div><!-- card body end -->
          </div><!-- card end -->
        </div><!-- group div end -->
        {{else}}
        <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
          <div class="card groupHidden otherGroups good">
            <div class="card-body">
              <div>
                {{#each this.grupa}}
                <a href="/group/{{this.slug}}" class="">
                <img src="images/{{this.iconPath}}" alt="{{this.name}}" class="analiza-ikonica nolink">
                <span class="d-flex align-self-stretch nolink">{{this.name}}</span>
                </a>
              </div>
              <p class="card-text">{{groupSummary this.description}}</p>
              <a href='/group/{{this.slug}}'><button class="button btn btn-secondary btn-block click-more">Saznaj više
              {{/each}}
              <span class="broj-analiza">{{this.total}}</span></button></a>
              </div><!-- card body end -->
            </div><!-- card end -->
          </div><!-- group div end -->
        {{/if}}
{{/each}}
        </div>
        <div class="text-center">
          <button class="btn btn-success text-uppercase" id="displayOtherGroups">sve grupe analiza</button>
        </div>
    </div><!-- container end -->
  </section><!-- analize-wrapper end -->
