<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="396875767246-9j0etj12m52m749ftuj7k7ej9f8hgqt2.apps.googleusercontent.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>{{title}}</title>

    <!-- Begin Inspectlet Asynchronous Code -->
      {{!-- <script type="text/javascript">
      (function() {
      window.__insp = window.__insp || [];
      __insp.push(['wid', 803108826]);
      var ldinsp = function(){
      if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=803108826&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 0);
      })();
      </script> --}}
    <!-- End Inspectlet Asynchronous Code -->

    <!-- loading google analytics and google tag manager -->
    {{!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129510507-1"></script> --}}
    <script>
      window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129510507-1');
    </script>
    <!-- google analytics end -->

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    /*var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/601a889cc31c9117cb75615d/1etjqb8s1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })(); */
    </script>
    <!--End of Tawk.to Script-->

    <!-- Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Ads: 10818927707 -->
    {{!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3HWSV2');</script> --}}
  <!-- End Google Tag Manager -->



    <!-- Facebook Pixel Code -->
    {{!-- <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1041735459996943');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1041735459996943&ev=PageView&noscript=1"
    /></noscript> --}}
    <!-- End Facebook Pixel Code -->

    <!-- google maps api -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTj52J6A1dcfdJzqHErFGR_IDs6ahyTes&callback"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTj52J6A1dcfdJzqHErFGR_IDs6ahyTes&callback"></script>
    {{!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> --}}

    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="robots" content="noodp"/> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{metaDescription}}">
    <meta name="keywords" content="{{metaKeywords}}">
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{metaDescription}}" />
    <meta property="og:image" content="https://www.labcube.rs/images/ogImageFinal.png">
    <meta property="og:image:type" content="image/png" />
    <!-- twitter sharing -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@labcube_rs" />
    <meta name="twitter:creator" content="@labcube_rs" />
    <meta property="twitter:title" content="{{title}}" />
    <meta property="twitter:description" content="{{metaDescription}}" />
    <meta property="twitter:image" content="https://www.labcube.rs/images/ogImageFinal.png" />

    <link rel="icon" href="../../images/icon.ico" type="image/x-icon"/>
    <!-- <script src="/dist/handlebars-v4.4.3.js"charset="utf-8"></script> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet"> -->
    {{!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="manifest" href="/manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-startup-image" href="../../src/images/icon-96x96.png">
    <meta name="apple-mobile-web-app-status-bar" content="#1D88E5">
    <link href="../../src/images/icon-512x512.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="../../src/images/icon-512x512.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
  </head>
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129510507-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129510507-1');
    </script> -->


    {{> _msg}}
    {{{body}}}

    <script src="/dist/vendor.bundle.js" defer charset="utf-8"></script>
    <script src="/dist/main.bundle.js" defer charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" defer></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script> -->
     {{!-- <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script> --}}
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> --}}

  </body>
</html>
