<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="396875767246-9j0etj12m52m749ftuj7k7ej9f8hgqt2.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- loading google analytics and google tag manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129510507-1"></script>
    <script>window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-129510507-1');
    </script>
    <!-- google analytics end -->

    <!--Start of Tawk.to Script-->
    <!-- <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/601a889cc31c9117cb75615d/1etjqb8s1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })(); -->
    </script>
    <!--End of Tawk.to Script-->

    <!-- Hotjar Tracking Code for 165.227.140.147 -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2420704,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3HWSV2');</script>

    <!-- google maps api -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTj52J6A1dcfdJzqHErFGR_IDs6ahyTes&callback"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTj52J6A1dcfdJzqHErFGR_IDs6ahyTes&callback"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="robots" content="noodp"/> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{metaDescription}}">
    <meta name="keywords" content="{{metaKeywords}}">
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{metaDescription}}" />
    <meta property="og:image" content="https://www.labcube.rs/images/ogImageFinal.png">
    <meta property="og:image:type" content="image/png" />
    <!-- twitter sharing -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@labcube_rs" />
    <meta name="twitter:creator" content="@labcube_rs" />
    <meta property="twitter:title" content="{{title}}" />
    <meta property="twitter:description" content="{{metaDescription}}" />
    <meta property="twitter:image" content="https://www.labcube.rs/images/ogImageFinal.png" />
    <title>{{title}}</title>
    <link rel="icon" href="/images/icon.ico" type="image/x-icon"/>
    <!-- <script src="/dist/handlebars-v4.4.3.js"charset="utf-8"></script> -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3HWSV2" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{> _msg}}

    {{{body}}}

    <script src="/dist/vendor.bundle.js" charset="utf-8"></script>
    <script src="/dist/main.bundle.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  </body>
</html>
