{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
<section id="">
  {{> _innerNavAdmin}}
<div class="container">
  <div class="row">
    <div class="col-5 text-center  p-4 mt-5 tumacenjeDiv">
      <img src="images/icon_tumacenje.svg" class="pr-4 tumacenjeIcon">
      <span class=><a href="/interpretation/page/1" class="btn btn-success text-uppercase ml-3 tumacenjeBtn">tumačenje labube rezultata</a></span>
    </div>

    <div class="col-5 text-center p-4 mt-5 tumacenjeDiv ml-auto">
      <img src="images/icon_tumacenje.svg" class="pr-4 tumacenjeIcon">
      <span class=><a href="/otherResultsInterpretation/page/1" class="btn text-uppercase ml-3 tumacenjeBtn">tumačenje ostalih rezultata</a></span>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="testAdmin mt-5">
      <div class="blueOverlayAdmin">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_grupeAnaliza.svg" class="pr-3 iconsTumacenje" alt="">Grupe analiza</h5>

            <a href="/addGroup" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allGroupsList" class="btn btn-outline-info mt-2 text-uppercase">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4 ">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_laboratorije.svg" class="pr-3 iconsTumacenje" alt="">Laboratorije</h5>

            <a href="/addLab" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allLabs" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_analize.svg" class="pr-3 iconsTumacenje" alt="">Analize</h5>

            <a href="/addAnalysis" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allAnalysis" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_urednici.svg" class="pr-3 iconsTumacenje" alt="">Urednici</h5>
            <a href="/addEditor" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allEditors" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4 ">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_reference.svg" class="pr-3 iconsTumacenje" alt="">Reference</h5>
            <a href="/addReference" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allReferences" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_cenovnik.svg" class="pr-3 iconsTumacenje " alt="">Cenovnik</h5>
            <a href="/addPrice" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allPrices" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_cestaPitanja.svg" class="pr-3 iconsTumacenje" alt="">Česta pitanja</h5>
            <a href="/addFaq" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/allFaqs" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_korisnici.svg" class="pr-3 iconsTumacenje" alt="">Korisnici -  ne radi</h5>
            <a href="/" class="btn btn-outline-info text-uppercase mt-3">dodaj</a>
            <a href="/" class="btn btn-outline-info text-uppercase mt-2">pogledaj</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_analize.svg" class="pr-3 iconsTumacenje" alt="">Komentari</h5>
            <a href="/allApprovedComments" class="btn btn-outline-info text-uppercase mt-3">Odobreni</a>
            <a href="/allComments" class="btn btn-outline-info text-uppercase mt-2">Čeka odobrenje</a>
          </div>
        </div>

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_analize.svg" class="pr-3 iconsTumacenje" alt="">Bez cenovnika</h5>
            <a href="/withoutPrice" class="btn  {{#if numOfMissingPricesForLabs}}btn-outline-danger {{else}}btn-outline-info{{/if}}text-uppercase mt-3">Laboratorije {{#if numOfMissingPricesForLabs}}<span>({{numOfMissingPricesForLabs}})</span>{{/if}}</a>
            <a href="/analysiswithoutprice" class="btn {{#if numOfMissingPriceAnalysis}}btn-outline-danger {{else}}btn-outline-info{{/if}} text-uppercase mt-2">Analize {{#if numOfMissingPriceAnalysis}}<span>({{numOfMissingPriceAnalysis}})</span>{{/if}}</a>
          </div>
        </div>

        <!-- <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_analize.svg" class="pr-3 iconsTumacenje" alt="">Analize bez cene </h5>
            <a href="/analysiswithoutprice" class="btn btn-outline-info text-uppercase mt-3">Pogledaj</a>
          </div>
        </div> -->

        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title"><img src="images/icon_cenovnik.svg" class="pr-3 iconsTumacenje " alt="">Uplate - ne radi</h5>
            <a href="/addPrice" class="btn btn-outline-info text-uppercase mt-3">Uspešne</a>
            <a href="/allPrices" class="btn btn-outline-info text-uppercase mt-2">Neuspešne</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


  <!-- <div class="container">
    <div class="row mb-0">

      <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <div class="backgroundImageAdmin">
          <div class="blueOverlayAdmin">





            <div class="card ml-2 mr-2">
              <div class="card-body">
                <h5 class="card-title text-white">Oboljenja</h5>
                <p class="card-text text-white"></p>
                <a href="/addDisease" class="btn btn-outline-light ">dodaj</a>
                <a href="/allDiseases" class="btn btn-outline-light mt-2">pogledaj sve</a>
              </div>
            </div>




            <div class="card mr-2 ml-2">
              <div class="card-body">
                <h5 class="card-title text-white">Česta pitanja</h5>
                <p class="card-text text-white"></p>
                <a href="/addFaq" class="btn btn-outline-light ">dodaj</a>
                <a href="/allFaqs" class="btn btn-outline-light mt-2">pogledaj</a>
              </div>
            </div>



          </div><!-- blueoverlay -->
        <!-- </div> -->
        <!-- backgroundImage -->

      <!-- </div> -->

    <!-- </div> -->
    <!-- row -->
  <!-- </div> -->

  <!-- container-fluid -->
</section>
