{{> _innerNavBackend}}
<div class="container">
  <div class="row">
    {{#if diseaseNumber}}
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- <th scope="col">id</th> -->
            <th scope="col">Naziv</th>
            <th scope="col">ICD</th>
            <th scope="col">Opis</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          {{#each allDiseases}}
          <tr>
            <!-- <td>{{this.id}}</td> -->
            <td>{{this.name}}</td>
            <td>{{groupSummary this.description}}</td>
            <td>{{this.icd}}</td>
            <td>{{this.link}}</td>
            <td><a href='addDisease/{{this._id}}/{{this.name}}' class="btn btn-info">Edit</a></td>
            <td><a href='deleteGroup/{{this.name}}' class="btn btn-danger">Delete</a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
        <div class="m-auto">
          <h3 class="mt-4">Trenutno nema nijedno oboljenje u bazi</h3>
        </div>
      {{/if}}
  </div>
</div>

{{> _footer}}
