{{> _innerNavBackend}}
<!-- <h1>{{countGroups}}</h1> -->
<div class="container">
  <div class="row">
    <table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">Naziv</th>
      <th>Opis</th>
      <th scope="col">Naslovna</th>
      <th scope="col">Prioritet</th>
    </tr>
  </thead>
  <tbody>
    {{#each allGroups}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{groupSummary this.description}}</td>
      <td>{{this.frontPage}}</td>
      <td>{{this.priority}}</td>
      <td><a href='addGroup/{{this.name}}' class="btn btn-primary text-uppercase">Edit</a></td>
      <td><a href='' data-id={{this.id}} class="btn btn-danger deleteDocument">Delete</a></td
    </tr>
    {{/each}}
  </tbody>
</table>

  </div>
</div>
