{{> _innerNavBackend}}
<!-- <h1>{{countGroups}}</h1> -->
<!-- <div class="container">
  <div class="row"> -->
    <table class="table table-hover">
  <thead>
    <tr>
      <!-- <th scope="col">id</th> -->
      <th scope="col">Naziv</th>
      <th>Opis</th>
      <th scope="col">Front page</th>
      <th scope="col">Prioritet</th>
    </tr>
  </thead>
  <tbody>
    {{#each allGroups}}
    <tr>
      <!-- <td>{{this.id}}</td> -->
      <td>{{this.name}}</td>
      <td>{{groupSummary this.description}}</td>
      <td>{{this.frontPage}}</td>
      <td>{{this.priority}}</td>
      <td><a href='addGroup/{{this.name}}' class="btn btn-info">Edit</a></td>
      <td><a href='deleteGroup/{{this.name}}' class="btn btn-danger">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

  <!-- </div>
</div> -->
