{{> _innerNavFrontend}}
<!-- ovo je stranica na kojoj biohemicar/lekar tumaci rezultate koje je korisnik dobio preko labcuba -->


<div class="container" id="">
 		<div class="row">
      <div class="col-12 pt-4">
        <a href="/interpretation">< nazad</a>
        {{#each analysisValues}}
        <div class="userDetails mt-5" >
            <h1 class="headTitle">{{this.user.username}}</h1>
            <h4>Mobilni: {{this.user.mobile}}</h4>
            <h4>Godina rođenja: {{this.user.birthYear}}</h3>
            <h4>{{this.user.height}}cm, {{this.user.weight}}kg, BMI: {{this.user.bmi}}</h4>
            <h4>Pušač: {{this.user.smoking}}</h4>
            <h4>Alkohol: {{this.user.alcohol}}</h4>
            <h4>Povišen krvni pritisak: {{this.user.bloodPresure}}</h4>
            <h4>Ishrana: {{this.user.nutrition}}</h4>
            <h4>Trenutno pod stresom: {{this.user.stress}}</h4>
            <h4>Nedeljno vežba (sat): {{this.user.hoursExcercise}}</h4>
            <h4>Dodaci ishrani: {{this.user.foodSuplements}}</h4>
            <h4>Da li je ikada imao povišen šećer: {{this.user.sweets}}</h4>
            <h4>Trenutno na terapiji: {{this.user.therapy}}</h4>
            <h4>Komentar za terapiju: {{this.user.therapyComment}}</h4>
            <h4>Trenutno bolestan/bolesna: {{this.user.currentStatus}}</h4>
            <h4>Opis trenutnog stanja: {{this.user.currentStatusComment}}</h4>
            <h4>Oboljenja u porodici: {{this.user.anamnesis}}</h4>
            <h4>Anamneza komentar: {{this.user.anamnesisComment}}</h4>

            <h4>Trenutno doji: {{this.user.breastfeeding}}</h4>
            <h4>Ima menstruacije: {{this.user.menstruation}}</h4>
            <h4>Uredan ciklus: {{this.user.regularMenstruation}}</h4>
            <h4>Trenutno trudna: {{this.user.pregnancy}}</h4>
            <h4>Redovno odlazi kod ginekologa: {{this.user.regularGinecologyChecks}}</h4>
        </div>
          {{/each}}

      </div>

      <div class="col-12">
        <div class="table-responsive mt-4" id="labDashboard">
          <form class="" action="" method="post" id="lockTheRecord">
            {{#each analysisValues}}
              <div class="form-check">
                <input type="checkbox" name="owner" value="{{../user.id}}" id="zakljucaj" {{#if this.owner}} checked="checked"{{/if}}>
                {{#if this.owner}}
                <label for="zakljucaj" id="lockStatus">Zaključano</label>

                {{else}}
                <label for="zakljucaj" id="lockStatus">Zaključaj</label>


                {{/if}}
              </div>
              <input type="hidden" name="interpretationId" id="interpretationId" value="{{this._id}}">

            {{/each}}
          </form>
          <table class="table" id="labDashResults">
            <tbody>

                <tr>
                  <th class="small text-info">Ime analize</th>
                  <th class="small text-info">Vrednost</th>
                  <th class="small text-info">Jedinica</th>
                  <th class="small text-info"><</th>
                  <th class="small text-info">></th>
                  <th class="small text-info">Od</th>
                  <th class="small text-info">Do</th>
                  <th class="small text-info">Van granica?</th>
                  <th class="small text-info">Komentar</th>
                </tr>


              {{#each analysisValues}}

                {{#each this.analyses}}
                <form  action="/analysisInterpretation/{{../this._id}}" method="post">
                <tr>


                  <td>{{this.analysis}}</td>
                  <input type="hidden" value="{{this.analysisId}}" name="analysisId">
                  <td><input type="text" class="form-control" value="{{this.value}}" name="value"></td>
                  <td><input type="text" class="form-control" value="{{this.measure}}" name="measure"></td>
                  <td><input type="text" class="form-control" value="{{this.lessThen}}" name="lessThen"></td>
                  <td><input type="text" class="form-control" value="{{this.greaterThen}}" name="greaterThen"></td>
                  <td><input type="text" class="form-control" value="{{this.valueFrom}}" name="valueFrom"></td>
                  <td><input type="text" class="form-control" value="{{this.valueTo}}" name="valueTo"></td>
                  <td><div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" name="outsideOfTheRange{{this.analysisId}}" value="true" {{#if (checkBox this.outsideOfTheRange true)}} checked="checked"{{/if}}></div></td>
                  <td><textarea rows=3 cols=35 name="commentResult">{{this.commentResult}}</textarea></td>
                </tr>

              {{/each}}
            {{/each}}
          </table>
          {{#each analysisValues}}
          <p>Glavni komentar</p>
          <textarea name="commentCube"  style="width:100%"  rows="8" id="cubeComment">{{this.commentCube}}</textarea>
          {{/each}}

            <button class="btn btn-outline-primary mb-4 btn-block mt-3">sačuvaj</button>
            </form>
        </div>
      </div>

      <!-- <div class="col-6 mt-4">
          {{#each analysisValues}}
              {{this}}
          {{/each}}
      </div> -->



 		</div><!-- table row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
