{{> _innerNavFrontend}}

<section id="details">
  <div class="container">
    <div class="row" >
      <div class="col-12">
        <p class="float-left mb-0 pb-0"><a href="/" class="small">Početna</a> <span class="text-primary small"> / </span> <a href="/group/{{analysisDetails.groupId.slug}}" class="small">{{analysisDetails.groupId.name}}</a></p>
      </div>
      
      <div class="col-md-12 col-lg-9 mt-5">

        <!-- header -->
          <div class="">
          <h1 class="headTitle">{{analysisDetails.analysisName}}</h1>
          <ul>
            {{#each analysisDetails.abbr}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>

        <div class="col-12 mb-3 text-center" style="background-color:#5B8EE8; border-radius:5px; padding:10px; color:white; font-size:24px;">
          {{#each prices}}
          <span class="d-inline-block text-center" title="cena ove analize u privatnim laboratorijama u Srbiji je u ovom opsegu"><h5>Cena u privatnim laboratorijama za {{../analysisDetails.analysisName}} je od </span>
          <span class="d-inline-block">{{minPrice}} - {{maxPrice}} din.<span></h5></span>
          {{/each}}
        </div>
         <div class="col-12 p-0 text-center mb-5">
          {{!-- <a href="javascript:window.print()" class="d-none d-sm-inline"><img src="/images/stampaj.svg" class="mt-auto mx-3 mb-2 printIcon" /></a> --}}
          <button class="btn text-uppercase w-100 btn-danger btn-block text-uppercase mt-2 mt-sm-auto addAnalysis" id="comparePrice" style="font-size:18px;" data-analysisID={{analysisDetails.id}} data-analysisName="{{analysisDetails.analysisName}}" data-groupImg="{{analysisDetails.groupId.iconPath}}">uporedi cenu <i class="fa fa-search" aria-hidden="true"></i></button>
          {{!-- <button class="btn btn-outline-danger text-uppercase text-center btn-block text-uppercase mt-2 mt-sm-auto" data-analysisID={{analysisDetails.id}} data-analysisName="{{analysisDetails.analysisName}}" data-groupImg="{{analysisDetails.groupId.iconPath}}">uporedi cene</button> --}}
        </div>

      
        {{#if (empty analysisDetails.preview)}}
        {{! display abbr}}

        <ul class="col-12 analysisDescription float-left mt-4 "> <!-- add class breakWords-->
          <li>
            <h5 id="oAnalizi">O analizi</h5>
            <p>{{{analysisDetails.shortDesc}}}</p>
          </li>
          <li><h5 id="uzorak">Uzorak</h5>
              <p>{{{analysisDetails.sample}}}</p>
          </li>
          <li>
            <h5 id="kadaSeIspituje">Kada se ispituje?</h5>
            <p>{{{analysisDetails.examination}}}</p>
          </li>

          <li>
            <h5 id="priprema">Priprema</h5>
            <p>{{{analysisDetails.preparation}}}</p>
          </li>    
          
            
          <li class="mb-5">
            {{#if (undefined analysisDetails.bannerMobile) }}
              <a href="{{analysisDetails.bannerUrlMobile}}" target="_blank"><img src="/images/banners/{{analysisDetails.bannerMobile}}" class="w-100 d-block d-md-block d-lg-none mx-auto"></a>
              {{else}}
              <a href="/tumacenje-laboratorijskih-analiza" target="_blank"><img src="/images/banners/tumacenjebannerfinal.svg" class="w-100 d-block mx-auto"></a>
            {{/if}}
            {{!-- <a href="/tumacenje-laboratorijskih-analiza" target="_blank"><img src="/images/banners/tumacenjebannerfinal.svg" class="w-75 d-block mx-auto text-align-center"></a> --}}
            {{!-- <p class=""><h4 class="text-center">Prvi online servis za tumačenje laboratorijskih nalaza</h4> <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btn-danger display-2">saznaj više</a></p> --}}
          </li>
            

          <li>
            <h5 id="detaljanOpis">Detaljan opis</h5>
            <p>{{{analysisDetails.description}}}</p>
          </li>

  
          

          {{!-- banner za mob verziju --}}
          {{!-- <img src="/images/banners/Baner-320x100.jpg" class="mb-4" style="width:100%;"> --}}

          <div class="text-center" style="border:1px solid #8F8F8F; padding:20px; border-radius:20px;">
            <h2 class="">Imaš snižen ili povišen rezultat za <br />{{analysisDetails.analysisName}}?</h2>
            {{!-- <p>Podeli svoje rezultate sa nama i biće ti jasnije o čemu se radi.</p> --}}
            <p>Napravi nalog do 18.8.2023. i dobijaš kod za besplatno tumačenje laboratorijskih nalaza</p>
           <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btn-primary btn-lg display-4"><h3 class="mt-2">Pokreni tumačenje nalaza</h3></a>

          </div>
          {{!-- <div class="d-flex flex-column flex-lg-row">
            {{#if (notBlank analysisDetails.low)}}
             <div class="flexFix justify-content-between snizeneVrednosti">
                <h5 id="rezultati">Snižene vrednosti</h5>
                <p>{{{analysisDetails.low}}}</p>
             </div>
             {{/if}}

             {{#if (notBlank analysisDetails.high)}}
             <div class="flexFix justify-content-between poviseneVrednosti">
                <h5>Povišene vrednosti</h5>
                  <p>{{{analysisDetails.high}}}</p>
                 
              </div>
              {{/if}}
           </div> --}}
           <!-- flex end snizene i povisene vrednosti -->

           {{!-- <div>
             <form action="/putUserEmail" method="POST" class="mt-4">   
              <p>Ovde ide tekst kojim ukratko objasnjavamo zasto da nam ostave mejl i sta ce se desiti nakon toga</p>
               <div class="form-row">
                 <div class="col-8  col-sm-9 col-md-10">
                   <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                  </div>
                  <div class="col-4 col-sm-3 col-md-2">
                  <button class="btn  btn-outline-info text-uppercase">Prijavi me</button>
                  </div>
               </div>
             </form>
           </div> --}}
           <div class="napomena">
             <h5 id="napomena">Napomena</h5>
             <p>{{{analysisDetails.notes}}}</p>
           </div>

            {{!-- <div class="col-12 my-5">
              <p class=""><h4 class="text-center">Ukoliko nisi pronašao/la odgovore na pitanja u vezi tvojih rezultata možeš ih poslati nama na tumačenje, detaljno ćemo pogledati tvoje rezultate i odgovoriti na sva pitanja koja imaš.   </h4> <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btn-danger display-2">započni tumačenje</a></p>
            </div> --}}

           <ol class="col-12 breakWords">
             <h5 class="literatura" id="literatura">Literatura</h5>
             <a class="expandDetails" data-toggle="collapse" href="#collapsedDetailsLow"><i class="fas fa-angle-down"></i></a>
             <div class="collapse" id="collapsedDetailsLow">
               {{#each analysisDetails.references}}
                <li>{{#if (notBlank referenceLink)}}<a href="http://{{referenceLink}}" target="_blank">{{referenceTitle}}</a>{{else}}{{referenceTitle}}{{/if}}</li>
               {{/each}}
             </div>

           </ol>
        </ul><!-- analysisDescription end -->


          <ul class="povezaneAnalize float-left" >
            <h5 id="povezaneAnalize">Povezane analize</h5>
            {{#each analysisDetails.connectedTo}}
                <li><a href={{slug}} class="text-white nolink">{{analysisName}} ({{abbr.[0]}})</a></li>
            {{/each}}
          </ul>
      </div> <!-- col-lg-8 -->



      {{> _sidebar}}

        <div class="col-sm-11 col-md-11 col-12 p-2 mt-4 testCenter" >
          <img src="/images/editors/{{analysisDetails.writtenBy.picture}}" alt="" class="editorImg img-fluid float-sm-left p-2 mr-sm-2" style="display:block; margin:0 auto;"/>
            <p class="editorName font-weight-bold mt-4 mb-4">{{analysisDetails.writtenBy.firstName}} {{analysisDetails.writtenBy.lastName}}, {{analysisDetails.writtenBy.editorTitle}}</p>
          <p class="negativeMargin editorName">{{analysisDetails.writtenBy.aboutMe}}</p>
        </div>

       

        {{!-- <div class="col-12" id="bannerDetails">
          <div class="banner" >
            <img src="/images/banner.jpg" class="bannerTumacenjeAnaliza" alt="tumačenje rezultata laboratorijskih analiza" title="tumačenje rezultata laboratorijskih analiza">
            <div class="bannerOverlay">Da li Vam je potrebno tumačenje rezultata laboratorijskih analiza?</div>
            <a href="/tumacenje-laboratorijskih-analiza" target="_blank" class="btnBanner text-uppercase btn-success btn pb-4" >saznajte više</a>
          </div>
        </div> --}}


      {{else}}
    <p style="clear:both;">
      Trenutno ne postoji opis za ovu analizu. Ukoliko želite da pišete za LabCube, <a href="/kontakt" target="_blank">javite se.<a/>
    </p>
      {{/if}}
	  </div><!--  row end  -->
  </div> <!-- container end -->
</section> <!-- section details end -->

{{> _footer}}
