{{> _innerNavFrontend}}
<section id="details">
  <div class="container">
    <div class="row" >
      <div class="col-md-8 col-lg-9">
        <!-- header -->

        <p class="float-right">
          <!-- <span class="titleDetails mx-4">{{minPrice.cenovnik.[0].cena}} - {{maxPrice.cenovnik.[0].cena}}</span> -->
          {{#each prices}}
          <span class="titleDetails mx-4">{{minPrice}} - {{maxPrice}}</span>
          {{/each}}
          <img src="/images/stampaj.svg" class="mt-auto mx-3 mb-2" />
          <button class="btn btn-outline-success text-uppercase float-right btn-block text-uppercase mt-auto addAnalysis" data-analysisID={{analysisDetails.id}} data-analysisName="{{analysisDetails.analysisName}}" data-groupImg="{{analysisDetails.groupId.iconPath}}">dodaj</button>
        </p>

        <div class="float-left">
          <h1 class="headTitle">{{analysisDetails.analysisName}}</h1>

          <ul>
            {{#each analysisDetails.abbr}}
              <li>{{this}}</li>
            {{/each}}
            <!-- {{#each analysisDetails.alt}}
              <li>{{this}}</li>
            {{/each}} -->
          </ul>
        </div>
        {{#if (empty analysisDetails.preview)}}
        {{! display abbr}}

        <ul class="analysisDescription float-left mt-4">
          <li>
            <h5 id="oAnalizi">O analizi</h5>
            <p>{{{analysisDetails.shortDesc}}}</p>
          </li>
          <li><h5 id="uzorak">Uzorak</h5>
              <p>{{{analysisDetails.sample}}}</p>
          </li>
          <li>
            <h5 id="kadaSeIspituje">Kada se ispituje?</h5>
            <p>{{{analysisDetails.examination}}}</p>
          </li>
          <li>
            <h5 id="priprema">Priprema</h5>
            <p>{{{analysisDetails.preparation}}}</p>
          </li>
          <li>
            <h5 id="detaljanOpis">Detaljan opis</h5>
            <p>{{{analysisDetails.description}}}</p>
          </li>
          <div class="d-flex flex-column flex-lg-row">
             <div class="flexFix justify-content-between snizeneVrednosti">
                <h5 id="rezultati">Snižene vrednosti</h5>
                <p>{{{analysisDetails.low}}}</p>
                <!-- {{{highAndLowValues analysisDetails.low}}} -->
                <!-- {{#if (strLength analysisDetails.low)}}
                  <a class="expandDetails" data-toggle="collapse" href="#collapsedDetailsLow"><i class="fas fa-angle-down"></i></a>
                  <div class="collapse" id="collapsedDetailsLow">
                    <p>{{{highAndLowValuesExtend analysisDetails.low}}}</p>
                  </div>
               {{/if}} -->
             </div>

             <div class="flexFix justify-content-between poviseneVrednosti">
                <h5>Povišene vrednosti</h5>
                  <p>{{{analysisDetails.high}}}</p>
                  <!-- {{{highAndLowValues analysisDetails.high}}} -->
                <!-- {{#if (strLength analysisDetails.high)}}
                  <a class="expandDetails"  data-toggle="collapse" href="#collapsedDetailsHigh">
                    <i class="fas fa-angle-down"></i></a>
                  <div class="collapse" id="collapsedDetailsHigh">
                    <p>{{{highAndLowValuesExtend analysisDetails.high}}}</p>
                  </div>
                {{/if}} -->
              </div><!-- flexfix -->
           </div><!-- flex end snizene i povisene vrednosti -->
           <div class="napomena">
             <h5 id="napomena">Napomena</h5>
             <p>{{{analysisDetails.notes}}}</p>
           </div>

           <ol>
             <h5 class="literatura" id="literatura">Literatura</h5>
             {{#each analysisDetails.references}}
              <li>{{#if (notBlank referenceLink)}}<a href="http://{{referenceLink}}" target="_blank">{{referenceTitle}}</a>{{else}}{{referenceTitle}}{{/if}}</li>
             {{/each}}
           </ol>
        </ul><!-- analysisDescription end -->


          <ul class="povezaneAnalize float-left" >
            <h5 id="povezaneAnalize">Povezane analize</h5>
            {{#each analysisDetails.connectedTo}}
                <li><a href={{slug}} class="text-white" class="nolink">{{analysisName}} ({{abbr.[0]}})</a></li>

            {{/each}}
          </ul>

      </div> <!-- col-lg-8 -->



      {{> _sidebar}}

      <div class="d-flex col-12">
        <div class="col-2 pl-0">
            <img src="/images/editors/{{analysisDetails.writtenBy.picture}}" alt="" class="editorImg pr-4" />
          </div>
        <div class="col-9 d-flex flex-column justify-content-center " >
          <p class="editorName font-weight-bold">{{analysisDetails.writtenBy.firstName}} {{analysisDetails.writtenBy.lastName}}, {{analysisDetails.writtenBy.editorTitle}}</p>
          <!-- <p class="negativeMargin editorName">{{analysisDetails.writtenBy.editorTitle}}</p> -->
          <p class=" negativeMargin editorName">{{analysisDetails.writtenBy.aboutMe}}</p>
        </div>
      </div>

      {{else}}
    <p style="clear:both;">
      Trenutno ne postoji opis za ovu analizu. Ukoliko želite da pišete za lab cube, javite se.
    </p>

      {{/if}}




	  </div><!--  row end  -->
  </div> <!-- container end -->
</section> <!-- section details end -->


{{> _footer}}
