{{> _innerNavGroupDetails}}

<section id="groupDetails">
  <div class="container" id="resultsGroupDetails">
    <div class="row mb-4 mt-4">
      <div class="col-12 mb-5" >
        <p class="mt-2 mb-4 groupDescription boxshadowBckg" >{{group.description}}</p>
      </div>
      <!-- <div class="col-9"> -->
      <div class="col-12">

        <table class="table results table-hover table-responsive-sm">
          <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
          </div>
 					<tbody id="resultTable">
            {{#each analyisisdata}}
            <tr>

              {{#if (empty this.preview)}}
              <td><img src="/images/detail.svg" data-toggle="tooltip" title="{{this.preview}}" class="tooltipImg mr-2">
                <a href="../results/analysis/{{this.slug}}" rel="canonical" class="nolink text-primary" target="_blank">{{this.name}}</a>
              </td>
                {{else}}
                <td><img src="/images/detail.svg" data-toggle="tooltip" title="{{this.preview}}" class="mr-2">
                  <a class="text-muted">{{this.name}}</a></td>
              {{/if}}
              <!-- <td>{{#each abbr}} {{this}} {{/each}}</td> -->
          
              <td class="d-none d-sm-table-cell">{{#each abbr}}{{displayPhoneList this}}{{/each}}</td>

              {{#if this.availableHC.[0]}}
                <td class="d-none d-sm-table-cell"><img src="/images/hospital-alt.svg" data-toggle='tooltip' title="Analizu je moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
                {{else}}
                  <td class="d-none d-sm-table-cell"><img src="/images/hospital-alt_off.svg" data-toggle='tooltip' title="Analizu nije moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
              {{/if}}
              <td class=""><span class="font-weight-bold priceRange">{{this.minPrice}} - {{this.maxPrice}}</span></td>
              {{!-- <td><button class="btn btn-danger float-right btn-block text-uppercase addAnalysis" data-analysisid="{{this._id}}" data-groupImg="{{this.iconPath}}" data-analysisName="{{this.name}}">uporedi cenu</button></td> --}}
            </tr>
            {{/each}}
          </tbody>
 				</table><!-- table -->
      </div><!-- col 8 end -->



        <!-- {{itemsArray}} -->
    </div><!-- row end -->
  </div><!-- container end -->
</section>


{{> _footer}}
