{{> _innerNavGroupDetails}}

<section id="groupDetails">
  <div class="container" id="resultsGroupDetails">
    <div class="row mb-4 mt-4">
        <p class="mt-2 mb-4 groupDescription">{{group.description}}</p>
      <div class="col-9">

        <table class="table results table-hover">
          <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
          </div>
 					<tbody id="resultTable">
            {{#each analyisisdata}}
            <tr>
              <td><img src="/images/detail.svg" data-toggle="tooltip" title="{{this.preview}}" class="tooltipImg mr-2">
                <a href="../results/analysis/{{this.slug}}" class="nolink">{{this.name}}</a></td>
              <!-- <td>{{#each abbr}} {{this}} {{/each}}</td> -->
              <td>{{#each abbr}} {{displayPhoneList this}} {{/each}}</td>

              {{#if this.availableHC.[0]}}
                <td><img src="/images/hospital-alt.svg" data-toggle='tooltip' title="Analizu je moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
                {{else}}
                  <td><img src="/images/hospital-alt_off.svg" data-toggle='tooltip' title="Analizu nije moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
              {{/if}}
              <td><span class="font-weight-bold">{{this.minPrice}} - {{this.maxPrice}}</span></td>
              <td><button class="btn btn-outline-success float-right btn-block text-uppercase addAnalysis" data-analysisid="{{this._id}}" data-groupImg="{{this.iconPath}}" data-analysisName="{{this.name}}">dodaj</button></td>
            </tr>
            {{/each}}
          </tbody>
 				</table><!-- table -->
      </div><!-- col 8 end -->

        {{> _sidebar}}

        <!-- {{itemsArray}} -->
    </div><!-- row end -->
  </div><!-- container end -->
</section>


{{> _footer}}
