{{> _innerNavFrontend}}

<!-- ovo je stranica na kojoj labcube tumaci konkretan rezultat koji je korisnik uplodovao -->

<div class="container" id="healthProfile">
 		<div class="row">


      <!-- <div class="col-12 mt-4 "> -->

        <a href="/otherResultsInterpretation/page/1" class="mt-5">< nazad</a>
        {{#each findOtherResult}}
        <!-- <div class="userDetails mt-4" > -->




        <div class="col-12 pt-4">
          <h1 class="headTitle">{{this.userId.username}} </h1>
            <p><a href="/results/{{this.result}}" target="_blank"><h1>pogledaj rezultate</h1></a></p>
        </div>

        <div class="col-4 my-4">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/birthYearProfileData.svg"  class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Godina rođenja</span>
                <input type="number" class="d-block mt-2 profilePersonalData" id="godinaRodjenja" name="godinaRodjenja" value={{this.userId.birthYear}} placeholder="Godina rođenja" readonly>
          </div>
        </div>

        <div class="col-4 my-4">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/cellphoneProfileData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Mobilni telefon</span>
              <input type="text" id="mobilniTelefon" class="d-block mt-2 profilePersonalData" name="mobilniTelefon" value="{{this.userId.mobile}}" placeholder="u fomatu 06XXXXXXX" readonly>
          </div>
        </div>

        <div class="col-4 my-4">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/genderProfileData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Pol</span>
            <select class="d-block profilePersonalData mt-2" name="pol" disabled>
              <option class="" value="Null" {{#if (checkBox this.userId.gender 'Null')}} selected {{/if}}>Nije važno</option>
              <option class="" value="M" {{#if (checkBox this.userId.gender 'M')}} selected {{/if}}>Muški</option>
              <option class="" value="Ž" {{#if (checkBox this.userId.gender 'Ž')}} selected {{/if}}>Ženski</option>
            </select>
          </div>
        </div>


        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/heightHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Visina (cm)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="visina" name="visina" placeholder="Visina(cm)" value="{{this.userId.height}}" readonly>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/weightHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Težina (kg)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="tezina" name="tezina" placeholder="Težina(kg)" value="{{this.userId.weight}}" readonly>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bmiHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>BMI (Body Mass Index)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="bmi" step="0.01" name="bmi" readonly="readonly" value={{this.userId.bmi}} placeholder="BMI" readonly>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/smokingHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Pušač?</span>
            <select class="d-block profilePersonalData mt-2" name="pusac" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.smoking 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.smoking 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.smoking 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/alchocolHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Alkohol?</span>
            <select class="d-block profilePersonalData mt-2" name="alkohol" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.alcohol 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.alcohol 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox uthis.userId.alcohol 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bloodPressureHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen krvni pritisak?</span>
            <select class="d-block profilePersonalData mt-2" name="pritisak" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.bloodPresure 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.bloodPresure 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.bloodPresure 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Kakva je ishrana pacijenta?</span>
            <select class="d-block profilePersonalData mt-2" name="ishrana" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.nutrition 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Zdrava" {{#if (checkBox this.userId.nutrition 'Zdrava')}} selected {{/if}}>Zdrava</option>
              <option class="" value="Umerena" {{#if (checkBox this.userId.nutrition 'Umerena')}} selected {{/if}}>Umerena</option>
              <option class="" value="Nezdrava" {{#if (checkBox this.userId.nutrition 'Nezdrava')}} selected {{/if}}>Nezdrava</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/stressHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Da li je pod stresom?</span>
            <select class="d-block profilePersonalData mt-2" name="stres" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.stress 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.stress 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.stress 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/exserciseHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Nedeljno sati vežba?</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" name="vezbe" placeholder="Koliko sati nedeljno vežbate?" value="{{this.userId.hoursExcercise}}" readonly>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/sugarHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen šećer?</span>
            <select class="d-block profilePersonalData mt-2" name="secer" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.sweets 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.sweets 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.sweets 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodSuplementHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dodaci ishrani?</span>
            <select class="d-block profilePersonalData mt-2" name="dodaciIshrani" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.foodSuplements 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.foodSuplements 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.foodSuplements 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/therapyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno na terapiji?</span>
            <select class="d-block profilePersonalData mt-2" name="terapija" id="therapy" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.therapy 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.therapy 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.therapy 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        {{#if (empty this.userId.therapyComment)}}
        <div class="col-12 mt-5" id="therapyComment">
            <label for="therapyComment">Trenutna terapija komentar</label>
            <textarea name="terapijaKomentar" class="col-12 mt-3" rows="5" cols="80" placeholder="Napišite koju terapiju uzimate." disabled>{{this.userId.therapyComment}}</textarea>
        </div>
        {{/if}}

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/currentStatusHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dijagnostifikovano oboljenje?</span>
            <select class="d-block profilePersonalData mt-3" name="trenutnoBolesni" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.currentStatus 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Alchajmerova bolest" {{#if (checkBox this.userId.currentStatus 'Dijabetes')}} selected {{/if}}>Alchajmerova bolest</option>
              <option class="" value="Bolesti štitne žlezde" {{#if (checkBox this.userId.currentStatus 'Bolesti štitne žlezde')}} selected {{/if}}>Bolesti štitne žlezde</option>
              <option class="" value="Ciroza jetre i hepatitis" {{#if (checkBox this.userId.currentStatus 'Ciroza jetre i hepatitis')}} selected {{/if}}>Ciroza jetre i hepatitis</option>
              <option class="" value="Dijabetes" {{#if (checkBox this.userId.currentStatus 'Dijabetes')}} selected {{/if}}>Dijabetes</option>
              <option class="" value="Hronične respiratorne bolesti" {{#if (checkBox this.userId.currentStatus 'Hronične respiratorne bolesti')}} selected {{/if}}>Hronične respiratorne bolesti</option>
              <option class="" value="Kardiovaskularne bolesti" {{#if (checkBox this.userId.currentStatus 'Kardiovaskularne bolesti')}} selected {{/if}}>Kardiovaskularne bolesti</option>
              <option class="" value="Maligne bolesti" {{#if (checkBox this.userId.currentStatus 'Maligne bolesti')}} selected {{/if}}>Maligne bolesti</option>
              <option class="" value="Tuberkuloza" {{#if (checkBox this.userId.currentStatus 'Tuberkuloza')}} selected {{/if}}>Tuberkuloza</option>
            </select>
          </div>
        </div>


        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/famillyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Oboljenja u porodici?</span>
            <select class="d-block profilePersonalData mt-2" id="anamneza" name="anamneza" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.anamnesis 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.anamnesis 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.anamnesis 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        {{#if (empty this.userId.currentStatusComment)}}
        <div class="col-12 d-none" id="anamnezaKomentar">
          <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="5" cols="80" disabled>this.userId.currentStatusComment</textarea>
        </div>
        {{/if}}

        {{#if (checkGender this.userId.gender)}}

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/menstruationHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Menstruacija?</span>
            <select class="d-block profilePersonalData mt-2" name="menstruacija" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.menstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.menstruation 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.menstruation 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/neetCycleHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Uredan ciklus?</span>
            <select class="d-block profilePersonalData mt-2" name="ciklusUredan" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.regularMenstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.regularMenstruation 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.regularMenstruation 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/gynecologistHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Redovni ginekološki pregledi?</span>
            <select class="d-block profilePersonalData mt-2" name="redovanPregledGinekologa" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.regularGinecologyChecks 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.regularGinecologyChecks 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.regularGinecologyChecks 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>


        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/pregnentHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno trudni?</span>
            <select class="d-block profilePersonalData mt-2" name="trudnoca" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.pregnancy 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.pregnancy 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.pregnancy 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/brestFeedingHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno dojite?</span>
            <select class="d-block profilePersonalData mt-2" name="dojenje" disabled>
              <option class="" value="Odaberite" {{#if (checkBox this.userId.breastfeeding 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox this.userId.breastfeeding 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox this.userId.breastfeeding 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>
        {{/if}}

        <!-- </div> -->
          {{/each}}

      <!-- </div>\\\ -->

      <div class="col-12">
        <div class="table-responsive mt-4" id="labDashboard">
          <form class="" action="" method="post" id="lockTheRecord">
            {{#each findOtherResult}}


                <label class="chckBoxCustom">
                <input type="checkbox" name="owner" value="{{../user.id}}" id="zakljucaj" {{#if this.owner}} checked="checked"{{/if}} class="customCheck">
                <span class="checkmark"></span>
                {{#if this.owner}}
                <label for="zakljucaj" class="chckBoxCustom pl-2" id="lockStatus"><h3>Zaključano</h3></label>
                {{else}}
                <label for="zakljucaj" class="chckBoxCustom pl-2" id="lockStatus"><h3>Zaključaj</h3></label>
                 <span class="checkmark"></span>
                {{/if}}
                </label>


              <input type="hidden" name="interpretationId" id="interpretationId" value="{{this._id}}">


          </form>

          <h2 id='newLine'>dodaj novi red</h2>
          <span id="counter"></span>

                <!-- izmeniti  -->

                <form  action="/analysisOtherInterpretation/{{this.id}}" method="post" >
                  {{/each}}
                  <table class="table" id="resultsUpload">

                        <tr>
                          <th class="small text-info">Ime analize</th>
                          <!-- <th class="small text-info">Id analize</th> -->
                          <th class="small text-info">Vrednost</th>
                          <th class="small text-info">Jedinica</th>
                          <th class="small text-info"><</th>
                          <th class="small text-info">></th>
                          <th class="small text-info">Od</th>
                          <th class="small text-info">Do</th>
                          <th class="small text-info">Van granica?</th>
                          <th class="small text-info">Komentar</th>
                        </tr>
                    <!-- <ul class="list-group" style="" id="analysisFound"></ul> -->
                <!-- <tr> -->





                {{#each findOtherResult}}
                  {{#each this.analyses}}
                  {{#if (notZero this.value)}}
                  <tr>
                  <td><input type="text" class="form-control searchForAnalysis" value="{{this.analysis}}" name="analysisName"></td>
                  <ul class="list-group" style="" id="analysisFound"></ul>
                  <input type="hidden" class="form-control analysisId" value="{{this.analysisId}}" name="analysisId">
                  <td><input type="text" class="form-control" value="{{this.value}}" name="value"></td>
                  <td><input type="text" class="form-control" value="{{this.measure}}" name="measure"></td>
                  <td><input type="text" class="form-control" value="{{this.lessThen}}" name="lessThen"></td>
                  <td><input type="text" class="form-control" value="{{this.greaterThen}}" name="greaterThen"></td>
                  <td><input type="text" class="form-control" value="{{this.valueFrom}}" name="valueFrom"></td>
                  <td><input type="text" class="form-control" value="{{this.valueTo}}" name="valueTo"></td>
                  <td><div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" name="outsideOfTheRange{{@index}}" value="true" {{#if this.outsideOfTheRange}} checked {{/if}}></div></td>
                  <td><textarea rows=3 cols=35 name="commentResult">{{#if (empty this.commentResult)}}{{this.commentResult}}{{/if}}</textarea></td>
                </tr>
                {{/if}}
                {{/each}}
            {{/each}}

                <!-- <tr>

                  <td><input type="text" class="form-control searchForAnalysis" value="" name="analysisName"></td>
                  <ul class="list-group" style="position:absolute; width:98%; background-color:white;  z-index:999" id="analysisFound"></ul>
                  <input type="hidden" class="form-control analysisId" value="" name="analysisId">
                  <td><input type="text" class="form-control" value="" name="value"></td>
                  <td><input type="text" class="form-control" value="" name="measure"></td>
                  <td><input type="text" class="form-control" value="" name="lessThen"></td>
                  <td><input type="text" class="form-control" value="" name="greaterThen"></td>
                  <td><input type="text" class="form-control" value="" name="valueFrom"></td>
                  <td><input type="text" class="form-control" value="" name="valueTo"></td>
                  <td><div class="form-check form-check-inline"><input class="form-check-input" type="checkbox" name="outsideOfTheRange1" value="true" ></div></td>
                  <td><textarea rows=3 cols=35 name="commentResult"></textarea></td>

                </tr>  -->



          </table>



              <p>Glavni komentar</p>
              {{#each findOtherResult}}
              <textarea name="commentCube"  style="width:100%"  rows="8" id="cubeComment">{{#if (empty this.commentCube)}}{{this.commentCube}}{{/if}}</textarea>
              <button class="btn btn-outline-info mb-4 btn-block mt-3">sačuvaj</button>


              <div class="my-5">
                <label for="published" class="chckBoxCustom"><h3 class="pl-2">Objavi tumačenje i pošalji mejl korisniku</h3>
                  <input type="checkbox" name="publish" class="text-center customCheck" value="Završeno" id="published" {{#if (checkStatus this.status)}} checked {{/if}}>
                  <span class="checkmark"></span>
                </label>
              </div>



              {{/each}}


            </form>
        </div>
      </div>

      <!-- <div class="col-6 mt-4">
          {{#each analysisValues}}
              {{this}}
          {{/each}}
      </div> -->



 		</div><!-- table row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
