{{> _innerNavFrontendLab}}
<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>



<section id="labDetailsInner" class="labDetailsInnerPage">
  <div class="container">

    <!-- <div class="container-fluid pr-0 pl-0">
      <div class="row">

      </div>d
    </div> -->
    <table class="table results table-hover">
      <tbody id="resultTableAnalysis">
      </tbody>
    </table><!-- table -->
    <div class="row ">
      <div class="col-12 mt-2 mb-4">
        <!-- <span id="backtoMap">povratak na mapu</span> -->
        <!-- <small class="float-right"><i class="fas fa-print"></i></small> -->
        <h1 class="mb-5 d-inline" id="labName" data-id="{{labDetails._id}}">{{labDetails.labName}}</h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-6 mt-4 d-inline">
        <div class="labInfoWindowDetails">

           <!-- <img src="/images/lablogo/{{labDetails.logo}}" class="labDetailsLogo"> -->
           <p class="labDetailsAdresa">{{labDetails.address}}, {{labDetails.placeId.place}}</p>
           <!-- <p class="labDetailsGrad">{{labDetails.placeId.place}} / {{labDetails.placeId.municipality}}</p> -->

           <!-- <p class="labDetailsTelefoni">{{displayPhoneList labDetails.phone}}</p> -->
           <!-- <p class="labDetailsTelefoni">{{#each labDetails.phone}}<a href="tel:{{this}}">{{this}} </a>{{/each}}</p> -->
           <p class="labDetailsTelefoni">{{{clickOnPhone labDetails.phone}}}</p>
           {{#if (notBlank labDetails.web)}}
           <p class="web clearfix"><a href="http://www.{{labDetails.web}}" target="_blank">{{labDetails.web}} </a></p>
           {{/if}}
           <!-- <p><</p> -->
        </div>
      </div><!-- col-6 -->

      <div class="col-12 col-md-6 col-sm-12 col-lg-4 col-xl-3 mt-4 labFeaturesPadding d-flex flex-column justify-content-center">
        <!-- ako lab nije akreditovan ili bilo sta od dodatnih opcija ne prikzaivati ovu sekciju-->
        {{#if (checkServices labDetails.accredited labDetails.antigen labDetails.private labDetails.patronage labDetails.disability)}}
        <div class="labFeatures">
          {{#if labDetails.accredited}}
          <p><img src="/images/verified.svg" class="labInfoWindowVerified" title="akreditovano">Akreditovana laboratorija</p>
          {{/if}}
          {{#if labDetails.antigen}}
          <p><img src="/images/covidIcon.svg-1615411728326.svg" class="labInfoWindowVerified labAntigenIcon" title="antigenski test">Radimo antigenski test</p>
          {{/if}}
          {{#if labDetails.private}}
          <p><img src="/images/osiguranje.svg" class="labInfoWindowOsiguranje" title="privatno osiguranje"> Privatno osiguranje</p>
          {{/if}}
          {{#if labDetails.patronage}}
          <p><img src="/images/ambulance_2.svg" class="labInfoWindowOsiguranje" title="radimo patronažu"> Radimo patronažu</p>
          {{/if}}
          {{#if labDetails.disability}}
          <p><img src="/images/disability.svg" class="labInfoWindowOsiguranje" title="dostupno invalidima"> Dostupno invalidima</p>
          {{/if}}
        </div>
      {{/if}}

      </div>
      <div class="col-12 col-md-6 col-lg-3 col-xl-3 labScorePadding mt-4">

        <div class="feedback text-center d-flex flex-column justify-content-center" id="overallScore" >
          <span class="text-muted">Ocena laboratorije</span>
          {{#if (checkStar star)}}
          <h3 class="align-items-center">{{star}}</h3>
          <small class="text-muted" style="margin-top:-10px;">od 5</small>
          <!-- <p class="mb-0"><progress max=5 value="{{hospitality}}"> </progress> {{hospitality}} ljubaznost</p>
          <p class="mb-0"><progress max=5 value="{{venipuncture}}"> </progress> {{venipuncture}} venepunkcija</p>
          <p class="mb-0"><progress value="{{speed}}" max="5"> </progress> {{speed}} izdavanje rezultata</p>
          <p class="mb-0"><progress value="{{covid}}" max="5"> </progress> {{covid}} covid odgovorni</p>
          <p class="mb-0"><progress value="{{overall}}" max="5"> </progress> {{overall}} opšti utisak</p> -->
          {{else}}
          <h3 class="mt-3"><i class="far fa-question-circle" title="Još uvek nema ocena za ovu laboratoriju."></i></h3>
          <span class="text-muted">očekuje se prva ocena...</span>
       </div>
       {{/if}}



        <!-- <div class=" " > -->
          <!-- <p class="mb-0"><progress value="4" max=5> </progress> {{hospitality}} - <span class="text-left"> Ljubaznost</span></p>
          <p class="mb-0"><progress value="5" max=5> </progress> {{venipuncture}} - <span class="text-left"> Venepunkcija</span></p>
          <p class="mb-0"><progress value="{{speed}}" max="5"> </progress> {{speed}} - <span class="text-left"> Rezultati</span></p>
          <p class="mb-0"><progress value="{{covid}}" max="5"> </progress> {{covid}} - <span class="text-left"> Covid odgovorni</span></p>
          <p class="mb-0"><progress value="{{overall}}" max="5"> </progress> {{overall}} - <span class="text-left"> Opšti utisak</span> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12 mt-2 table-responsive">
        <table class="table table-sm workingHoursLabDetails">
          <thead>
            <tr>
              <td class="text-center dayWeek">P</td>
              <td class="text-center dayWeek">U</td>
              <td class="text-center dayWeek">S</td>
              <td class="text-center dayWeek">Č</td>
              <td class="text-center dayWeek">P</td>
              <td class="text-center dayWeek">S</td>
              <td class="text-center dayWeek">N</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center {{isItOpen status 1 }}">{{labDetails.workingHours.monday.opens}} - {{labDetails.workingHours.monday.closes}}</td>
              <td class="text-center {{isItOpen status 2}}">{{labDetails.workingHours.tuesday.opens}} - {{labDetails.workingHours.tuesday.closes}}</td>
              <td class="text-center {{isItOpen status 3}}">{{labDetails.workingHours.wednesday.opens}} - {{labDetails.workingHours.wednesday.closes}}</td>
              <td class="text-center {{isItOpen status 4}}"> {{labDetails.workingHours.thursday.opens}} - {{labDetails.workingHours.thursday.closes}}</td>
              <td class="text-center {{isItOpen status 5}}"> {{labDetails.workingHours.friday.opens}} - {{labDetails.workingHours.friday.closes}}</td>
              <td class="text-center {{isItOpen status 6}}">{{labDetails.workingHours.saturday.opens}} - {{labDetails.workingHours.saturday.closes}}</td>
              <td class="text-center {{isItOpen status 0}}">{{labDetails.workingHours.sunday.opens}} - {{labDetails.workingHours.sunday.closes}}</td>
            </tr>
          </tbody>
        </table>
      </div>
        {{!-- <div class="col-12 my-5">
        <p class=""><h4 class="text-center">Ukoliko imaš pitanja u vezi tvojih laboratorijskih nalaza od sada je moguće dobiti online tumačenje od strane iskusnih biohemičara i lekara koji razumeju koliko ispravno razumevanje laboratorijskih nalaza doprinosi boljoj dijagnostici.</h4> <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btn-danger display-2">saznaj više</a></p>
        </div> --}}
      {{!-- <div class="col-12">
        <h4 class="boxshadowBckg text-center my-5">Online tumačenje laboratorijskih nalaza <a href="/tumacenje-laboratorijskih-analiza" target="_blank" class="btn  btn-outline-info text-uppercase m-2 p-2">Saznaj više</a></h4>
      </div> --}}
      

    </div><!-- row -->



    <div class="col-12">
      <section id="googleMap" style="">
        <div id="mapDetailsLab"></div>
      </section>
    </div>

      <section id="labPrices">
        <div class="container" id="resultsLabDetails">
          <div class="row mb-2">
            {{#if numofanalysis}}
            <div class="col-12 table-responsive">
              <p class="selectedAnalysisTitle">odabrane analize</p>
              <small class="float-right mt-2 mb-4 text-muted"><sup>*</sup>Cene su informativnog karaktera, molimo Vas da konačne cene odabranih analiza proverite pre odlaska u laboratoriju.</small>
              <table class="table results table-hover">
       					<tbody id="resultTable">
                  {{#each selectedAnalysis}}
                  <tr>
                    <td><img src="/images/detail.svg" data-toggle="tooltip" title="{{this.preview}}" class="tooltipImg mr-2">
                      <a href="../../results/analysis/{{this.slug}}" class="nolink" target="_blank">{{this.name}}</a></td>
                    <td class="d-none d-md-table-cell">{{#each abbr}} {{displayPhoneList this}} {{/each}}</td>
                    <!-- <td>{{#each alt}} {{displayPhoneList this}} {{/each}}</td> -->

                    {{#if this.availableHC.[0]}}
                      <td class="d-none d-md-table-cell"><img src="/images/hospital-alt.svg" data-toggle='tooltip' title="Analizu je moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
                      {{else}}
                      <td class="d-none d-md-table-cell"><img src="/images/hospital-alt_off.svg" data-toggle='tooltip' title="Analizu nije moguće uraditi u domu zdravlja o trošku zdravstvenog osiguranja."></td>
                    {{/if}}
                    <td><span class="font-weight-bold price mr-sm-3" data-price={{this.cenovnik.cena}}>{{this.cenovnik.cena}}</span></td>
                    <td><button class="btn btn-outline-danger float-right btn-block text-uppercase removeAnalysis" data-analysisid="{{this.idAnalysis}}" data-groupImg="{{this.iconPath}}" data-analysisName="{{this.name}}">X</button></td>
                  </tr>
                  {{/each}}
                </tbody>
       				</table><!-- table -->
            </div><!-- col 12 end -->
            <div class="col-12">
              <div class="mt-5">
                 
                  {{#if labDetails.partner}}
                {{!-- <p class="aboutUs"><span class="numAnalysis">Redovna cena </span><span class="totalPrice" ></span></p> --}}
                <p class="aboutUsDiscount" id="discount" data-discount="{{labDetails.discount}}"><span class="">Cena sa popustom za LabCube korisnike</span> <span class="totalPrice" id="labCubePrice"></span></p>
                {{!-- <p class="text-center"><span> + venepunkcija {{labDetails.description}} rsd</span></p> --}}
                <p class="text-center mb-5"><span> + trošak uzimanja uzorka</span></p>
                  {{else}}
                   {{!-- <p class="aboutUs"><span class="numAnalysis">Redovna cena </span><span class="totalPrice" ></span></p> --}}
                <p class="aboutUsDiscount" id="discount" data-discount="{{labDetails.discount}}"><span class="">Ukupno</span> <span class="totalPrice" id="labCubePrice"></span></p>
                {{!-- <p class="text-center"><span> + venepunkcija {{labDetails.description}} rsd</span></p> --}}
                  {{/if}}
              </div>   
            </div>
             
            {{/if}}



          </div><!-- row end --> 
          <div class="col-12 labDetailsActionBtn mt-4">
          {{#if userId}}
            {{#if labDetails.partner}}
            {{!-- <a class="btn btn-success text-uppercase " href="">povratak nazad</a> --}}
            {{!-- <a class="btn btn-success text-uppercase p-4" id="schedule" href="/schedule/{{labDetails.id}}/{{#each selectedAnalysis}}{{this.name}},{{/each}}/{{userId}}/{{total}}">prosledi laboratoriji </a>  --}}
             <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Besplatno tumačenje rezultata</h5>
                    <p class="card-text generalInformation">Prosledi odabrane analize laboratoriji i dobijaš vaučer za besplatnu interpretaciju rezultata od strane naših lekara i biohemičara.</p>
                  </div>
                  </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                  <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Uvek na jednom mestu</h5>
                    <p class="card-text generalInformation">Nema više pretraživanja inboxa kada su ti potrebni rezultati. Sva istorija laboratorijskih analiza je zauvek sačuvana na jednom mestu, uvek dostupna, hronološki sortirana, sigurna.</p>
                  </div>
                  </div>
                </div>
            
                  <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                    <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Prosledi laboratoriji</h5>
                      <p class="card-text generalInformation">Klikni na dugme ispod i laboratorija će dobiti listu analiza koje si odabrao. Kada odeš u laboratoriju napomeni da si odabrao analize koristeći labcube i reci im svoju mejl adresu. U međuvremenu, mi ti šaljemo vaučer za besplatno tumačenje rezultata na mejl.</p>
                    </div>
                    </div>
                  </div>
            <btn class="btn btn-success text-uppercase p-4" id="schedule">prosledi laboratoriji </btn> 
              {{else}}
              <p class="generalInformation">Laboratorija nije trenutno LabCube partner</p>
            {{/if}}
            {{else}}
             <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Besplatno tumačenje rezultata</h5>
                    <p class="card-text generalInformation">Prosledi odabrane analize laboratoriji i dobijaš vaučer za besplatnu interpretaciju rezultata od strane naših lekara i biohemičara.</p>
                  </div>
                  </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                  <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Uvek na jednom mestu</h5>
                    <p class="card-text generalInformation">Nema više pretraživanja inboxa kada su ti potrebni rezultati. Sva istorija laboratorijskih analiza je zauvek sačuvana na jednom mestu, uvek dostupna, hronološki sortirana, sigurna.</p>
                  </div>
                  </div>
                </div>
            
                  <div class="col-12 col-md-6 col-lg-4 d-flex align-self-stretch">
                    <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Kreiraj nalog</h5>
                      <p class="card-text generalInformation">Samo registrovani korisnici mogu proslediti analize laboratoriji. Registruj se i ostvari popust i pravo na besplatnu interpretaciju tvoji rezultataž</p>
                    </div>
                    </div>
                  </div>
               <div class="col-12 text-center labDetailsActionBtn">
                <a href="/registracija" target="_blank" class="btn btn-success text-uppercase p-4">Registruj se i ostvari popust</a>
              </div>
          {{/if}}

            {{#if userId}}
            {{!-- skloniti clasu d-none ako je potrebno prikazati deo ispod --}}
           <div class="form-group col-12  mt-4 ">

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="uzimanjeUzorkaLab"  name="uzimanjeUzorka" value="laboratorija" class="custom-control-input" >
                <label class="custom-control-label" for="uzimanjeUzorkaLab">Odlazak u laboratoriju</label>
              </div>

              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="uzimanjeUzorkaKuca" name="uzimanjeUzorka" value="patronaza" class="custom-control-input"  >
                <label class="custom-control-label" for="uzimanjeUzorkaKuca">Zakazivanje patronaže</label>
              </div>
            </div>
            <div class="form-group col-12 d-none uzorakLab" >
                <label for="datepicker1">Odaberite datum odlaska u laboratorju</label>
                <input type="text" id="datepicker1"  class="form-control" placeholder="Odaberite datum odlaska u laboratoriju">

            </div>

            <div class="form-group col-12 d-none uzorakPatronaza">
                <label for="datepicker2">Odaberite datum i vreme patronaže</label>
                <input id="datepicker2" class="form-control" placeholder="Odaberite datum odlaska u laboratoriju">
                <p>Nakon što odaberete datum i vreme patronaže laboratorija će vas kontaktirati i potvrditi dolazak. Proverite da li ste dodali adresu i broj mobilnog telefona vasem <a href="/profile" target="_blank" class="link-unstyled">profilu.</a></p>
            </div>


            {{!-- <button class="btn btn-success text-uppercase col-12 d-none" id="schedule">prosledite odabrane analize laboratoriji</button> --}}
        
            {{/if}}

            {{!-- <a class="btn btn-success text-uppercase " href="">prosledi na svoj mejl</a>
            <a class="btn btn-success text-uppercase " href="">zakaži patronažu</a>  --}}
          </div>

        </div><!-- container end -->
      </section>

      <section id="resultsLabDetailsComments">
        {{#if userId}}
          {{#unless alreadySentFlag}}
        <div class="col-12">
          <form class="mt-5" action="/sendFeedback/{{labDetails._id}}" method="post">
            <label for="labFeedback" class="text-muted">Napiši komentar i oceni laboratoriju</label>
              <textarea name="labFeedback" class="col-12 mt-3" data-hj-allow rows="5" cols="80" id="labFeedback" placeholder=""></textarea>
              <div class="wrapper">
                <input type="radio" id="st1" value="5" name="star"/>
                <label for="st1"></label>
                <input type="radio" id="st2" value="4" name="star"/>
                <label for="st2"></label>
                <input type="radio" id="st3" value="3" name="star"/>
                <label for="st3"></label>
                <input type="radio" id="st4" value="2" name="star"/>
                <label for="st4"></label>
                <input type="radio" id="st5" value="1" name="star"/>
                <label for="st5"></label>
              </div>
              <button name="button" class="btn btn-block btn-primary text-uppercase mb-5">Pošalji komentar i oceni laboratoriju</button>
          </form>
        </div>
          {{/unless}}

          {{else}}
          <div class="col-12 text-center">
            <small class="text-muted my-4">Ukoliko želite da ocenite laboratoriju <a href="/prijava" target="_blank" class="nolinkLabDetails">prijavite se</a> ili <a href="/registracija" target="_blank" class="nolinkLabDetails">kreiraj nalog</a></small>
          </div>
        {{/if}}

        {{#if (greaterThenZero numOfFeedbacks)}}
        <div class="col-12 mt-4">
          <h4 class="mt-5">Komentari ({{numComments}})</h4>
          <ul class="labComments mb-5">
            {{#each feedbackSent}}
              {{#each user}}
                <div class="feedbackUser mt-4">{{createInitials this.username}}</div>
              {{/each}}

            <li>
              {{#if (empty this.commentSection.feedback)}}
            <span class="d-block feedbackDate mb-1 ">{{formatLabScheduleDate this.commentSection.date}} {{{generateStar this.commentSection.star}}}  </span><span class="feedbackComment">{{this.commentSection.feedback}}</span>
            {{else}}
                <span class="d-block feedbackDate mb-1 ">{{formatLabScheduleDate this.commentSection.date}} {{{generateStar this.commentSection.star}}}  </span><span class="feedbackComment">{{this.commentSection.star}}</span>
            {{/if}}
          </li>

            {{/each}}
        </ul>
        </div>
        {{/if}}

      </section>


      <!-- table-responsive -->
      {{!-- prikaz benefita --}}
        {{!-- <div class="col-12">
          <h4 class='benefitsTitle'>Odaberite analize i laboratoriju putem aplikacije i LabCube vam besplatno omogućuje</h4>
          <div class="d-flex flex-wrap">
            <div class="cardBenefits">
                <img src="/images/besplantoTumacenje.svg" class="mt-4" alt="">
                <p class="text-center benefit">Tumačenje rezultata od strane naših lekara</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/rezultatiOnline.svg" class="mt-4" alt="">
                <p class="text-center benefit">Rezultati svih analiza su Vam uvek dostupni online</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/pristup.svg" class="mt-4" alt="" height="40">
                <p class="text-center benefit">labcube dashboard i grafički prikaz rezultata</p>
            </div>
            <div class="cardBenefits">
                <img src="/images/podeliSaLekarom.svg" class="mt-4" alt="" class="">
                <p class="text-center benefit" style="" style="">Podelite rezultate sa odabranim lekarom</p>
            </div>
          </div>
        </div> --}}
        <!-- col-12 -->

        <!-- o nasoj laboratoriji -->
        <!-- <div class="col-12 mb-4" >
          <p class="aboutUs mt-5 text-uppercase">O našoj laboratoriji</p>
          <img src="/images/owner.jpg" alt="" class="float-left" style="height: 180px; padding-right:20px;">
          <p class="ourLab">Lorem Lorem debitis libero voluptatum, id dolores, voluptas consequatur officia, quas numquam magni.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique voluptates, amet suscipit perferendis dolor praesentium eligendi quis deleniti id sint. Molestias, ea. ipsum dolor sit amet, consectetur adipisicing elit. Totam qui amet quas, cupiditate alias nulla, minima laborum corporis! Aliquid iste sunt, ad!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, similique explicabo. Inventore quo molestiae ipsum labore, quidem nulla voluptate totam doloribus recusandae. dolres fuga sequi itaque quasi aperiam vel, rem, officia amet ex ipsa inventore voluptatum quisquam dicta obcaecati impedit esse ex, at distinctio fugit similique corporis in rem mollitia facilis, facere nihil eum quidem.</p>
        </div> -->
      <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-12 mt-2">
            <section id="googleMap">
              <div id="mapDetails"></div>
            </section>
          </div>
        </div>
      </div> -->

      </div>


  </div>

</section><!-- labdetails -->
<div class="container-fluid px-0 mt-4">
  <!-- <div class="row"> -->
    <!-- <div class="col-sm-12 col-lg-12"> -->
      <section id="googleMap">
        <div id="mapDetails"></div>
      </section>
    <!-- </div> -->
  <!-- </div> -->
</div>

<script>
  // function initMap(){

    // map options
    let options = {
      zoom:16,
      // center: {lat:44.808048, lng:20.462796},
      disableDefaultUI: true,
      zoomControl: true,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: true,
      rotateControl: false,
      fullscreenControl: true,
      fullscreenControlOptions:{
        position:google.maps.ControlPosition.RIGHT_BOTTOM
      },
      styles: [
          {
            "featureType": "administrative.country",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#fbd2d9"
              },
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "administrative.country",
            "elementType": "geometry.stroke",
            "stylers": [
              {
                "color": "#9896a9"
              },
              {
                "weight": 2
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#9896a9"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "administrative.locality",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "administrative.neighborhood",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "administrative.neighborhood",
            "elementType": "labels",
            "stylers": [
              {
                "color": "#aaa9b1"
              },
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#aadc55"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#ecebed"
              },
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.text",
            "stylers": [
              {
                "color": "#d8d6dc"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#fefefe"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "elementType": "labels.text",
            "stylers": [
              {
                "color": "#9a9a9a"
              },
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#eaecec"
              },
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
              {
                "color": "#9ba4a4"
              },
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "transit",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit.station",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "visibility": "on"
              }
            ]
          },
          {
            "featureType": "transit.station.bus",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "transit.station.bus",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#ff00ff"
              },
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "water",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#1d88e5"
              },
              {
                "lightness": 15
              }
            ]
          }
        ]
    }

    // new map
    let map = new google.maps.Map(document.getElementById('mapDetails'), options);
    let lat = {{labDetails.location.coordinates.[1]}}
    let lng = {{labDetails.location.coordinates.[0]}}
    let labName = "{{labDetails.labName}}"


    // array of markers
    let markers = [
      {
        coords:{lat:lat, lng:lng},
        iconImage:'/images/pinopen.svg',
        name:labName

      }
    ];

    // console.log(markers[0].coords.lat);

    // var content ='<div id="labInfoWindow">' +
    //
    //                 '</div>'+
    //                 '<div class="labInfoWindowFooter">'+
    //                     '<img src="images/radnoVreme.svg" class="labInfoWindowWorkingHoursIcon">'+
    //                     '<div class="radnoVreme">'+'Radno vreme'+'</div>'+
    //                     '<div class="status">'+'otvoreno'+'</div>'+
    //                     '<div class="radnoVremeDetalji">'+
    //                       '<p class="daysInWeek">P<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek">U<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek active">S<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek">Č<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek">P<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek">S<span>08:00 - 21:00</span></p>'+
    //                       '<p class="daysInWeek">N<span>08:00 - 21:00</span></p>'+
    //                     '</div>'+
    //                 '</div>'+
    //               '</div>';

        let marker = new google.maps.Marker({

          position:{lat:markers[0].coords.lat, lng:markers[0].coords.lng},
          icon:{
            url:markers[0].iconImage,
            scaledSize: new google.maps.Size(45, 45)
          },
          map:map
          });

          map.setCenter({lat:markers[0].coords.lat, lng:markers[0].coords.lng});

          let infoWindow = new google.maps.InfoWindow({
            // content:content
          });


          // add infowindow
          // marker.addListener('click', function(){
          //   var test = infoWindow.open(map, marker);
          // });
          //
          // google.maps.event.addListener(map, 'click', function() {
          //   infoWindow.close();
          // });

          google.maps.event.addListener(infoWindow, 'domready', function() {

                // Reference to the DIV that wraps the bottom of infowindow
                var iwOuter = $('.gm-style-iw');
                  iwOuter.parent().parent().css({
                    'left':'8px',
                    'top':'41px'
                  });
                // iwOuter.css({'position':'relative'});
                // changing x close button position in infowindow
                    iwOuter.next().css({
                      'top':'4px',
                      'right':'30px'
                    });
                var iwBackground = iwOuter.prev();
                  iwBackground.children(':nth-child(1)').css({'display' : 'none'});
                  iwBackground.children(':nth-child(2)').css({
                    'background-color':'transparent',
                    'box-shadow': 'rgba(0, 0, 0, 0.4) -76px -78px 172px -18px',
                    'width': '211px !important',
                    'height': '87px !important',
                    'top':'0',
                    'left':'0',
                    'z-index':'-5'
                  });
                  iwBackground.children(':nth-child(3)').css({'display' : 'none'});
                  iwBackground.children(':nth-child(4)').css({'display' : 'none'});
            });// google.maps.event.addListener
// } init function end


</script>

<!-- google maps api -->
<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTj52J6A1dcfdJzqHErFGR_IDs6ahyTes&callback=initMap"
  type="text/javascript"></script> -->


{{> _footer}}
