{{> _innerNavFrontend}}

<section id="groupDetails">
  <div class="container" id="">
    <div class="row mb-4 mt-4">

      <!-- <div class="col-9"> -->
      <div class="col-12 mt-5">

        <table class="table results table-hover table-responsive-sm">

 					<tbody id="resultTable">
            {{#each getAllLabsInfo}}
            <tr class="noselect">

              <td><a href="/laboratorija/{{this.slug}}">{{this.labName}}</a></td>
              <td>{{this.address}}</td>
              <td>{{this.placeId.place}}</td>
              <td>{{displayPhoneList this.phone}}</td>
            </tr>
            {{/each}}
          </tbody>
 				</table><!-- table -->
      </div><!-- col 8 end -->



        <!-- {{itemsArray}} -->
    </div><!-- row end -->
  </div><!-- container end -->
</section>


{{> _footer}}
