{{!-- stranica za upload fajlova za tumacenje rezultata --}}

{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show" style="position:relative; z-index:222222;">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
{{> _innerNavInterpretation}}
{{!-- {{> _innerNavFrontend}} --}}
<!-- <form action="/payment" method="POST">
    <button class="btn btn-success text-uppercase">payment gateway</button>
</form> -->
 			<div class="col-md-12 table-responsive">
 				<table class="table results table-hover">
          <section id="paketi">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- <h1 class="sectionTitle">Tumačenje rezultata laboratorijskih analiza</h1> -->

                  <!-- <p class="generalInformation ">Možemo Vam pomoći da bolje razumete rezultate biohemijskih analiza i možemo da odgovorimo na sva pitanja kao i da Vam damo savet za sledeći korak. Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p> -->

                </div>


                  <!-- <p class="mt-4">Odaberite vreme za koje želite da vam se protumače rezultati</p> -->
                <!-- samo ulogovani korisnici mogu da urade upload rezultata -->
              {{#if user.id}}

              {{!-- <div class="col-12 text-center my-4">
                  <h2 class="text-center functionalitiesTitle">Prvi online servis za interpretaciju laboratorijskih nalaza</h2>
              </div> --}}
              



              {{!-- <h2 class="mx-auto mt-1 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
                </form> --}}


              {{!-- <div class="col-12 mb-5">
               <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
               </div> --}}


                <div id="odabirPaketa" class="d-flex flex-wrap mx-auto col-12 p-0">

                  {{!-- <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p>
                  <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                  <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p> --}}
                  <p class="generalInformation float-left ml-2  mt-4">Ukoliko imaš kôd za besplatno tumačenje unesi ga ovde</p>
                  <form action='/payment' method="POST" enctype="multipart/form-data" id="regularPayment">

                    {{!-- kod za popust --}}
                    
                    <div class="mb-4 col-12 p-3 input-group" id="codeBack" style="background-color:#f7f8fb; border-radius:10px;">
                      <input type="text" name="kodPopust" id="kod"  class="form-control" placeholder="Unesi ovde kôd za besplatno tumačenje"/>
                        <div class="input-group-append">
                          <button class="btn btn-outline-success" type="button" id="codeCheck">Primeni kôd</button>
                        </div>
                    </div>
                    
                    {{!-- <p class="generalInformation ml-2 my-5">Ukoliko želiš da ubrzaš tumačenje tvojih rezultata, to možeš uraditi odabirom vremena za koje želiš da dobiješ tumačenje.</p> --}}
                    {{!-- add class disabledInterpretation if you want to close it --}}
                    
                      <div class="col-12 mt-5" id="firstStep">
                        <h3>Online plaćanje</h3>
                        <p>Odaberi vreme za tumačenje</p></div>
                     <div class="card paymentSteps ">
                          <div class="card-body">
                            <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 24 sata</p>
                             <span class="text-center mb-4">+ dodatna pojašnjenja</span>
                            <span class="text-center paketiCena">490 din.</span>
                            <input type="radio" name="package" value=490 id="t24"  {{#if (checkBox package 490)}} checked {{/if}} />
                            <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                          </div>
                      </div>                    
                    
                      <div class="card paymentSteps ml-lg-3">
                        <div class="card-body">
                           <div class="najpopularnije">najpopularnije</div>
                          <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 12 sati</p>
                          <span class="text-center mb-4">+ dodatna pojašnjenja</span>
                          <span class="text-center paketiCena">590 din.</span>
                          
                          <input type="radio" name="package" value=590 id="t12"  {{#if (checkBox package 590)}} checked {{/if}}/>
                          <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                        </div>   
                      </div>

                     

                       <div class="card paymentSteps ml-lg-3 ">
                          <div class="card-body">
                            <div class="najpopularnije">dostupno od 8 do 18h</div>
                            <span class="onSalesNow d-none" id="initialPriceTop"></span>
                            <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 6 sati</p>
                            <span class="text-center">+ dodatna pojašnjenja</span>
                            <span class="text-center">+ besplatan kod za naredno tumačenje</span>
                            <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                            <input type="radio" name="package" value=890 id="t4"  {{#if (checkBox package 890)}} checked {{/if}}/>
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                            {{!-- <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label> --}}
                         </div>
                      </div>
                      {{!-- <div class="col-12">
                      <small class="float-right p-0 m-0"><sup>*</sup>Tumačenje u roku od 6 sati je moguće odabrati između 8 i 18h.</small>
                      </div> --}}

                       {{!-- <div class="card paymentSteps ml-3">
                        <div class="card-body">
                            <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 4<sup>*</sup> sata</p>
                            <span class="text-center paketiCena">699 din</span>
                            <input type="radio" name="package" value=699 id="t4" {{#if (checkBox package 4)}} checked {{/if}} />
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div> --}}
                    <!-- </div> -->

                    
                      {{!-- ovo odkomentarisati --}}
                      <div class="col-12 mt-4"><p>Odaberi rezultat za tumačenje (pdf, jpg, jpeg, png) 5MB max.</p></div>
                     
                      {{!-- <div class="card paymentSteps mr-3 col-12" id="resultForUpload">
                        <div class="card-body">
                          <i class="far fa-file-pdf text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Odaberi rezultate </p>
                          <span class="text-center paketiCena">max 5MB</span>
                          <small class="text-muted text-center fileTypes">pdf, jpg, jpeg, png</small> --}}
                          <div class="custom-file mb-4">
                              <input type="file" id="uploadResults" multiple name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                              <label for="uploadResults" class="custom-file-label"></label>
                          </div>
                        {{!-- </div>
                      </div> --}}


                      {{!-- ovo odkomentarisati --}}
                      {{!-- <div class="card paymentSteps" id="paymentConsent">
                        <div class="card-body" data-toggle="modal" data-target="">
                          <a href="/uslovi-placanja" target="_blank" class="text-center">
                          <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                          <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a> --}}
                          {{!-- <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                          <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio" id="consentBtn">slažem se sa pravilima i uslovima plaćanja</label> --}}
                        {{!-- </div>
                      </div> --}}

                </div><!-- odabir paketa end -->

                <div class=" col-12 p-0 mb-2">
                  <div class="col-12 mt-4"><p>Upišite komentar (maksimalno 254 karaktera) <span id="userCommentTitle"></span></p></div>
                  {{!-- <label for="exampleFormControlTextarea1">Komentar (maksimalno 254 karaktera)</label> --}}
                  <textarea class="form-control" id="userComment" maxlength="254" name="userComment" rows="4" placeholder="Ovde upišite sva pitanja i komentare koje smatrate važnim. Da li su analize rađene u sklopu sistematskog pregleda ili kao pomoć pri nekoj dijagnostici ili praćenju...">{{komentar}}</textarea>
                </div>


                <div class="col-12 text-center">
                  <small class="smallText"><sup>*</sup>Ukoliko je izvršena uplata za određeni vremenski paket garantujemo ti da će tvoji rezultati biti protumačeni u tom roku, to je maksimalno vreme za koje možeš očekivati tumačenje. Moguće je dobiti tumačenje i znatno pre tog roka a sve u zavisnosti od broja zahteva na kojima trenutno radimo. </small>
                </div>

                <div class="col-12 text-center mt-5" id="paymentConsent">
                  <input type="checkbox" name="consent" value="true" class="consentCheck" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                    <span style="font-size: 22px;"><label for="consent" class="customRadio ml-2 mt-2 text-align-center" id="consentBtn">Prihvatam <a href="/uslovi-placanja" target="_blank" class="">pravila i uslove plaćanja</a></label></span>  
                </div>

                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-2" id="proceedPayment">nastavi dalje</button>
                </div>


                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-4 d-none" id="gratis" >Pošalji rezultate</button>
                </div>

                <div class="col-12 mb-5" id="uplatnica">
                  <h3 class="mb-4">Plaćanje putem uplatnice</h3>
                  <p class="mb-4">Ukoliko ti više odgovara, možeš platiti uslugu tumačenja i preko uplatnice. Popuni uplatnicu kao na primeru ispod, u polje za iznos unesi jednu od 3 moguće opcije (490, 590 ili 890din). Pošalji nam dokaz o uplati na zdravo@labcube.rs i mi ćemo ti poslati kôd na mejl koji ćeš uneti na ovoj stranici, nakon toga samo postavi rezultate za koje ti je potrebno tumačenje.</p>
                  <p class="text-danger text-center mb-3">Tumačenje u roku od 6h je moguće jedino između 08 i 18h. Ukoliko uplatiš 890din nakon 18h, rok za tumačenje je sutra do 14h.</p>
                  <img src="/images/uplatnica.png" alt="" class="mb-5 w-100">
                  
                <div>

                <div class="col-12 mb-5">
                  <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                </div>


                <div class="col-12 upload_file">
                    <div class="form-row">
                      <!-- <div class="col-12">
                        <div class="custom-file">
                            <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                            <label for="uploadResults" class="custom-file-label">Odaberite rezultate *</label>
                            <small id="emailHelp" class="form-text text-muted">pdf, jpg, jpeg, png, do 3MB</small>
                        </div>
                      </div> -->

                      <div class="col-6">
                        <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                        <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                        <!-- <small id="emailHelp" class="form-text text-muted">Mi poštujemo vašu privatnost! link ka politici privatnosti</small> -->
                      </div>
                    </div>
                    <!-- <div class="text-center mt-4">
                        <button class="btn btn-success text-uppercase">Nastavi na plaćanje</button>
                      </div> -->
                  </form>
                </div>

                {{else}}

                {{!-- <div class="col-12 text-center my-4">
                    <h2 class="text-center functionalitiesTitle">Online tumačenje Vaših laboratorijskih nalaza</h2>
                </div> --}}


                  <div class="d-none d-md-block col-sm-12 mt-5 col-md-5 col-lg-5 position-relative">
                      <img data-lazy="/images/microscope.svg" class="functionalityIconsInterpretation microscopeFunc imgLazy">
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-7 py-2 d-flex flex-column justify-content-center textLazy">

                        <div class="text-center priceFromMobile float-left">
                          <span class="">od 490din.</span>
                        </div>
    
                        <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p>
                        <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                        <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p>

                      
                  <a href="/registracija" class="btn btn-success text-uppercase">Započni tumačenje</a>
                </div> 

                  <div class="col-12 mb-4">
                  <h3>Cene tumačenja rezultata zavise od roka u kome želiš da dobiješ komentar na rezultate </h3>
                  </div>

                   <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">490 din.</span>
                      </div>
                    </div>  

                    <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="images/12h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">590 din.</span>
                      </div>
                    </div> 

                    <div class="card paymentSteps ">
                      <div class="card-body">
                        <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 6 sati</p>
                        <span class="text-center paketiCena">890 din.</span>
                      </div>
                    </div>  

                

                 <div class="col-12 my-4">
                    <h3 class="mb-4">Šta tačno podrazumeva i kako izgleda tumačenje rezultata?</h3>
                    <p class="generalInformation">Naše kolege će detaljno pogledati dobijene rezultate, uzeti u obzir podatke iz zdravstvenog profila i na osnovu toga napisati detaljan zaključak u kome će se osvrnuti na svaki parametar koji zahteva pažnju. Predložiće ti i da ponoviš neke analize ukoliko je potrebno ili da uradiš dodatne, uputiće te ka specijalisti ako za to ima potrebe. Znamo da se ovo dobija besplatno u laboratoriji ali mi ćemo se detaljnije posvetiti svakom pacijentu i još će sve ostati zapisano tako da možeš pročitati naš zaključak više puta. Osim toga, svi tvoji rezultati su hronološki sortirani i na jednom mestu, nema više traženja po inboxu.
                    </p>
                    <h3 class="pt-4 mb-4">Primeri zaključaka na dobijene rezultate</h3>

                    <div style="padding:10px; background-color:#FF6F6F; border-radius:12px; color:white;" class="float-left mr-3 pb-0 mt-1"><p style="text-align:center;font-size:24px;">J, 1986. <i class="fa fa-venus" aria-hidden="true"></i></p></div>
                    <div class="finalThougths">
                      <p>U krvnoj slici pacijenta uočava se poremećaj u leukocitarnoj formuli u korist limfocitoze. Ovo ukazuje na aktuelnu blagu virusnu infekciju ili nedavno završenu virusnu infekciju u organizmu, što se može zaključiti i po ukupnom broju leukocita koji se približava donjoj referentnoj granici, iako nije pao ispod nje. Preporuka uraditi CRP i sedimentaciju za potvrdu aktuelne infekcije. Ostali parametri krvne slike su zadovoljavajući. Biohemijske analize su zadovoljavajuće i u skladu sa popunjenim zdravstvenim profilom pacijenta. Rezultati hormonskih analiza su zadovoljavajući i u referentnom opsegu. <br /><br />Rezultati oralnog testa opterećenja glukozom sa insulinemijama u ukupnom skoru ne ukazuju na insulinsku rezistenciju, ali je zbog postepenog pada insulina i zaravnjenja krive glukoze tokom testa potrebno ove rezultate tumačiti od strane ordinirajućeg lekara u skladu sa medicinskom istorijom pacijenta i kliničkim pregledom. Kao dodatni parametar preporuka je uraditi <a href="https://labcube.rs/results/analysis/Hemoglobin-A1c" target="_blank">HbA1c.</a>
                      </p>
                  </div>

                  <div style="padding:10px; background-color:#FF6F6F; border-radius:12px; color:white;" class="float-left mr-3 pb-0 mt-4"><p style="text-align:center;font-size:24px;">M, 1935. <i class="fa fa-mars" aria-hidden="true"></i></p></div>
                  <div class="finalThougths">
                      <p>Iz laboratorijskih nalaza se da zaključiti da je pacijent imao ili ima (virusnu) infekciju koja prolazi. <br /><br /> U prilog tome nam govori i vrednost CRP-a koja je u opadanju: u nalazu od 25.01.2022. bila 40,3 mg/L a u nalazu od 31.01.2022. vrednost CRP- a je 16,5 mg/L. CRP je protein akutne faze, povišen u slučaju upalnog procesa u organizmu i radi se kao analiza kada postoji sumnja na prisustvo infekcije. Vrednost raste za 6 do 9 sati od početka infekcije, a maksimum dostiže za 48 sati. Vrednosti između 10-40 mg/L su blago povišene vrednosti i ukazuju na blagu upalu te se mogu videti kod (virusnih) infekcija. <br /><br />Sedimentacija je takođe parametar zapaljenja tj. merilo zapaljenske reakcije u organizmu, ali i jedan opšti faktor na koji utiču godine, uzimanje lekova... Za razliku od CRP-a porast sedimentacije se dešava najmanje 24 časa nakon početka zapaljenske reakcije i traje 4 do 6 dana. U prilog tome nam govori blago povišena vrednost sedimentacije u nalazu od 31.01.2022. koja je 19mm/1h u odnosu na vrednost ovog parametra u nalazu od  25.01.2022. koja je bila 10mm/1h. Svi ostali parametri su u granicama normalnih referentnih vrednosti.<br /><br />Opšti rezultati mogu da ukazuju na nedavno preležanu infekciju nekim virusom, kao i na postepeni stabilni oporavak. Preporuka za pacijenta je da se eventualno ponove analize sedimentacije i crp-a nakon izvesnog vremena da bi se utvrdilo da li je zapaljenski proces i dalje prisutan ili je završen.
                      </p>
                  </div>
                  
                  <div style="padding:10px; background-color:#FF6F6F; border-radius:12px; color:white;" class="float-left mr-3 pb-0 mt-4"><p style="text-align:center;font-size:24px;">N, 1988. <i class="fa fa-venus" aria-hidden="true"></i></p></div>
                   <div class="finalThougths">
                      <p>Citomegalovirus (CMV) spada u grupu herpes virusa. IgM antitela ukazuju na trenutno postojanje infekcije u organizmu, dok IgG antitela ukazuju na to da li je infekcija preležana u prošlosti. Rezultati testa na oba antitela se gledaju zajedno i na osnovu njih i specifične kliničke slike lekar donosi konačni zaključak o infekciji. Konkretno u ovom slučaju rezultat znači da je do CMV infekcije došlo u prošlosti. Trenutno pacijent nije u infekciji CMV virusom i razvijen je delimični imunitet na ovaj tip virusa. Aviditet koji nam označava starost infekcije je na gornjoj granici vrednosti što bi značilo da se infekcija nije dešavala unazad par meseci ili duže.
                      </p>
                  </div>

                  <div style="padding:10px; background-color:#FF6F6F; border-radius:12px; color:white;" class="float-left mr-3 pb-0 mt-4"><p style="text-align:center;font-size:24px;">M, 1979. <i class="fa fa-mars" aria-hidden="true"></i></p></div>
                  <div class="finalThougths">
                      <p>U krvnoj slici pacijenta uočava se poremećaj u leukocitarnoj formuli u korist limfocitoze (blago povišena vrednost limfocita). Ovo ukazuje na blagu virusnu infekciju ili nedavno završenu virusnu infekciju u organizmu, što se može zaključiti i po ukupnom broju leukocita koji je na donjoj granici referentnih vrednosti. Apsolutni broj neutrofila (Neu 1,85) kao i broj neutrofila u procentima (45,1) prati leukocitarnu formulu i ide u prilog zaključku da je u pitanju blaga virusna infekcija. <br /><br />MCH znači srednji sadržaj hemoglobina u eritrocitima (crvena krvna zrnca), kod Vas je blago povišena vrednost i u ovom slučaju zbog ostalih parametara crvene loze krvnih zrnaca koji su u referentnom opsegu nema veći dijagnostički značaj. Vrednost kreatinina je blago povišena i to može značiti da ne uzimate dovoljno tečnosti, konzumirate puno mesnih proizvoda ili ste imali veću fizičku aktivnost pre vađenja krvi. Svakako bi bilo dobro ponoviti kroz određeni vremenski period (npr. mesec dana) ovu analizu. <br /><br />Vrednosti holesterola i LDL ("loš holesterol") su povišene što upućuje na to da bi trebalo sprovesti odgovarajući higijensko dijetetski režim tj. dijetu i pratiti ovaj parametar zajedno sa parametrom glukoze (šećer) s obzirom na to da je vrednost za Vaše godine blago povišena, a sve to u dogovoru sa Vašim izabranim lekarom. Nalaz urina je uredan, parametri koji su prisutni u sedimentu urina su deo normalnog nalaza. Fob test (test na okultno krvarenje) je negativan što znači da nije detektovano prisustvo krvi u stolici, odnosno u pitanju je normalan nalaz.<br><br>Po ovim rezultatima, ne bi trebalo da bude razloga za brigu. Naravno, savetujemo konsultacije sa izabranim lekarom.</p>
                      </p>
                  </div>
                </div>

                <div class="col-12">
                
                <h3 class="my-5">Ko tumači rezultate?</h3>
                 <div class="row">
                

                  <div class="col-sm-6 col-md-4   mt-3 text-center">
                    <img src="/images/editors/JelenaDj.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Jelena Đuran</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      {{!-- <p class="editorName text-left">Rođena 1987. godine u Beogradu. Diplomirala na Farmaceutskom fakultetu Univerziteta u Beogradu na smeru diplomirani farmaceut-medicinski biohemičar 2012. godine a specijalističke akademske studije, modul Biohemijska dijagnostika, završila 2021. godine. Trenutno je na specijalizaciji zdravstvenih radnika i saradnika na Farmaceutskom fakultetu u Beogradu, smer Medicinska biohemija. Od 2012. godine zaposlena u Zdravstvenoj ustanovi Medlab, Novi Sad</p> --}}
                    </div>
                  </div>
     

                  <div class="col-sm-6 col-md-4  mt-3 text-center">
                    <img src="/images/editors/brankos.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Branko Subošić</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      {{!-- <p class="editorName text-left">Rođen 1993 godine u Banja Luci. Integrisane akademske studije je završio 2018 godine. Iste godine se zaposlio na poziciji medicinski biohemičar u biohemijskoj laboratoriji Univerzitetske dečje klinike u Tiršovoj. Usavršavanje je nastavio 2019 godine upisavši doktorske akademske studije na Farmaceutskom fakultetu, modul medicinska biohemija. 2023 godine godine je izabran kao saradnik van radnog odnosa i učestvuje u izvođenju praktične nastave na predmetima katedre za biohemiju Farmaceutskog fakulteta.</p> --}}
                    </div>
                  </div>

                   <div class="col-sm-6 col-md-4  mt-3 text-center">
                    <img src="/images/editors/VanjaV.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Vanja Vlaisavljević</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      {{!-- <p class="editorName text-left">Rođena 1993.godine u Vojniću, Hrvatska. Integrisane akademske studije završila u junu 2020. godine na Farmaceutskom fakultetu u Beogradu i stekla zvanje magistar farmacije - medicinski biohemičar. Završila pripravnički staž 2021. godine a nakon toga se zaposlila u Aqualab laboratoriji gde i danas radi.</p> --}}
                    </div>
                  </div>

                    <div class="col-sm-6 col-md-4  mt-3 text-center">
                      <img src="/images/editors/milica.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Milica Milić</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>

                     <div class="col-sm-6 col-md-4  mt-3 text-center">
                      <img src="/images/editors/Dragana.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Dragana Kovačević</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>


                     <div class="col-sm-6 col-md-4  mt-3 text-center">
                      <img src="/images/editors/JelenaJ.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Jelena Janković</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>

                     <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/Valentina.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Valentina Mandić</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>

                     {{!-- <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/drvesnamarkovic.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Dr Vesna Marković</p>
                        <span class="text-center disabled p-0">Specijalista kliničke biohemije</span>
                      </div>
                     </div> --}}

                     <div class="col-sm-6 col-md-4 mt-3 text-center">
                      <img src="/images/editors/miljana.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">dr Miljana Đurić</p>
                        <span class="text-center disabled p-0">doktor medicine</span>
                      </div>
                     </div>

                     <div class="col-sm-6 col-md-4 mt-3 text-center">
                      <img src="/images/editors/aleksandra.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Aleksandra Joksović</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>




                  </div>{{!-- row end --}}
                </div>

                <div class="col-12 text-center mx-auto my-5">
                   <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                </div>

                 <div class="col-12 text-center mx-auto my-3">
                   <span class="text-center p-4">Ukoliko imaš bilo kakvo pitanje u vezi tumačenja rezultata ili nečeg drugog javi se na zdravo@labcube.rs</span>
                </div>

                <div class="col-12 text-center">
                <a href="/registracija" class="btn btn-success text-uppercase">Započni tumačenje</a>
                </div>


               {{!-- <div class="col-12 mt-4"><h3 class="text-center">Kako do tumačenja rezultata?</h3>
               <p>Prvi korak je da kreiraš nalog</p>
               </div> --}}
                
                {{!-- <h2 class="mx-auto mt-5 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
       
                </form> --}}
                {{!-- <h2 class="mx-auto mt-5">Vreme za koje je moguće dobiti protumačene rezultate</h2> --}}
                {{!-- <div class="d-flex flex-wrap mt-5 mx-auto" id="odabirPaketa">   --}}
                    
                    {{!-- <div class="card paymentSteps disabledInterpretation">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">490 din.</span>
                        <input type="radio" name="package" value=490 id="t24" disabled {{#if (checkBox package 490)}} checked {{/if}}/>
                        <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio" disabled>trenutno nedostupno</label>
                      </div>
                    </div>                     --}}
                        
                    {{!-- <div class="card paymentSteps ml-md-3 ml-lg-3 disabledInterpretation">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">590 din.</span>
                        <input type="radio" name="package" value=590 id="t12" class="disabledInterpretation" disabled {{#if (checkBox package 590)}} checked {{/if}} />
                        <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label>
                      </div>   
                    </div> --}}

                        


                    
                {{!-- </div> --}}

                
            

              {{!-- <div class="col-12 my-5">
                <h3 class="cardDisclaimer text-center">Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
              </div> --}}
               
               
                {{!-- <div class="mx-auto">
                    <a href="/registracija"  class="btn btn-success text-uppercase my-3  callToActionNewAcc">postavite Vaše rezultate</a>
                </div> --}}

                {{/if}}
              </div>
              <!-- row end -->
              <section class="mt-5">

               
                  <h2 class="text-center mb-5" id="demoAccount"></h2>


                {{!-- <div class="row">
                  <div class="col-12 mt-4">
                    <h3>Zaključak</h3>
                    <div class="finalThougths">
                      <p>Pod pretpostavkom da je uzorak dat na analizu u periodu 1-5 dana ciklusa, vrednosti hormonskih analiza govore sledeće: Vrednosti polnih hormona su u referentnom opsegu gde se ne vidi poremećaj u njihovom odnosu. Vrednosti hormona štitne žlezde su zadovoljavajući, takođe u referentnom opsegu, ali sa primetnim primicanjem vrednosti FT4 hormona donjoj referentnoj granici. Preporuka je ponoviti testiranje ovih hormona, kako bi se ispratio trend kretanja vrednosti i eventualni skriveni pad FT4. Titar antitela na tireoglobulin je snižen, dok je titar antitela na tireoidnu peroksidazu blago uvećan, što može ukazivati na poremećaj u procesu stvaranja hormona štitne žlezde. Vrednosti AMH su značajno uvećane, što može ukazivati na sindrom policističnih jajnika, povezano sa uzrastom pacijenta. Vrednosti AMH parametra poželjno je tumačiti uz kliničku sliku, nalaz na ultrazvuku i laboratorijske testove DHEA, FSH i LH od strane endokrinologa.
                      </p>
                  </div>
                </div> --}}

                <!-- <h3 class="mt-5 ml-3">Rezultate tumači</h3>
                <div class="col-12 smx-4 doctorDetails mt-4 text-center">
                  <img src="/images/editors/Sanja Nova-2.png-1628202152954.png"  class="rounded-circle hcpImage" alt="">
                  <div class="hcpBio">
                      <p class="editorName font-weight-bold text-left">Sanja Milutinović, diplomirani farmaceut - medicinski biohemičar</p>
                    <p class="editorName text-left">Rođena 1989. godine. Diplomirala na Farmaceutskom fakultetu u Beogradu na smeru magistar farmacije-medicinski biohemičar 2013 godine. Dobitnik je nagrade prof. dr Ivan Berkeš kao najbolji student magistar farmacije–medicinski biohemičar u školskoj 2012/2013 godini. Nakon položenog državnog ispita započinje radni odnos u odeljenju za laboratorijsku dijagnostiku Doma zdravlja Kuršumlija 2015.godine. Trenutno je načelnik laboratorijske dijagnostike Doma zdravlja Kuršumlija. </p>
                  </div>
              </div> -->


              </section>
             

               

             
           

            </div><!-- container end -->
          </section>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

 		<!-- </div> -->
    <!-- table row end  -->
 <!-- </div> -->
  <!-- results container end -->



 {{> _footer}}
