{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
{{> _innerNavFrontend}}
<!-- <form action="/payment" method="POST">
    <button class="btn btn-success text-uppercase">payment gateway</button>
</form> -->
 			<div class="col-md-12 table-responsive">
 				<table class="table results table-hover">
          <section id="paketi">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- <h1 class="sectionTitle">Tumačenje rezultata laboratorijskih analiza</h1> -->

                  <!-- <p class="generalInformation ">Možemo Vam pomoći da bolje razumete rezultate biohemijskih analiza i možemo da odgovorimo na sva pitanja kao i da Vam damo savet za sledeći korak. Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p> -->

                </div>


                  <!-- <p class="mt-4">Odaberite vreme za koje želite da vam se protumače rezultati</p> -->
                <!-- samo ulogovani korisnici mogu da urade upload rezultata -->
              {{#if user.id}}
              <div class="col-12 mt-5">
                <p class="generalInformation">Tumačenje rezultata laboratorijskih analiza možete dobiti u 4 jednostavna koraka. </p>
                <ul class="tumacenjeUl">
                  <li class="generalInformation">Odaberite vreme za koje želite da protumačimo Vaše rezultate (trenutno je 24h jedina opcija)</li>
                  <li class="generalInformation">Pronađite fajl sa Vašim rezultatima laboratorije i uradite upload.</li>
                  <li class="generalInformation">Potvrdite da ste saglasni sa uslovima plaćanja.</li>
                  <li class="generalInformation">Nastavite na plaćanje.</li>

                </ul>
              </div>



                <div id="odabirPaketa" class="d-flex flex-wrap mt-4 mx-auto" style="flex-wrap;">
                  <form action='/payment' method="POST" enctype="multipart/form-data">

                    <!-- <div class="col-3">
                      <div class="card">
                        <div class="card-body">
                          <img src="images/1h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od sat<sup>*</sup> vremena</p>
                          <span class="text-center paketiCena">999 din</span>
                          <input type="radio" name="package" value=999 id="t1" {{#if (checkBox package 1)}} checked {{/if}} />
                          <label for="t1"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="najpopularnije">najpopularnije</div>
                          <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 4<sup>*</sup> sata</p>
                          <span class="text-center paketiCena">699 din</span>
                          <input type="radio" name="package" value=699 id="t4" {{#if (checkBox package 4)}} checked {{/if}} />
                          <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="card">
                        <div class="card-body ">
                          <img src="images/12h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 12<sup>*</sup> sati</p>
                          <span class="text-center paketiCena">499 din</span>
                          <input type="radio" name="package" value=499 id="t12" {{#if (checkBox package 12)}} checked {{/if}} />
                          <label for="t12"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div> -->

                    <!-- <div class="col-3"> -->

                    <div class="col-12 mb-5">
                      <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
                    </div>

                      <div class="card paymentSteps">
                        <div class="card-body"><span class="" style="">1</span>
                          <span class="onSalesNow">1190 din.</span>
                          <img src="/images/24h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 24<sup>*</sup> sata</p>
                          <span class="text-center paketiCena">890 din.</span>
                          <input type="radio" name="package" value=890 id="t24" {{#if (checkBox package 1)}} checked {{/if}} checked/>
                          <label for="t24" class="btn btn-outline-success text-uppercase mt-4 customRadio">odabrano</label>
                        </div>
                      </div>
                    <!-- </div> -->

                    <!-- <div class="col-3"> -->
                      <div class="card paymentSteps ml-3">
                        <div class="card-body">2
                          <i class="far fa-file-pdf text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Odaberite rezultate </p>
                          <span class="text-center paketiCena">max 3MB</span>
                          <small class="text-muted text-center fileTypes">pdf, jpg, jpeg, png</small>
                          <div class="custom-file mt-4">
                              <input type="file" id="uploadResults" multiple name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                              <label for="uploadResults" class="custom-file-label"></label>
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->


                    <!-- <div class="col-3"> -->
                      <div class="card paymentSteps ml-3">
                        <div class="card-body" data-toggle="modal" data-target="">3
                          <a href="/uslovi-placanja" target="_blank" class="text-center">
                          <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                          <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a>
                          <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                          <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio">slažem se</label>
                        </div>
                      </div>
                    <!-- </div> -->

                    <!-- modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" >Uslovi plaćanja</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Plaćanje usluga je moguće izvršiti na jedan od sledećih načina: platnim karticama - VISA, Maestro ili MasterCard koje podržavaju plaćanje preko Interneta. Plaćanje karticama je realizovano u saradnji sa AllSecure doo i UniCredit bankom i obavlja se na bezbedan i sertifikovan način preko AllSecure Paymet Gateway-a, jednostavnim unosom podataka sa platne kartice.</p>
                            <p>Nakon što se unesu podaci o kartici i potvrdi plaćanje, banka autorizuje transakciju i time je porudžbina odobrena i ulazi u dalji proces obrade. Iznos će biti rezervisan na vašoj kartici (računu) i neće Vam biti raspoloživ za drugu namenu.</p>
                            <p>Prilikom unošenja podataka o platnoj kartici, poverljive informacije se prenose putem javne mreže u zaštićenoj (kriptovanoj) formi upotrebom SSL protokola, primenom najsavremenijih metoda tokenizacije osetljivih podataka, i u skladu sa PCI-DSS standardima. Niti jednog trenutka podaci o platnoj kartici nisu dostupni trgovcu.</p>
                            <p>AllSecure Payment Gateway koristi najviše globalne standarde zaštite i privatnosti podataka. Svi trgovci koji koriste AllSecure Payment Gateway su automatski uključeni u 3D-Secure zaštitu, čime se kupcima garantuje bezbednost kupovine. Brojevi platnih kartica kupaca se ne čuvaju na sistemu trgovca a sami upis se štiti SSL enkripcijom podataka.</p>
                            <p>AllSecure Payment Gateway se konstantno usaglašava sa svim zahtevima kartičarskih organizacija u cilju povećanja nivoa bezbednosti trgovaca i kupaca. Od 2005 godine do danas, bez prekida, sistem je sertifikovan kao PCI-DSS Level 1 što predstavlja najviši standard u industriji. PCI Data Security Standard (PCI-DSS) je norma koja definiše neophodne mere bezbednosti pri obradi, čuvanju i prenošenju osetljivih kartičarskih podataka. PCI Standardima se štite osetljivi podaci o korisniku kartice tokom celog procesa plaćanja: od momenta unosa podataka na prodajnom mestu trgovca, tokom komunikacija između trgovca i relevantnih banaka i kartičarskih organizacija, kao i kasnije čuvanje tih podataka.</p>
                            <p>U slučaju povraćaja sredstava kupcu koji je prethodno platio nekom od platnih kartica, delimično ili u celosti, a bez obzira na razlog vraćanja, taj povraćaj se vrši isključivo preko iste VISA, Maestro ili MasterCard kartice koja je korišćena za plaćanje. Ovo znači da će naša banka na naš zahtev obaviti povraćaj sredstava na račun korisnika kartice.</p>
                            <p>Proverite kod banke koja je karticu izdala da li Vaša kartica podržava plaćanje preko Interneta.</p>
                            <p>Sva plaćanja će biti obavljenima u dinarima (RSD). Ukoliko se plaća platnim karticama inostranih Banaka izdavalaca, dinarski iznos transakcije će biti konvertovan u settlement valutu Banke (EUR) prema kursu Narodne Banke Srbije. Pri zaduživanju Vaše platne kartice, već konvertovan iznos će se konvertovati u Vašu lokalnu valutu, prema kursu koji primenjuju operatori platnih kartica.</p>
                            <p>Please note that all payments will be effected in the Serbian currency – dinar (RSD). If the payment is done using foreign issuers payment cards, total amount of transaction will be converted into bank settlement currency, according to the current exchange rate of the Serbian National Bank. Once when transaction is settled the already converted amount will be converted into your local currency according to the exchange rate of credit card associations. As a result of this conversion there is a possibility of a slight difference from the original price stated in our web site.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-3"> -->
                      <!-- <div class="card">
                        <div class="card-body">
                          <div class="text-center mt-4 mb-4">
                              <button class="btn btn-success text-uppercase">Nastavi na plaćanje</button>
                            </div>
                        </div>
                      </div> -->
                    <!-- </div> -->

                    <!-- <div class="col-3">
                      <div class="card">
                        <div class="card-body ">
                          <img src="images/24h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Slažem se sa uslovima plaćanja</p>
                      <span class="text-center paketiCena">490 din</span>
                          <input type="radio" name="package" value=490 id="t24" {{#if (checkBox package 24)}} checked {{/if}} />
                          <label for="t24" class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>
                      </div>
                    </div> -->


                </div><!-- odabir paketa end -->

                <div class="col-12 text-center">
                  <small class=""><sup>*</sup>Vaši rezultati će biti protumačeni u roku od 24 sata, to je maksimalno vreme za koje možete očekivati tumačenje. Moguće je da dobijete tumačenje i znatno pre tog roka. </small>
                </div>


                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-5" style="">Nastavite na plaćanje</button>
                </div>

                  <!-- <div class="col-12">
                    <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                  </div> -->


                <div class="col-12 upload_file">
                    <div class="form-row">
                      <!-- <div class="col-12">
                        <div class="custom-file">
                            <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                            <label for="uploadResults" class="custom-file-label">Odaberite rezultate *</label>
                            <small id="emailHelp" class="form-text text-muted">pdf, jpg, jpeg, png, do 3MB</small>
                        </div>
                      </div> -->

                      <div class="col-6">
                        <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                        <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                        <!-- <small id="emailHelp" class="form-text text-muted">Mi poštujemo vašu privatnost! link ka politici privatnosti</small> -->
                      </div>
                    </div>
                    <!-- <div class="text-center mt-4">
                        <button class="btn btn-success text-uppercase">Nastavi na plaćanje</button>
                      </div> -->
                  </form>
                </div>



                {{else}}


                  <div class="d-none d-md-block mt-5 col-md-6 col-lg-5 position-relative">
                      <img data-lazy="/images/microscope.svg" class="functionalityIcons microscopeFunc imgLazy">
                      <div class="text-center priceFrom">
                        od 890din.
                      </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-7 py-5 d-flex flex-column justify-content-center textLazy">
                      <h2 class="functionalitiesTitle mb-4">Mi tumačimo rezultate Vaših laboratorijskih analiza</h2>
                      <p class="generalInformation">Možemo Vam pomoći da bolje razumete rezultate biohemijskih analiza i možemo da odgovorimo na sva pitanja kao i da Vam damo savet za sledeći korak. Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                      <p class="generalInformation"><a href="/registracija">Kreirajte nalog</a> ili se <a href="/prijava">prijavite</a>. Odaberite rezultate koje Vam je poslala laboratorija i mi ćemo ih protumačiti i prikazati kao u primeru niže na stranici. Vaši rezultati su na jednom mestu, hronološki sortirani, uvek dostupni, sigurni.</p>



                      <!-- <ul class="tumacenjeUl">
                        <li class="generalInformation"><a href="/registracija">Kreirajte nalog</a> ili se <a href="/prijava">prijavite</a></li>
                        <li class="generalInformation">Odaberite rezultate koje Vam je poslala laboratorija</li>
                        <li class="generalInformation">Izvršite uplatu</li:
                      </ul> -->
                      <div class="">
                        <a href="/registracija"  class="btn btn-success text-uppercase mt-3  callToActionNewAcc">kreirajte nalog</a>
                      </div>

                  <!-- <p>Ukoliko Vam je potrebno tumačenje rezultata <a href="/registracija">kreirajte</a> LabCube nalog, ili se prijavite <a href="/prijava"> ovde </a>ukoliko već imate nalog.</p> -->
                </div>
                <div class="col-12 mb-4">
                  <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
                </div>

                {{/if}}
              </div><!-- row end -->
              <section class="boxshadowBckg">


                  <h2 class="text-center" id="demoAccount">Mi to radimo ovako</h2>
      <div class="row">
                  <div class="col-12 doctorDetails mt-4 text-center">
                    <img src="/images/editors/Sanja Nova-2.png-1628202152954.png"  class="rounded-circle hcpImage" alt=""><p>
                    <div class="hcpBio">
                        <p class="editorName font-weight-bold text-left">Sanja Milutinović, diplomirani farmaceut - medicinski biohemičar</p>
                      <p class="editorName text-left">Rođena 1989. godine. Diplomirala na Farmaceutskom fakultetu u Beogradu na smeru magistar farmacije-medicinski biohemičar 2013 godine. Dobitnik je nagrade prof. dr Ivan Berkeš kao najbolji student magistar farmacije–medicinski biohemičar u školskoj 2012/2013 godini. Nakon položenog državnog ispita započinje radni odnos u odeljenju za laboratorijsku dijagnostiku Doma zdravlja Kuršumlija 2015.godine. Trenutno je načelnik laboratorijske dijagnostike Doma zdravlja Kuršumlija. </p>
                    </div>
                  </div>
                </div>

                  <div class="row">
                      <div class="resultDetails mb-4">
                        <div class="col-12 col-md-7">
                          <h4 class="analysisName">ATG <span class="valueOk">28 IU/ml</span></h4>
                          <p>Uz Anti - TPO antitela se koristi za dijagnozu i diferencijaciju Hashimoto sindroma.</p>
                        </div>

                        <div class="col-12 col-md-5 analysisResults">
                          <div>
                            <input type="range" class="regularResults showGreen" data-toggle="tooltip" tooltip="28" name="low" min="0" max="115" value="28" step="0.1" disabled="" data-original-title="" title="">
                            <div class="rangeLabels"><115</div>
                        </div>

                        <div>
                          <input type="range" class="min" name="regular" data-toggle="tooltip" tooltip="28" min="115" max="200" value="" step="0.1" disabled="">
                          <div class="rangeLabels">>115</div>
                        </div>


                      </div><!-- analysis result -->

                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>Rezultat je u referentnom opsegu.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Anti - TPO antitela <span class="valueNotOk">38 IU/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Najosetljivi je parameter za dijagnozu Hashimoto sindroma.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class=" regularResults" data-toggle="tooltip" tooltip="" name="low"  step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 34</div>
                        </div>

                        <div>
                          <input type="range" class="min showRed" name="regular" data-toggle="tooltip" tooltip="" min="34" max="68" value="38" step="0.1" disabled="">
                          <div class="rangeLabels">>34</div>
                        </div>


                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je izvan referentnog opsega (&lt34), titar antitela na tireoidnu peroksidazu je blago povišen što može ukazivati na probleme u funkciji štitne žlezde (hipertireoidizam ili hipotireoidizam)</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Progesteron <span class="valueOk">2.2 nmol/L</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za ispitivanje funkcionalnog corpusa luteuma, praćenja ovulacije, trudnoće, supstitucione terapije progesteronom i u cilju otkrivanja uzroka neplodnosti.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="0.6" value="" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 0.6</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="0.6" max="4.7" value="2.2" step="0.1" disabled="">
                          <div class="rangeLabels">0.6 - 4.7</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="4.7" max="9.4" value="" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 4.7</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Folikulostimulirajući hormon <span class="valueOk">6.4 mIU/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za procenu funkcije jajnika i testisa, utvrđivanje uzroka neplodnosti, utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti povezanih sa poremećajem rada hipofize i hipotalamusa.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="3.5" value="" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 3.5</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="3.5" max="12.5" value="6.4" step="0.1" disabled="">
                          <div class="rangeLabels">3.5 - 12.5</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="12.5" max="24" value="" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 12.5</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->
                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Estradiol <span class="valueOk">45.1 pg/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za procenu rada jajnika, za utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti kod poremećaja rada nadbubrežne žlezde i hormonskih poremećaja kod muškaraca.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="19.5" value="" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 20</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="19.5" max="144.2" value="45.1" step="0.1" disabled="">
                          <div class="rangeLabels">19.5 - 144.2</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="144.2" max="288" value="" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 144.2</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>Rezultat je u referentnom opsegu za interval folikularne faze.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Luteinizirajući hormon <span class="valueOk">8.9 mIU/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za procenu funkcije jajnika i testisa, za predviđanje nastupanja ovulacije, utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti povezanih sa poremećajem rada hipofize i hipotalamusa.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="1" value="" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 20</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="1" max="11.4" value="8.9" step="0.1" disabled="">
                          <div class="rangeLabels">1 - 11.4</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="11.4" max="23" value="" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 11.4</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Anti-Milerov hormon <span class="valueNotOk">6,73ng/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Ovaj test se koristi za procenu plodnosti kod žena, za predviđanje nastupanja menopauze, za dijagnostikovanje poremećaja povezanih sa pojavom cističnih jajnika i kod oba pola za procenu nerazvijenosti polnih organa.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="3.03" value="22" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 3.03</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults" name="regular" data-toggle="tooltip" tooltip="40" min="3.03" max="3.89" value="" step="0.1" disabled="">
                          <div class="rangeLabels">3.03 - 3.89</div>
                        </div>

                        <div>
                          <input type="range" class="max showRed" name="high" min="3.89" max="16" value="6.73" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 3.89</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je izvan referentnog opsega (3.03 - 3.89), povišena vrednost može ukazivati na sindrom policističnih jajnika.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->



                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Tireostimulišući hormon TSH <span class="valueOk">2.304 uIU/ml</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za procenu statusa funkcije štitne žlezde.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="0.35" value="0" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 0.35</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="0.35" max="4.78" value="2.304" step="0.1" disabled="">
                          <div class="rangeLabels">0.35 - 4.78</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="2.90" max="10" value="0" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 4.78</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je u referentnom opsegu.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Slobodni trijodtironin FT3 <span class="valueOk">5 pmol/L</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za proveru statusa funkcije štitne žlezde.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="3.1" value="0" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 3.1</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="3.1" max="6.5" value="5" step="0.1" disabled="">
                          <div class="rangeLabels">3.1 - 6.5</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="6.5" max="13" value="0" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 6.5</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>rezultat je u referentnom opsegu.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Slobodni tiroksin FT4 <span class="valueOk">13.4 pmol/L</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi za proveru statusa funkcije štitne žlezde.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="12" value="0" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 12</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="12" max="22" value="13.4" step="0.1" disabled="">
                          <div class="rangeLabels">12 - 22</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="22" max="44" value="0" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 22</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>Rezultat je u referentnom opsegu (12 - 22), vrednost je bliža donjoj referentnoj granici.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->

                  <div class="resultDetails mb-4">
                      <div class="col-12 col-md-7">
                        <h4 class="analysisName">Prolaktin PRL <span class="valueOk">179.49 mIU/L</span></h4>
                        <!-- <p>{{this.comment}}</p> -->
                        <p>Test se koristi u dijagnostici uzroka neplodnosti kod oba pola, dijagnostici i praćenju prolaktinoma (tumora na hipofizi) i pojave lučenja mleka koje nije u vezi sa dojenjem.</p>
                      </div>

                      <div class="col-12 col-md-5 analysisResults">
                        <div>
                          <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="127" value="0" step="0.1" disabled="" data-original-title="" title="">
                          <div class="rangeLabels">&lt; 127</div>
                        </div>

                        <div>
                          <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="127" max="637" value="179.49" step="0.1" disabled="">
                          <div class="rangeLabels">127 - 637</div>
                        </div>

                        <div>
                          <input type="range" class="max" name="high" min="637" max="1250" value="" step="0.1" disabled="">
                          <div class="rangeLabels">&gt; 637</div>
                        </div>
                      </div><!-- analysis result -->
                      <div class="col-12">
                        <p class="myResultsComment">
                          <span>Rezultat je u referentnom opsegu.</span>
                        </p>
                      </div>
                  </div><!-- resultDetails -->
                </div>


                <div class="row">
                  <div class="col-12 mt-4">
                    <h3>Zaključak</h3>
                    <div class="finalThougths">
                      <p>Pod pretpostavkom da je uzorak dat na analizu u periodu 1-5 dana ciklusa, vrednosti hormonskih analiza govore sledeće: Vrednosti polnih hormona su u referentnom opsegu gde se ne vidi poremećaj u njihovom odnosu. Vrednosti hormona štitne žlezde su zadovoljavajući, takođe u referentnom opsegu, ali sa primetnim primicanjem vrednosti FT4 hormona donjoj referentnoj granici. Preporuka je ponoviti testiranje ovih hormona, kako bi se ispratio trend kretanja vrednosti i eventualni skriveni pad FT4. Titar antitela na tireoglobulin je snižen, dok je titar antitela na tireoidnu peroksidazu blago uvećan, što može ukazivati na poremećaj u procesu stvaranja hormona štitne žlezde. Vrednosti AMH su značajno uvećane, što može ukazivati na sindrom policističnih jajnika, povezano sa uzrastom pacijenta. Vrednosti AMH parametra poželjno je tumačiti uz kliničku sliku, nalaz na ultrazvuku i laboratorijske testove DHEA, FSH i LH od strane endokrinologa.
                      </p>
                  </div>

                </div>
                  </section>
                <div class="col-12 mt-5 text-center">
                  <p class="cardDisclaimer">Ukoliko imate bilo kakvo pitanje u vezi tumačenja rezultata javite nam se putem <a href="/kontakt" target="_blank">kontakt forme.</a></p>
                </div>
              </div>

            </div><!-- container end -->
          </section>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

 		<!-- </div> -->
    <!-- table row end  -->
 <!-- </div> -->
  <!-- results container end -->



 {{> _footer}}
