{{!-- stranica za upload fajlova za tumacenje rezultata --}}
{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
{{> _innerNavInterpretation}}
{{!-- {{> _innerNavFrontend}} --}}
<!-- <form action="/payment" method="POST">
    <button class="btn btn-success text-uppercase">payment gateway</button>
</form> -->
 			<div class="col-md-12 table-responsive">
 				<table class="table results table-hover">
          <section id="paketi">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- <h1 class="sectionTitle">Tumačenje rezultata laboratorijskih analiza</h1> -->

                  <!-- <p class="generalInformation ">Možemo Vam pomoći da bolje razumete rezultate biohemijskih analiza i možemo da odgovorimo na sva pitanja kao i da Vam damo savet za sledeći korak. Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p> -->

                </div>


                  <!-- <p class="mt-4">Odaberite vreme za koje želite da vam se protumače rezultati</p> -->
                <!-- samo ulogovani korisnici mogu da urade upload rezultata -->
              {{#if user.id}}

              {{!-- <div class="col-12 text-center my-4">
                  <h2 class="text-center functionalitiesTitle">Prvi online servis za interpretaciju laboratorijskih nalaza</h2>
              </div> --}}
              



              {{!-- <h2 class="mx-auto mt-1 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
                </form> --}}


              {{!-- <div class="col-12 mb-5">
               <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
               </div> --}}


                <div id="odabirPaketa" class="d-flex flex-wrap mx-auto col-12 p-0">

                  <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p>
                  <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                  <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p>
                  <p class="generalInformation float-left ml-2">Ukoliko imaš kod za besplatno tumačenje unesi ga ovde</p>
                  <form action='/payment' method="POST" enctype="multipart/form-data" id="regularPayment">

                    {{!-- kod za popust --}}
                    
                    <div class="mb-4 col-12 p-3 input-group" id="codeBack" style="background-color:#f7f8fb; border-radius:10px;">
                      <input type="text" name="kodPopust" id="kod"  class="form-control" placeholder="Unesi ovde kôd za besplatno tumačenje"/>
                        <div class="input-group-append">
                          <button class="btn btn-outline-success" type="button" id="codeCheck">Primeni kôd</button>
                        </div>
                    </div>
                    <p class="generalInformation ml-2 my-5">Ukoliko želiš da ubrzaš tumačenje tvojih rezultata, to možeš uraditi odabirom vremena za koje želiš da dobiješ tumačenje.</p>
                    {{!-- add class disabledInterpretation if you want to close it --}}
                     <div class="card paymentSteps ">
                          <div class="card-body">
                            <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                            <span class="text-center paketiCena">490 din.</span>
                            <input type="radio" name="package" value=490 id="t24" disabled {{#if (checkBox package 490)}} checked {{/if}} />
                            <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                          </div>
                      </div>                    
                    
                      <div class="card paymentSteps ml-lg-3">
                        <div class="card-body">
                           <div class="najpopularnije">najpopularnije</div>
                          <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                          <span class="text-center paketiCena">590 din.</span>
                          <input type="radio" name="package" value=590 id="t12" disabled {{#if (checkBox package 590)}} checked {{/if}}/>
                          <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                        </div>   
                      </div>

                     

                       <div class="card paymentSteps ml-lg-3 ">
                          <div class="card-body">
                            {{!-- <div class="najpopularnije">moguće odabrati jedino od 8 do 17h</div> --}}
                            <span class="onSalesNow d-none" id="initialPriceTop"></span>
                            <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 6 sati<sup>*</sup></p>
                            <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                            <input type="radio" name="package" value=890 id="t4" disabled {{#if (checkBox package 890)}} checked {{/if}}/>
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                            {{!-- <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label> --}}
                          </div>
                      </div>

                       {{!-- <div class="card paymentSteps ml-3">
                        <div class="card-body">
                            <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 4<sup>*</sup> sata</p>
                            <span class="text-center paketiCena">699 din</span>
                            <input type="radio" name="package" value=699 id="t4" {{#if (checkBox package 4)}} checked {{/if}} />
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div> --}}
                    <!-- </div> -->

                    
                      {{!-- ovo odkomentarisati --}}
                      <div class="card paymentSteps mr-3 col-12" id="resultForUpload">
                        <div class="card-body">
                          <i class="far fa-file-pdf text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Odaberi rezultate </p>
                          <span class="text-center paketiCena">max 5MB</span>
                          <small class="text-muted text-center fileTypes">pdf, jpg, jpeg, png</small>
                          <div class="custom-file mt-4">
                              <input type="file" id="uploadResults" multiple name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                              <label for="uploadResults" class="custom-file-label"></label>
                          </div>
                        </div>
                      </div>


                      {{!-- ovo odkomentarisati --}}
                      <div class="card paymentSteps" id="paymentConsent">
                        <div class="card-body" data-toggle="modal" data-target="">
                          <a href="/uslovi-placanja" target="_blank" class="text-center">
                          <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                          <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a>
                          <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                          <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio" id="consentBtn">slažem se</label>
                        </div>
                      </div>

                </div><!-- odabir paketa end -->

                <div class=" col-12 p-0 mb-2 mt-4">
                  <label for="exampleFormControlTextarea1 ">Komentar (maksimalno 254 karaktera)</label>
                  <textarea class="form-control" id="userComment" name="userComment" rows="4" placeholder="Ovde upišite sva pitanja i komentare koje smatrate važnim. Da li su analize rađene u sklopu sistematskog pregleda ili kao pomoć pri nekoj dijagnostici ili praćenju...">{{komentar}}</textarea>
                </div>


                <div class="col-12 text-center">
                  <small class="smallText"><sup>*</sup>Ukoliko ste izvršili uplatu za određeni vremenski paket garantujemo Vam da će Vaši rezultati biti protumačeni u tom roku, to je maksimalno vreme za koje možete očekivati tumačenje. Moguće je da dobijete tumačenje i znatno pre tog roka. Ukoliko ste iskoristili kod za besplatno tumačenje rezultata, minimalno vreme za tumačenje rezultata je 24h a taj rok može biti i veći u zavisnosti od broja zahteva na kojima trenutno radimo. </small>
                </div>


                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-5" id="proceedPayment">nastavi dalje</button>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-4 d-none" id="gratis" >Pošaljite rezultate</button>
                </div>

                <div class="col-12 mb-5">
                  <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budeš zadovoljan pruženom uslugom vraćamo ti novac, bez pitanja.</h3>
                </div>


                <div class="col-12 upload_file">
                    <div class="form-row">
                      <!-- <div class="col-12">
                        <div class="custom-file">
                            <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                            <label for="uploadResults" class="custom-file-label">Odaberite rezultate *</label>
                            <small id="emailHelp" class="form-text text-muted">pdf, jpg, jpeg, png, do 3MB</small>
                        </div>
                      </div> -->

                      <div class="col-6">
                        <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                        <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                        <!-- <small id="emailHelp" class="form-text text-muted">Mi poštujemo vašu privatnost! link ka politici privatnosti</small> -->
                      </div>
                    </div>
                    <!-- <div class="text-center mt-4">
                        <button class="btn btn-success text-uppercase">Nastavi na plaćanje</button>
                      </div> -->
                  </form>
                </div>

                {{else}}

                {{!-- <div class="col-12 text-center my-4">
                    <h2 class="text-center functionalitiesTitle">Online tumačenje Vaših laboratorijskih nalaza</h2>
                </div> --}}


                  <div class="d-none d-md-block col-sm-12 mt-5 col-md-5 col-lg-5 position-relative">
                      <img data-lazy="/images/microscope.svg" class="functionalityIconsInterpretation microscopeFunc imgLazy">
                      {{!-- <div class="text-center priceFrom">
                        od 490din.
                      </div> --}}
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-7 py-2 d-flex flex-column justify-content-center textLazy">

                        <div class="text-center priceFromMobile float-left">
                          <span class="">od 490din.</span>
                        </div>
    
                        <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p>
                        <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                        <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p>

                      
                  <a href="/registracija" class="btn btn-success text-uppercase">Kreiraj nalog</a>
                     
                </div> 

                <div class="col-12 text-center mx-auto my-3">
                   <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko ne ispunimo tvoja očekivanja vraćamo ti novac, bez pitanja.</h3>
                </div>

               <div class="col-12 mt-4"><h3 class="text-center">Kako do tumačenja rezultata?</h3>
               <p>Prvi korak je da kreiraš nalog</p>
               </div>
                
                {{!-- <h2 class="mx-auto mt-5 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
       
                </form> --}}
                {{!-- <h2 class="mx-auto mt-5">Vreme za koje je moguće dobiti protumačene rezultate</h2> --}}
                <div class="d-flex flex-wrap mt-5 mx-auto" id="odabirPaketa">  
                    
                    <div class="card paymentSteps disabledInterpretation">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">490 din.</span>
                        <input type="radio" name="package" value=490 id="t24" disabled {{#if (checkBox package 490)}} checked {{/if}}/>
                        <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio" disabled>trenutno nedostupno</label>
                      </div>
                    </div>                    
                        
                    <div class="card paymentSteps ml-md-3 ml-lg-3 disabledInterpretation">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">590 din.</span>
                        <input type="radio" name="package" value=590 id="t12" class="disabledInterpretation" disabled {{#if (checkBox package 590)}} checked {{/if}} />
                        <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label>
                      </div>   
                    </div>

                        

                    <div class="card paymentSteps  ml-md-1 ml-lg-3 disabledInterpretation">
                        <div class="card-body">
                          {{!-- <div class="najpopularnije">moguće odabrati jedino od 8 do 17h</div> --}}
                          <span class="onSalesNow d-none" id="initialPriceTop"></span>
                          <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 6 sati<sup>*</sup></p>
                          <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                          <input type="radio" name="package" value=890 id="t4" class="disabledInterpretation" disabled  {{#if (checkBox package 890)}} checked {{/if}} />
                          <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label>
                        </div>
                    </div>  
                    
                </div>

                
            

              {{!-- <div class="col-12 my-5">
                <h3 class="cardDisclaimer text-center">Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
              </div> --}}
               
               
                {{!-- <div class="mx-auto">
                    <a href="/registracija"  class="btn btn-success text-uppercase my-3  callToActionNewAcc">postavite Vaše rezultate</a>
                </div> --}}

                {{/if}}
              </div><!-- row end -->
              <section class="mt-5">

               
                  <h2 class="text-center mb-5" id="demoAccount"></h2>


                {{!-- <div class="row">
                  <div class="col-12 mt-4">
                    <h3>Zaključak</h3>
                    <div class="finalThougths">
                      <p>Pod pretpostavkom da je uzorak dat na analizu u periodu 1-5 dana ciklusa, vrednosti hormonskih analiza govore sledeće: Vrednosti polnih hormona su u referentnom opsegu gde se ne vidi poremećaj u njihovom odnosu. Vrednosti hormona štitne žlezde su zadovoljavajući, takođe u referentnom opsegu, ali sa primetnim primicanjem vrednosti FT4 hormona donjoj referentnoj granici. Preporuka je ponoviti testiranje ovih hormona, kako bi se ispratio trend kretanja vrednosti i eventualni skriveni pad FT4. Titar antitela na tireoglobulin je snižen, dok je titar antitela na tireoidnu peroksidazu blago uvećan, što može ukazivati na poremećaj u procesu stvaranja hormona štitne žlezde. Vrednosti AMH su značajno uvećane, što može ukazivati na sindrom policističnih jajnika, povezano sa uzrastom pacijenta. Vrednosti AMH parametra poželjno je tumačiti uz kliničku sliku, nalaz na ultrazvuku i laboratorijske testove DHEA, FSH i LH od strane endokrinologa.
                      </p>
                  </div>
                </div> --}}

                <!-- <h3 class="mt-5 ml-3">Rezultate tumači</h3>
                <div class="col-12 smx-4 doctorDetails mt-4 text-center">
                  <img src="/images/editors/Sanja Nova-2.png-1628202152954.png"  class="rounded-circle hcpImage" alt="">
                  <div class="hcpBio">
                      <p class="editorName font-weight-bold text-left">Sanja Milutinović, diplomirani farmaceut - medicinski biohemičar</p>
                    <p class="editorName text-left">Rođena 1989. godine. Diplomirala na Farmaceutskom fakultetu u Beogradu na smeru magistar farmacije-medicinski biohemičar 2013 godine. Dobitnik je nagrade prof. dr Ivan Berkeš kao najbolji student magistar farmacije–medicinski biohemičar u školskoj 2012/2013 godini. Nakon položenog državnog ispita započinje radni odnos u odeljenju za laboratorijsku dijagnostiku Doma zdravlja Kuršumlija 2015.godine. Trenutno je načelnik laboratorijske dijagnostike Doma zdravlja Kuršumlija. </p>
                  </div>
              </div> -->


              </section>
             

               

             
           

            </div><!-- container end -->
          </section>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

 		<!-- </div> -->
    <!-- table row end  -->
 <!-- </div> -->
  <!-- results container end -->



 {{> _footer}}
