{{!-- stranica za upload fajlova za tumacenje rezultata --}}

{{#each errors}}
  <div class="alert alert-danger text-center alert-dismissible fade show" style="position:relative; z-index:222222;">{{text}}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button></div>
  </div>
{{/each}}
{{> _innerNavInterpretation}}
{{!-- {{> _innerNavFrontend}} --}}
<!-- <form action="/payment" method="POST">
    <button class="btn btn-success text-uppercase">payment gateway</button>
</form> -->
 			<div class="col-md-12 table-responsive">
 				<table class="table results table-hover">
          <section id="paketi">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- <h1 class="sectionTitle">Tumačenje rezultata laboratorijskih analiza</h1> -->

                  <!-- <p class="generalInformation ">Možemo Vam pomoći da bolje razumete rezultate biohemijskih analiza i možemo da odgovorimo na sva pitanja kao i da Vam damo savet za sledeći korak. Naš tim čine biohemičari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p> -->

                </div>


                  <!-- <p class="mt-4">Odaberite vreme za koje želite da vam se protumače rezultati</p> -->
                <!-- samo ulogovani korisnici mogu da urade upload rezultata -->
              {{#if user.id}}

              {{!-- <div class="col-12 text-center my-4">
                  <h2 class="text-center functionalitiesTitle">Prvi online servis za interpretaciju laboratorijskih nalaza</h2>
              </div> --}}
              



              {{!-- <h2 class="mx-auto mt-1 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
                </form> --}}


              {{!-- <div class="col-12 mb-5">
               <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
               </div> --}}


                <div id="odabirPaketa" class="d-flex flex-wrap mx-auto col-12 p-0">

                  {{!-- <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p>
                  <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                  <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p> --}}
                  <p class="generalInformation float-left ml-2  mt-4">Ukoliko imaš kôd za besplatno tumačenje laboratorijskih nalaza unesi ga ovde</p>
                  <form action='/payment' method="POST" enctype="multipart/form-data" id="regularPayment">

                    {{!-- kod za popust --}}
                    
                    <div class="mb-4 col-12 p-3 input-group" id="codeBack" style="background-color:#f7f8fb; border-radius:10px;">
                      <input type="text" name="kodPopust" id="kod"  class="form-control" placeholder="Unesi ovde kôd za besplatno tumačenje"/>
                        <div class="input-group-append">
                          <button class="btn btn-outline-success" type="button" id="codeCheck">Primeni kôd</button>
                        </div>
                    </div>
                    
                    {{!-- <p class="generalInformation ml-2 my-5">Ukoliko želiš da ubrzaš tumačenje tvojih rezultata, to možeš uraditi odabirom vremena za koje želiš da dobiješ tumačenje.</p> --}}
                    {{!-- add class disabledInterpretation if you want to close it --}}
                    
                      <div class="col-12 mt-5" id="firstStep">
                        <h3>1. Odaberi vreme za tumačenje</h3>
                        </div>
                     <div class="card paymentSteps ">
                          <div class="card-body">
                            <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 24 sata</p>
                             {{!-- <span class="text-center mb-4">+ dodatna pojašnjenja</span> --}}
                            <span class="text-center paketiCena">490 din.</span>
                            <input type="radio" name="package" value=490 id="t24"  {{#if (checkBox package 490)}} checked {{/if}} />
                            <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                          </div>
                      </div>                    
                    
                      <div class="card paymentSteps ml-lg-3">
                        <div class="card-body">
                           <div class="najpopularnije">najpopularnije</div>
                          <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 12 sati</p>
                          {{!-- <span class="text-center mb-4">+ dodatna pojašnjenja</span> --}}
                          <span class="text-center paketiCena">590 din.</span>
                          
                          <input type="radio" name="package" value=590 id="t12"  {{#if (checkBox package 590)}} checked {{/if}}/>
                          <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                        </div>   
                      </div>

                     

                       <div class="card paymentSteps ml-lg-3 ">
                          <div class="card-body">
                            <div class="najpopularnije">dostupno od 8 do 18h</div>
                            <span class="onSalesNow d-none" id="initialPriceTop"></span>
                            <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold mb-0">Tumačenje u roku od 4 sata</p>
                            {{!-- <span class="text-center">+ dodatna pojašnjenja</span> --}}
                            {{!-- <span class="text-center">+ besplatan kod za naredno tumačenje</span> --}}
                            <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                            <input type="radio" name="package" value=890 id="t4"  {{#if (checkBox package 890)}} checked {{/if}}/>
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">odaberi</label>
                            {{!-- <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label> --}}
                         </div>
                      </div>
                      {{!-- <div class="col-12">
                      <small class="float-right p-0 m-0"><sup>*</sup>Tumačenje u roku od 6 sati je moguće odabrati između 8 i 18h.</small>
                      </div> --}}

                       {{!-- <div class="card paymentSteps ml-3">
                        <div class="card-body">
                            <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 4<sup>*</sup> sata</p>
                            <span class="text-center paketiCena">699 din</span>
                            <input type="radio" name="package" value=699 id="t4" {{#if (checkBox package 4)}} checked {{/if}} />
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div> --}}
                    <!-- </div> -->

                    
                      
                      {{!-- <div class="col-12 mt-4"><p>Odaberi laboratorijski nalaz za tumačenje (pdf, jpg, jpeg, png) 5MB max.</p></div>
                   
                          <div class="custom-file mb-4">
                              <input type="file" id="uploadResults" multiple name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                              <label for="uploadResults" class="custom-file-label"></label>
                          </div> --}}
                       


                      {{!-- ovo odkomentarisati --}}
                      {{!-- <div class="card paymentSteps" id="paymentConsent">
                        <div class="card-body" data-toggle="modal" data-target="">
                          <a href="/uslovi-placanja" target="_blank" class="text-center">
                          <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                          <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                          <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a> --}}
                          {{!-- <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                          <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio" id="consentBtn">slažem se sa pravilima i uslovima plaćanja</label> --}}
                        {{!-- </div>
                      </div> --}}

                </div><!-- odabir paketa end -->

                <div class=" col-12 p-0 mb-2">
                  <div class="col-12 mt-4"><h3>2. Zašto su rađene analize ili bilo koju drugu napomenu upiši ovde. <span id="userCommentTitle"></span></h3></div>
                  {{!-- <label for="exampleFormControlTextarea1">Komentar (maksimalno 254 karaktera)</label> --}}
                  <textarea class="form-control" id="userComment" maxlength="254" name="userComment" rows="4" placeholder="Popunjavanjem ovog polja nam pomažeš da ti damo što precizniji komentar.">{{komentar}}</textarea>
                </div>


                 <div class="col-12 mt-4 mb-0"><h3>3. Odaberi laboratorijski nalaz za tumačenje (pdf, jpg, jpeg, png) 5MB max.</h3><p> Možeš zakačiti samo jedan dokument, ukoliko su tvoji nalazi u više fajlova moraš ih spojiti u jedan pre slanja. Pokušaj <a href="https://combinepdf.com/" target="_blank">sa ovim alatom</a></p> 
                
                 </div>
                   <div class="custom-file mb-2">
                              <input type="file" id="uploadResults" multiple name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                              <label for="uploadResults" class="custom-file-label"></label>
                               <span class="text-danger mt-0 pt-0 mb-5">Ne tumačimo prenatalne testove.</span>
                          </div>
                          



                <div class="col-12 text-center mt-4">
                  <small class="smallText"><sup>*</sup>Ukoliko je izvršena uplata za određeni vremenski paket garantujemo ti da će tvoji rezultati biti protumačeni u tom roku, to je maksimalno vreme za koje možeš očekivati tumačenje. Moguće je dobiti tumačenje i znatno pre tog roka a sve u zavisnosti od broja zahteva na kojima trenutno radimo. </small><br />  
                  <small class="smallText"><sup>*</sup>LabCube zadržava pravo da izvrši povrat novca korisniku ukoliko smatra da ne može dati zadovoljavajuće tumačenje korisniku ili ukoliko su poslati rezultati van kompetencija našeg tima.</small>
                </div>

                <div class="col-12 text-center mt-5" id="paymentConsent">
                  <input type="checkbox" name="consent" value="true" class="consentCheck" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                    <span style="font-size: 22px;"><label for="consent" class="customRadio ml-2 mt-2 text-align-center" id="consentBtn">Prihvatam <a href="/uslovi-placanja" target="_blank" class="">uslove plaćanja</a></label></span>  
                </div>

                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-2" id="proceedPayment">nastavi dalje</button>
                </div>


                <div class="col-12 text-center">
                    <button class="btn btn-success text-uppercase mt-4 d-none" id="gratis" >Pošalji rezultate</button>
                </div>



                 <div class="col-12 mb-5" id="uplatnica">
                  <h3 class="mb-4">Plaćanje putem IPS QR koda</h3>
                  <p>Ukoliko ti je lakše možeš platiti i putem IPS koda koristeći aplikaciju banke. Kada izvršiš uplatu samo nam pošalji dokaz o uplati na zdravo@labcube.rs a mi ćemo ti vraiti kod koji ćeš iskoristiti na ovoj stranici da postaviš svoje rezultate.</p>
                  </div>
                 <div class="col-4">
                    <div class="card paymentSteps ml-lg-3 ">
                      <div class="card-body">
                          <img src="images/490.svg" alt="">
                      </div>
                    </div>
                 </div>  

                 <div class="col-4">
                    <div class="card paymentSteps ml-lg-3 ">
                      <div class="card-body">
                           <img src="images/590.svg" alt="">
                      </div>
                    </div>
                 </div>  

                 <div class="col-4 mb-5">
                    <div class="card paymentSteps ml-lg-3 ">
                      <div class="card-body">
                           <img src="images/890.svg" alt="">
                      </div>
                    </div>
                 </div>  
                
                   
           

                <div class="col-12 my-5" id="uplatnica">
                  <h3 class="mb-4">Moguće je plaćanje i putem uplatnice</h3>
                  <p class="mb-4">Ukoliko ti više odgovara, možeš platiti uslugu tumačenja i preko uplatnice. Popuni uplatnicu kao na primeru ispod, u polje za iznos unesi jednu od 3 moguće opcije (490, 590 ili 890din). Pošalji nam dokaz o uplati na zdravo@labcube.rs i mi ćemo ti poslati kôd na mejl koji ćeš uneti na ovoj stranici, nakon toga samo postavi rezultate za koje ti je potrebno tumačenje.</p>
                  <p class="text-danger text-center mb-3">Tumačenje u roku od 4 sata je moguće jedino između 08 i 18h. Ukoliko uplatiš 890din nakon 18h, rok za tumačenje je sutra do 12h.</p>
                  <img src="/images/uplatnica.png" alt="" class="mb-5 w-100"> 
                <div>

                <div class="col-12 mb-5">
                  <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                </div>


                <div class="col-12 upload_file">
                    <div class="form-row">
                      <!-- <div class="col-12">
                        <div class="custom-file">
                            <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                            <label for="uploadResults" class="custom-file-label">Odaberite rezultate *</label>
                            <small id="emailHelp" class="form-text text-muted">pdf, jpg, jpeg, png, do 3MB</small>
                        </div>
                      </div> -->

                      <div class="col-6">
                        <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                        <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                        <!-- <small id="emailHelp" class="form-text text-muted">Mi poštujemo vašu privatnost! link ka politici privatnosti</small> -->
                      </div>
                    </div>
                    <!-- <div class="text-center mt-4">
                        <button class="btn btn-success text-uppercase">Nastavi na plaćanje</button>
                      </div> -->
                  </form>
                </div>

                {{else}}

                {{!-- <div class="col-12 text-center my-4">
                    <h2 class="text-center functionalitiesTitle">Online tumačenje Vaših laboratorijskih nalaza</h2>
                </div> --}}


                  {{!-- <div class="d-none d-md-block col-sm-12 mt-5 col-md-4 col-lg-4 position-relative">
                      <img data-lazy="/images/microscope.svg" class="functionalityIconsInterpretation microscopeFunc imgLazy">
                  </div> --}}

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 py-2 d-flex flex-column justify-content-center textLazy">

                        {{!-- <div class="text-center priceFromMobile float-left">
                          <span class="">od 490din.</span>
                        </div> --}}
    
                        {{!-- <p class="generalInformation float-left ml-2">Ukoliko ti je potrebna pomoć u tumačenju i boljem razumevanju rezultata tvojih laboratorijskih nalaza, na pravom si mestu!</p> --}}

                         <p class="generalInformation float-left"><h3 class="ml-2">Nema više lutanja sa nalazima laboratorije!</h3></p>                
                         {{!-- <p class="generalInformation float-left ml-2">Svim novim korisnicima nudimo mogućnost da besplatno isprobaju online tumačenje laboratorijskih nalaza. Potrebno je da kreiraš nalog i na tvom profilu ćeš pronaći kod za jedno besplatno tumačenje.</p> --}}

                         <p class="generalInformation float-left ml-2">Ne moraš više da čekaš pregled kod lekara da bi razumeo svoje laboratorijske nalaze ili da zoveš laboratoriju i trudiš se da zapamtiš informacije koje ti daju, ne moraš više da pretražuješ Google ili da juriš prijatelje lekare, biohemičare... </p>
                      
                         <p class="generalInformation float-left ml-2">Pravilno razumevanje laboratorijskih nalaza je veoma važno i može da pomogne pri donošenju daljih odluka u vezi tvog zdravlja. Da bismo svima pomogli, bez obzira gde se nalaze napravili smo online servis za tumačenje rezultata iza koga stoje iskusni biohemičari i lekari.  </p>

                         <p class="generalInformation float-left ml-2">Jednostavno je, kada ti laboratorija pošalje rezultate iskoristi ovu stranicu da uradiš upload i u veoma kratkom roku znaćeš sve što je važno u vezi tvojih rezultata.</p>

                          <p class="generalInformation float-left ml-2">Ukoliko ti je potrebno tumačenje nalaza za tvoje roditelje ili decu i to je moguće. Samo postavi njihove rezultate i popuni zdravstveni upitnik u skladu sa tim.</p>


                          <p class="generalInformation float-left ml-2">Tumačili smo rezultate pacijentima iz Srbije, Hrvatske, Bosne i Hercegovine, Crne Gore, Italije, Austrije, Norveške, Nemačke...</p>

                          <p class="generalInformation float-left ml-2">Ako imaš bilo kakvo pitanje ili nedoumicu piši nam na zdravo@labcube.rs</p>

                           
                            </p>

                         {{!-- <p class="generalInformation float-left ml-2">Za 490 dinara svako može dobiti detaljan komentar na svoje rezultate laboratorije. Osim toga, svi laboratorijski izveštaji na koje ti damo komentar ostaju na tvom profillu, hronološki sortirani tako da zauvek znaš gde su i možeš im pristupiti u svakom trenutku.</p> --}}

                        

                        {{!-- <p class="generalInformation float-left ml-2">Umesto da pitaš Google šta znači povišen CRP, koji od ona dva je "dobar" holesterol, da li sniženi broj limfocita ukazuje na virusnu ili bakterijsku infekciju, napravili smo servis za interpretaciju rezultata iza koga stoje biohemičari i lekari sa višegodišnjim iskustvom iz državnih i privatnih laboratorija.</p>
                        <p class="generalInformation float-left ml-2">Protumačićemo tvoje rezultate i odgovorićemo na sva pitanja, a daćemo ti i savet za sledeći korak.</p> --}}

                      
                  {{!-- <a href="/registracija" class="btn btn-success text-uppercase">Pokreni tumačenje</a> --}}
                   {{!-- <a href="/registracija" class="btn btn-block btn-outline-info btn-lg display-4 mb-5"><h3 class="mt-2">Pokreni tumačenje nalaza</h3></a> --}}
                </div> 

                  <div class="col-12 mb-4">
                  <h3 class="mb-0 pb-0">Postoji više opcija kako možeš dobiti tumačenje laboratorijskih nalaza</h3>
                  <span class="mt-0 pt-0">Sve opcije su podjednako kvalitetne samo se razlikuju po načinu na koji šalješ rezultate i kako vršiš uplatu. Rok za tumačenje nalaza poslatih preko vibera ili mejla je 24h. Ukoliko želite kraće vreme za tumačenje odaberite opciju tumačenja preko aplikacije</span>
                  </div>

                    
                    <div class="card paymentSteps mr-2">
                    <div class="card-body">
                          <img src="images/viberpayment.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">    
                          <p class="text-center paketiCena">Pošalji rezultate preko Vibera</p>
                          <span class="text-center ">Pošalji nam tvoje laboratorijske nalaze preko vibera a plaćanje izvrši kada stigneš i na način koji ti najviše odgovara. Tumačenje nalaza ti šaljemo na viber. <span>
                           <btn class="btn btn-block text-uppercase btn-outline-info mt-4" data-toggle="modal" data-target="#viberModal">odaberi</btn>
                        </div>
                      </div>
                    
                     <!-- Modal viber-->
                      <div class="modal fade" id="viberModal" tabindex="-1" role="dialog" aria-labelledby="viberModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Pošalji rezultata preko Vibera</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Prosledi nam tvoje rezultate na LabCube Viber +381642612813.</p><p>Obavezno je poslati i kratak komentar zašto su analize rađene i sve što može biti od značaja prilikom tumačenja nalaza. Ne tumačimo rezultate bez pratećeg komentara.</p>
                             <p>Odaberi način uplate koji ti najviše odgovara i kada izvršiš uplatu pošalji nam dokaz o uplati u roku od 24h na +381642612813</p>
                              <p>Tumačenje<sup>*</sup> započinjemo odmah nakon što dobiješ potvrdu o prijemu rezultata.</p>
                              <p><sup>*</sup>Okvirno vreme za tumačenje je 24h.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Zatvori</button>
                            </div>
                          </div>
                        </div>
                      </div>
                   
                    <div class="card paymentSteps mr-2">
                    <div class="card-body">
                          <img src="images/emailpayment.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">    
                          <p class="text-center paketiCena">Pošalji rezultate mejlom</p>
                          <span class="text-center ">Prosledi nam tvoje laboratorijske nalaze na mejl a plaćanje izvrši kada stigneš i na način koji ti najviše odgovara. Tumačenje nalaza ti šaljemo na mejl.<span>
                           <btn class="btn btn-block text-uppercase btn-outline-info mt-4" data-toggle="modal" data-target="#exampleModal">odaberi</btn>
                        </div>
                      </div>


                      <!-- Modal mejl-->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Tumačenje rezultata putem mejla</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Prosledi nam tvoje rezultate na <a href="mailto:rezultati@labcube.rs?&body=[Ovde upišite zašto su rađane analize i sve druge detalje koje smatrate važnim]" target="_blank">rezultati@labcube.rs</a></p>  <p>Odaberi način uplate koji ti najviše odgovara i kada izvršiš uplatu pošalji nam dokaz o uplati u roku od 24h na rezultati@labcube.rs</p>
                              <p>Obavezno je poslati i kratak komentar zašto su analize rađene i sve što može biti od značaja prilikom tumačenja nalaza. Ne tumačimo rezultate bez pratećeg komentara.</p>
                              <p>Tumačenje<sup>*</sup> započinjemo odmah nakon što dobiješ potvrdu o prijemu rezultata.</p>
                              <p><sup>*</sup>Okvirno vreme za tumačenje je 24h.</p>
                            </div>
                            <div class="modal-footer">
                              
                              <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Zatvori</button>
                            </div>
                          </div>
                        </div>
                      </div>
      

                      <div class="card paymentSteps mr-2">
                      <div class="card-body">
                          <img src="images/onlinepayment.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">    
                          <p class="text-center paketiCena">Pošalji rezultate kroz aplikaciju</p>
                          <span class="text-center">Najbolje iskustvo tumačenja nalaza dobijaš ako sve uradiš online, napravi nalog i sve obavi na jednom mestu. Tumačenje nalaza ti je uvek dostupno na tvom LabCube profilu.</span>
                          <a href="/registracija" class="btn btn-block text-uppercase btn-outline-info mt-4">odaberi</a>
                        </div>
                      </div>

                
                      

                    <div class="col-12 my-4">
                        
                      <h3 class="mb-5">Opcije za plaćanje kada se rezultati šalju putem vibera ili mejla</h3>
                      <p><strong>1. Skeniraj IPS kod</strong></p>
                      <img src="/images/599.png"/>
                      <p class="mt-5"><strong>2. Plaćanje putem uplatnice</strong></p>
                      <img src="/images/uplatnica599.png" alt="" class="mb-5 w-100">
                    </div>

  
                   {{!-- <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                         
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">490 din.</span>
                      </div>
                    </div>   --}}

                    {{!-- <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="images/12h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                         
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">590 din.</span>
                      </div>
                    </div>  --}}

                    {{!-- <div class="card paymentSteps ">
                      <div class="card-body">
                        <img src="images/4h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        
                        <p class="text-center font-weight-bold">Tumačenje u roku od 4 sata</p>
                        <span class="text-center paketiCena">890 din.</span>
                      </div>
                    </div>   --}}

                

                 <div class="col-12 my-4">
                    <h3 class="mb-4">Šta podrazumeva i kako izgleda tumačenje rezultata?</h3>
                    <p class="generalInformation">Naše kolege će detaljno pogledati tvoje laboratorijske nalaze, uzeti u obzir podatke iz zdravstvenog profila koji popunjavaš kada napraviš nalog i na osnovu toga napisati detaljan zaključak u kome će se osvrnuti na svaki parametar koji zahteva pažnju. Predložiće ti i da ponoviš neke analize ukoliko je potrebno ili da uradiš dodatne, uputiće te ka specijalisti ako za to ima potrebe. Znamo da komentar na rezultate možeš dobiti i u laboratoriji ali oni često nemaju vremena i moraš se truditi da zapamtiš sve što ti kažu. </p><p class="generalInformation">Mi imamo vremena da se svakom pacijentu detaljno posvetimo i još će ti svi naši komentari ostati zapisani tako da možeš pročitati naš zaključak više puta. Osim toga, svi tvoji rezultati su hronološki sortirani i na jednom mestu, nema više traženja po inboxu. 
                    </p>

                      
                     <h3 class="my-5">Primer jednog tumačenja</h3>
                     {{!-- <div style="border:1px solid #E0E4EC; border-radius:20px; padding:20px;"> --}}
                     <img src="images/example.png" style="width:800px;" alt="" class="img-fluid">
                    
                  
                    
                    
                    <div class="col-12 text-center mx-auto my-5">
                      <h3 class="cardDisclaimer text-center p-4">Ništa ne rizikuješ. Ukoliko usluga ne ispuni tvoja očekivanja, vraćamo ti novac, bez pitanja.</h3>
                    </div>
                  </div>

                <div class="col-12">
                <h3 class="my-5">Komentari korisnika koji su isprobali online tumačenje nalaza</h3>
                </div>
               <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Veoma ljubazni, brzo odgovore. Odgovor opširan ali razumljiv svima. Veoma zahvalna na tumačenju rezultata i savetu. Preporuka.</p>
                      </div>
                    </div>  

                    <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Hvala puno na veoma brzom i opširnom odgovoru, puno je više od očekivanog.</p>     
                      </div>
                    </div>  

                      <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Zadovoljna sam vašim tumačenjem,sve stavke pažljivo sagledane i objašljene.Baš sve onako kako treba.Saveti su vam odlični,ispunili ste moja očekivanja..</p>     
                      </div>
                    </div>  

                    <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Svaka cast za ovu uslugu. Od nemerljivog je znacaja pacijentima. U mom slucaju, ova analiza mi veoma znaci jer mogu da se informisem detaljnije o stanju u kom sam, dok cekam zakazani termin kod svog endokrinologa. Sigurno cu preporuciti svojim prijateljima ovu uslugu!
                          Sve pohvale!</p>     
                      </div>
                    </div>  

                   

                    <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Hvala lepo. Vase tumačenje rezultata tumor markera mi je mnogo pomoglo. Objasnjeno je sve detaljno i zaista svaka cast ! Ovo mi zaista mnogo znači! Pozdrav i sve najbolje! </p>     
                      </div>
                    </div>  

                     <div class="card paymentSteps mr-2">
                      <div class="card-body">
                        <p class="text-center">Odgovor je za svaku pohvalu. Niko od lekara nije tako objasnio povišene vrednosti. Hvala vam puno. </p>     
                      </div>
                    </div>  

                    

                <div class="col-12">
                
                <h3 class="my-5">Ko tumači rezultate?</h3>
                 <div class="row">
                   
                

                  <div class="col-sm-6 col-md-4 mt-3 text-center">              
                    <img src="/images/editors/JelenaDj.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Jelena Đuran</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                    </div>
                  </div>
     

                     <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/Valentina.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">Valentina Mandić</p>
                        <span class="text-center disabled p-0">Medicinski biohemičar</span>
                      </div>
                     </div>

                     
                    <div class="col-sm-6 col-md-4   mt-3 text-center">
                      <img src="/images/editors/IvanZaletel.png"  class="rounded-circle hcpImage" alt="Ivan Zaletel specijalista patologije">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">dr Ivan Zaletel</p>
                        <span class="text-center disabled p-0">Specijalista patologije</span>
                      </div>
                     </div>
                  
                 

                   <div class="col-sm-6 col-md-4  mt-3 text-center">
                    <img src="/images/editors/VanjaV.png"  class="rounded-circle hcpImage" alt="">
                    <div class="hcpBio">
                      <p class="text-center font-weight-bold">Vanja Vlaisavljević</p>
                      <span class="text-center disabled p-0">Medicinski biohemičar</span>
                    </div>
                  </div>

                    <div class="col-sm-6 col-md-4 mt-3 text-center">
                      <img src="/images/editors/Miljana.png"  class="rounded-circle hcpImage" alt="">
                      <div class="hcpBio">
                        <p class="text-center font-weight-bold">dr Miljana Đurić</p>
                        <span class="text-center disabled p-0">doktor medicine</span>
                      </div>
                     </div>

                  </div>
                </div>

                 

                <div class="col-12 text-center mx-auto my-5">
                   <h3 class="cardDisclaimer text-center p-4">Ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</h3>
                </div>

                 <div class="col-12 text-center mx-auto my-3">
                   <span class="text-center p-4">Ukoliko imaš bilo kakvo pitanje u vezi tumačenja rezultata ili nečeg drugog javi se na zdravo@labcube.rs</span>
                </div>

                <div class="col-12 text-center">
                {{!-- <a href="/registracija" class="btn btn-success text-uppercase">Započni tumačenje</a> --}}
                  <a href="/registracija" class="btn btn-block btn-outline-info btn-lg display-4 mb-5"><h3 class="mt-2">Pokreni tumačenje nalaza</h3></a>
                </div>


               {{!-- <div class="col-12 mt-4"><h3 class="text-center">Kako do tumačenja rezultata?</h3>
               <p>Prvi korak je da kreiraš nalog</p>
               </div> --}}
                
                {{!-- <h2 class="mx-auto mt-5 text-danger text-center">Zbog povećanog broja zahteva trenutno nismo u mogućnosti da primamo nove rezultate za tumačenje. Ostavite nam mejl kako bismo Vam javili kada servis ponovo postane dostupan.</h2> --}}
                {{!-- otkomentarisati ako skupljamo mejl --}}
                {{!-- <form action="/putUserEmail" method="POST" class="my-4">   
                
                     <div class="input-group my-4">
                      <input type="email" class="form-control" name="email" placeholder="Upišite vaš email">
                      <div class="input-group-append">
                      <button class="btn  btn-outline-info text-uppercase float-right">Prijavi me</button>
                      </div>
                    </div>
       
                </form> --}}
                {{!-- <h2 class="mx-auto mt-5">Vreme za koje je moguće dobiti protumačene rezultate</h2> --}}
                {{!-- <div class="d-flex flex-wrap mt-5 mx-auto" id="odabirPaketa">   --}}
                    
                    {{!-- <div class="card paymentSteps disabledInterpretation">
                      <div class="card-body">
                        <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                        <span class="text-center paketiCena">490 din.</span>
                        <input type="radio" name="package" value=490 id="t24" disabled {{#if (checkBox package 490)}} checked {{/if}}/>
                        <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio" disabled>trenutno nedostupno</label>
                      </div>
                    </div>                     --}}
                        
                    {{!-- <div class="card paymentSteps ml-md-3 ml-lg-3 disabledInterpretation">
                      <div class="card-body">
                        <div class="najpopularnije">najpopularnije</div>
                        <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                        <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                        <span class="text-center paketiCena">590 din.</span>
                        <input type="radio" name="package" value=590 id="t12" class="disabledInterpretation" disabled {{#if (checkBox package 590)}} checked {{/if}} />
                        <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">trenutno nedostupno</label>
                      </div>   
                    </div> --}}                    
                {{!-- </div> --}}

              {{!-- <div class="col-12 my-5">
                <h3 class="cardDisclaimer text-center">Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
              </div> --}}
               
               
                {{!-- <div class="mx-auto">
                    <a href="/registracija"  class="btn btn-success text-uppercase my-3  callToActionNewAcc">postavite Vaše rezultate</a>
                </div> --}}

                {{/if}}
              </div>
              <!-- row end -->
              <section class="mt-5">

               
                  <h2 class="text-center mb-5" id="demoAccount"></h2>


                {{!-- <div class="row">
                  <div class="col-12 mt-4">
                    <h3>Zaključak</h3>
                    <div class="finalThougths">
                      <p>Pod pretpostavkom da je uzorak dat na analizu u periodu 1-5 dana ciklusa, vrednosti hormonskih analiza govore sledeće: Vrednosti polnih hormona su u referentnom opsegu gde se ne vidi poremećaj u njihovom odnosu. Vrednosti hormona štitne žlezde su zadovoljavajući, takođe u referentnom opsegu, ali sa primetnim primicanjem vrednosti FT4 hormona donjoj referentnoj granici. Preporuka je ponoviti testiranje ovih hormona, kako bi se ispratio trend kretanja vrednosti i eventualni skriveni pad FT4. Titar antitela na tireoglobulin je snižen, dok je titar antitela na tireoidnu peroksidazu blago uvećan, što može ukazivati na poremećaj u procesu stvaranja hormona štitne žlezde. Vrednosti AMH su značajno uvećane, što može ukazivati na sindrom policističnih jajnika, povezano sa uzrastom pacijenta. Vrednosti AMH parametra poželjno je tumačiti uz kliničku sliku, nalaz na ultrazvuku i laboratorijske testove DHEA, FSH i LH od strane endokrinologa.
                      </p>
                  </div>
                </div> --}}

                <!-- <h3 class="mt-5 ml-3">Rezultate tumači</h3>
                <div class="col-12 smx-4 doctorDetails mt-4 text-center">
                  <img src="/images/editors/Sanja Nova-2.png-1628202152954.png"  class="rounded-circle hcpImage" alt="">
                  <div class="hcpBio">
                      <p class="editorName font-weight-bold text-left">Sanja Milutinović, diplomirani farmaceut - medicinski biohemičar</p>
                    <p class="editorName text-left">Rođena 1989. godine. Diplomirala na Farmaceutskom fakultetu u Beogradu na smeru magistar farmacije-medicinski biohemičar 2013 godine. Dobitnik je nagrade prof. dr Ivan Berkeš kao najbolji student magistar farmacije–medicinski biohemičar u školskoj 2012/2013 godini. Nakon položenog državnog ispita započinje radni odnos u odeljenju za laboratorijsku dijagnostiku Doma zdravlja Kuršumlija 2015.godine. Trenutno je načelnik laboratorijske dijagnostike Doma zdravlja Kuršumlija. </p>
                  </div>
              </div> -->


              </section>
             

               

             
           

            </div><!-- container end -->
          </section>
 				</table><!-- table -->
 			</div><!-- table-responsive -->

 		<!-- </div> -->
    <!-- table row end  -->
 <!-- </div> -->
  <!-- results container end -->



 {{> _footer}}
