{{> _innerNavFrontend}}
{{!-- Komentar na rezultate koje je uplodovao pacijent o svom trosku --}}
<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="myresults">
 		<div class="row">
 			<div class="col-md-12 col-lg-12">
        <section id="my-results" >
            <p class="py-5" id="navigationMyResults"><span class="float-left back nolink"><a href="/profile" class="nolink"><img src="/images/back.svg"> Nazad</a></span><span class="float-right"><a href="javascript:window.print()"><img src="/images/stampaj.svg"></a></span></p>
              <h1 class="mt-4 interpretationDate">Rezultat poslat na tumačenje {{formatLabScheduleDate myResults.submitedDate}}</h1>

              <div class="col-12 doctorDetailsInner smx-4  mt-4 text-center">
                <img src="/images/editors/{{myResults.owner.image}}"  class="rounded-circle hcpImage" alt="">
              {{!-- </div> --}}
                <div class="hcpBio">
                  <p class="editorName font-weight-bold mb-3">Rezultate tumači: {{myResults.owner.username}}</p>
                  <p class="editorName text-left">{{myResults.owner.aboutUser}}</p>
                </div>
              </div>
            </div>

              {{!-- {{#each myResults.analyses}} --}}
              <div class="resultDetails mt-5">
                  {{!-- <div class="col-12 col-md-7 pr-4">
                    <h4 class="analysisName">{{this.analysis}} <span class="{{outsideOfTheRange this.outsideOfTheRange}}">{{this.value}} {{{this.measure}}}</span></h4>
                     <p>{{this.comment}}</p>
                    <p>{{{this.analysisId.shortDesc}}}</p>
                  </div>
                  <div class="col-12 col-md-5 analysisResults"> --}}

                    {{#if (notZero this.lessThen)}}

                      {{!-- <div>
                        <input type="range" class="regularResults min {{lessThenCheck this.value  this.lessThen}}"
                        data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max={{this.lessThen}}  value={{this.value}}  step="0.1" disabled data-slider-id='ex1Slider'>
                        <div class="rangeLabels">&lt {{this.lessThen}}</div>
                      </div>
                      <div>

                        <input type="range" class="max {{greaterThen this.value this.lessThen}}"
                        data-toggle="tooltip" tooltip="{{this.value}}" name="high" min={{this.lessThen}}  value={{this.value}}  step="0.1" max={{addMaxValue this.lessThen}} disabled>
                        <div class="rangeLabels">&gt {{this.lessThen}}</div>
                      </div>

                    <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span> --}}

                    {{else if (notZero this.greaterThen)}}

                    {{!-- <div>
                      <input type="range" class="min {{lessThenCheckNotOk this.value  this.greaterThen}}"
                      data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max={{this.greaterThen}}  value={{this.value}} name="high" step="0.1" disabled>
                      <div class="rangeLabels">&lt {{this.greaterThen}}</div>
                    </div>
                    <div>

                      <input type="range" class="regularResults max {{greaterThenOk this.value this.greaterThen}}"
                      data-toggle="tooltip" tooltip="{{this.value}}" name="low" min={{this.greaterThen}}  value={{this.value}}  max={{addMaxValue this.greaterThen}} step="0.1" disabled>
                      <div class="rangeLabels">&gt {{this.greaterThen}}</div>
                    </div> --}}

                    {{!-- zakomentarisati --}}
                    {{!-- <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span> --}}

                    {{else}}
                        {{!-- <div>
                          <input type="range" class="min {{lowValue this.value this.valueFrom}}"
                          data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max="{{this.valueFrom}}"  value={{this.value}}  step="0.1"  disabled >
                          <div class="rangeLabels">&lt {{this.valueFrom}}</div>
                        </div>
                        <div>
                          <input type="range" class="regularResults {{betweenRange this.value this.valueFrom this.valueTo}}" name="regular"
                          data-toggle="tooltip" tooltip="{{this.value}}" min="{{this.valueFrom}}" max="{{this.valueTo}}" value={{this.value}} step="0.1"  disabled>
                          <div class="rangeLabels">{{valueFrom}} - {{valueTo}}</div>
                        </div>
                        <div>
                          <input type="range" class="max {{highValue this.value this.valueTo}}" name="high" min="{{this.valueTo}}" max={{addMaxValue this.valueTo}} value={{this.value}} step="0.1"  disabled>
                          <div class="rangeLabels">&gt {{this.valueTo}}</div>
                        </div> --}}
                        <!-- <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span> -->
                  {{/if}}
                  {{!-- </div> --}}
                  <!-- analysis result -->
                  {{!-- <div class="col-12"> --}}

                   <!-- Komentar svakog rezultata -->
                    {{!-- {{#if (notBlank this.commentResult)}}
                    <p class="myResultsComment">
                      <span>{{{this.commentResult}}} <br /></span>
                    </p>
                      {{/if}} --}}
                  {{!-- </div> --}}
              {{!-- </div> --}}
              <!-- resultDetails -->

              {{!-- {{/each}} --}}

              <div class="col-12">
                <h3 class="">Zaključak</h3>
                <div class="finalThougths mb-5">
                  <pre class="generalInformationConclusion">{{{myResults.commentCube}}}</pre><pre>
                </div>
              </div>
              
        </section><!-- settings id end -->
         <div class="col-12 text-center">
        <a href="mailto:zdravo@labcube.rs?subject=Potrebno dodatno pojašnjenje u vezi tumačenja broj: {{myResults._id}}&body=[ovde upiši dodatno pitanje]%0D%0D{{myResults.commentCube}}" target="_blank" class="btn btn-outline-info btn-lg mb-5 text-center ml-auto">Potrebno ti je dodatno pojašnjenje zaključka?</a>
        
        
      </div>
      </div> <!-- col 12 end -->

     



      {{#unless feedbackSent}}
      <section id="resultsLabDetailsComments">
        <div class="col-12">
          <form class="mt-5" action="/sendFeedbackForLabCube/{{myResults._id}}" method="post">
            <label for="labFeedback" class="text-muted  generalInformation">Voleli bismo da znamo da li je usluga ispunila tvoja očekivanja ili misliš da bi nešto trebalo promeniti, da bi nešto moglo drugačije, jednostavnije. Svaki komentar nam znači i svaki nam pomaže da budemo još bolji. Hvala</label>
              <textarea name="interpretationFeedback" class="col-12 mt-3" data-hj-allow rows="5" cols="80" id="labFeedback" placeholder="Mesto za predlog, pohvalu, kritiku..."></textarea>
              <div class="wrapper">
                <input type="radio" id="st1" value="5" name="star"/>
                <label for="st1"></label>
                <input type="radio" id="st2" value="4" name="star"/>
                <label for="st2"></label>
                <input type="radio" id="st3" value="3" name="star"/>
                <label for="st3"></label>
                <input type="radio" id="st4" value="2" name="star"/>
                <label for="st4"></label>
                <input type="radio" id="st5" value="1" name="star"/>
                <label for="st5"></label>
              </div>
              <button name="button" class="btn btn-block btn-primary text-uppercase mb-5">Oceni uslugu</button>
          </form>
        </div>
      </section>
      {{/unless}}

      {{#if feedbackSent}}
      <div class="col-12 text-center mb-5">
        <!-- <p class="mb-0">Hvala na komentaru.</p> --><br />
        <small class="mt-0">Usluga ocenjena: {{{formatRsDate myResults.feedbackDate}}}</small>
      </div>
      {{/if}}

 		</div><!--row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
