{{> _innerNavFrontend}}

<div class="container-fluid pr-0 pl-0">
  <div class="row">
    <div class="col-lg-12">
      <div id="mapPrices" class="d-none">
      </div>
    </div>
  </div>
</div>

<div class="container" id="results">
 		<div class="row">
      <!-- {{name}} -->
 			<div class="col-md-12 col-lg-12">

        <section id="my-results">
          <div class="container">
            <p class="pb-2"><span class="float-right"><a href="javascript:window.print()"><img src="/images/stampaj.svg"></a></span></p>
              <h1 >{{myResults.lab.labName}} - {{formatLabScheduleDate myResults.scheduledFor myResults.uzimanjeUzorka}}</h1>
              <div class="col-12 doctorDetails">
                <img src="/images/man.jpg"  class="rounded-circle hcpImage" alt="">
                <div class="hcpBio">
                    <p class="h5">dr Miroslav Janković</p>
                    <p>icing elit. Accusamujdskjdks kjs kjds kdjs s illum, sequi asperiorconsec. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit id quas, molestiae aut nemo modi quasi cupiditate dicta delectus esse, ratione expedita!</p>
                </div>
              </div>
            <div class="row">

              {{#each myResults.analyses}}

              <div class="resultDetails">
                  <div class="col-12 col-md-7 pr-4">
                    <h4 class="analysisName">{{this.analysis}} <span class="{{outsideOfTheRange this.outsideOfTheRange}}">{{this.value}} {{{this.measure}}}</span></h4>
                    <p>{{this.analysisId.shortDesc}}</p>
                  </div>
                  <div class="col-12 col-md-5 analysisResults">

                    {{#if (notZero this.lessThen)}}

                      <div>
                        <input type="range" class="regularResults min {{lessThenCheck this.value  this.lessThen}}"
                        data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max={{this.lessThen}}  value={{this.value}}  step="0.1" disabled>
                        <div class="rangeLabels">&lt {{this.lessThen}}</div>
                      </div>
                      <div>

                        <input type="range" class="max {{greaterThen this.value this.lessThen}}"
                        data-toggle="tooltip" tooltip="{{this.value}}" name="high" min={{this.lessThen}}  value={{this.value}}  step="0.1" max={{addMaxValue this.lessThen}} disabled>
                        <div class="rangeLabels">&gt {{this.lessThen}}</div>
                      </div>

                    <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span>

                    {{else if (notZero this.greaterThen)}}

                    <div>
                      <input type="range" class="min {{lessThenCheckNotOk this.value  this.greaterThen}}"
                      data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max={{this.greaterThen}}  value={{this.value}} name="high" step="0.1" disabled>
                      <div class="rangeLabels">&lt {{this.greaterThen}}</div>
                    </div>
                    <div>

                      <input type="range" class="regularResults max {{greaterThenOk this.value this.greaterThen}}"
                      data-toggle="tooltip" tooltip="{{this.value}}" name="low" min={{this.greaterThen}}  value={{this.value}}  max={{addMaxValue this.greaterThen}} step="0.1" disabled>
                      <div class="rangeLabels">&gt {{this.greaterThen}}</div>
                    </div>

                    <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span>

                    {{else}}
                        <div>
                          <input type="range" class="min {{lowValue this.value this.valueFrom}}"
                          data-toggle="tooltip" tooltip="{{this.value}}" name="low" min="0" max="{{this.valueFrom}}"  value={{this.value}}  step="0.1"  disabled >
                          <div class="rangeLabels">&lt {{this.valueFrom}}</div>
                        </div>
                        <div>
                          <input type="range" class="regularResults {{betweenRange this.value this.valueFrom this.valueTo}}" name="regular"
                          data-toggle="tooltip" tooltip="{{this.value}}" min="{{this.valueFrom}}" max="{{this.valueTo}}" value={{this.value}} step="0.1"  disabled>
                          <div class="rangeLabels">{{valueFrom}} - {{valueTo}}</div>
                        </div>
                        <div>
                          <input type="range" class="max {{highValue this.value this.valueTo}}" name="high" min="{{this.valueTo}}" max={{addMaxValue this.valueTo}} value={{this.value}} step="0.1"  disabled>
                          <div class="rangeLabels">&gt {{this.valueTo}}</div>
                        </div>
                        <span class="analysisComment"><a href=""><img src="/images/detail.svg"></a></span>
                  {{/if}}
                  </div><!-- analysis result -->
              </div><!-- resultDetails -->
              {{/each}}
              <!-- <p class="mt-4">{{myResults.commentResult}}</p> -->
            </div> <!-- row end -->
          </div> <!-- container end -->
        </section><!-- settings id end -->

      </div>
 		</div><!-- table row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
