{{> _innerNavFrontendPayment}}

<style>
  body {background-color:#fff;}
  .wpwl-form {background:#fff;
  box-shadow: 11px 18px 47px -19px rgba(0,0,0,0.82);
  border-radius:20px;}
</style>

<script>
var wpwlOptions = {
style:"plain",
billingAddress: {country:"RS"},
mandatoryBillingFields:{
            country: true,
            state: false,
            city: true,
            postcode: true,
            street1: true,
            street2: false
        },
locale:"rs",
brandDetection:true,
autofocus: 'card.number',
showLabels:false,
requireCvv: true,
showCVVHint: true,
showLabels:false,
maskCvv: false,
showPlaceholders:true,
autofocus: 'card.number',
labels:{billingAddress:"Adresa za naplatu"},
placeholders: {
  cardHolder: "Ime i prezime", cvv: "CVV kod", cardNumber:"Broj kartice", expiryDate:"Datum isteka kartice", cvvHint: "Tri broja sa poleđine kartice", },
errorMessages: {cardNumberError:"Neispravan broj kartice",cardHolderError: "Ime korisnika kartice nije u odgovarajućem formatu", cvvError: "Neispravan cvv",expiryMonthError:"Unesite drugi datum isteka", expiryYearError:"Unesite drugi datum isteka" },


onReady: function() {
var LogoHtml = '<div id="logo"><img border="0" img src="https://i.postimg.cc/NFwkTMDP/logo1.png" alt="allsecure" ></div>';
$('form.wpwl-form-card').find('.wpwl-wrapper-brand').before(LogoHtml); //ubacivanje loga

var BannerHtml = '<div id="banner"><div id="d1"><img border="0" src="https://i.postimg.cc/MpbHtm1X/msc.png" alt="MasterCard SecureCode"></div><div id="d2"><img border="0" src="https://i.postimg.cc/LXyZD3Kj/vbv.png" alt="VerifiedByVISA"></div><a href="https://www.unicreditbank.rs/" target="_blank"><div id="d3"><img border="0" src="images/unicredit.png" alt="UniCredit Banka"></div></a></div>';
$('form.wpwl-form-card').find('.wpwl-group-submit').after(BannerHtml);		//baner sa ikonicama 3d secure

$(".wpwl-group-cardNumber").after( $(".wpwl-group-cardHolder").detach()); //pomeranje polja cardnumber pre polja broj cardholder
$(".wpwl-group-expiry").after( $(".wpwl-group-cvv").detach());
$('.wpwl-button-pay').html('Plati'); //promena polja pay u potvrdi
$('.wpwl-button-pay').css({'background-color':'#55D159'});


var visa = $(".wpwl-brand:first").clone().removeAttr("class").attr("class", "wpwl-brand-card wpwl-brand-custom wpwl-brand-VISA");
var master = $(visa).clone().removeClass("wpwl-brand-VISA").addClass("wpwl-brand-MASTER");
var maestro = $(visa).clone().removeClass("wpwl-brand-VISA").addClass("wpwl-brand-MAESTRO");
$(".wpwl-brand:first").after( $(visa)).after( $(master)) .after( $(maestro)); //Ubacivanje kartica

// var cancelPaymentHtml ='<button type="button" class="wpwl-button wpwl-button-cancel" onclick="history.go(0)">Otkaži</button>';
// $('form.wpwl-form-card').find('.wpwl-button-pay').before(cancelPaymentHtml);
},
onChangeBrand: function(e){
$(".wpwl-brand-custom").css("opacity", "0.2");
$(".wpwl-brand-" + e).css("opacity", "5");
}}
</script>

<script src="https://oppwa.com/v1/paymentWidgets.js?checkoutId={{data}}"></script>


<div class="container" id="paymentCheckout">
 		<div class="row">
      <div class="col-12">
        <h1 class="mb-4">{{user.username}}, još samo jedan korak</h1>
      </div>
      <!-- <div class="checkoutCartFinal col-12"> -->
      <!-- <span>{{user.username}}, još samo jedan korak</span> -->
      <div class="col-xs-12 col-sm-12 col-lg-5 mr-lg-5 mt-4" style="box-shadow: 11px 18px 47px -19px rgba(0,0,0,0.82); border-radius:20px;">
        <!-- <p class="p-4 text-center" style="font-Size:22px;">{{user.username}}, još samo jedan korak</p> -->
        <p class="p-4 text-center" style="font-Size:22px;">Proverite detalje Vaše porudžbine </p>
        <hr>
        <div class="mt-3 text-center">
          <i class="fas fa-credit-card mr-5" style="color:#1D88E5; font-size:39px; font-weight:200"></i><h4 class="mt-4 text-center d-inline">{{package}} RSD</h4>
          <hr/>
        </div>
        <div class="mt-3 text-center"><a href="../results/{{resultFile}}" class="text-reset" target="_blank"><i class="far fa-file-pdf text-center mt-2 mr-4" style="color:#1D88E5; font-size:39px; font-weight:200"></i><h4 class="d-inline text-reset">Pogledajte odabrani fajl</h4></a></div>
        <hr />
        <div class="mt-1 text-center"><img src="/images/24h.svg" alt="" style="width:42px;" class="mb-3 mt-3 mr-4"><h4 class="d-inline">Tumačenje u roku od 24h</h4></div>


      </div>

        <div class="col-xs-12 col-sm-12 col-lg-6 mt-4">
            <form action="/checkout/" class="wpwl-form paymentWidgets wpwl-form-card wpwl-clearfix" data-brands="VISA MASTER AMEX"></form>
        </div>


      <!-- </div> -->
    </div>
</div>

 {{> _footer}}
