{{> _innerNavFrontend}}

<div class="container mb-4" id="profileDetails">
    <h1 class="sectionTitle mt-6">Zdravo, {{user.username}}</h1>
 		<div class="row">

 			<div class="col-md-12 col-lg-12 table-responsive">

      <ul class="nav nav-tabs justify-content-center mb-5" id="myTab" role="tablist">
        <!-- <li class="nav-item">
          <a class="nav-link   link-unstyled dashboardTabs" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Lab cube rezultati ({{numOfMyAnalysis}})</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link  active link-unstyled dashboardTabs" id="otherResults-tab" data-toggle="tab" href="#otherResults" role="tab" aria-controls="contact" aria-selected="false">Rezultati ({{numOfMyOtherResults}})</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="profile-tab" data-toggle="tab" href="#healthProfile" role="tab" aria-controls="profile" aria-selected="false">Zdravstveni profil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  link-unstyled dashboardTabs" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"  aria-selected="false">Osnovne informacije</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="resetPass-tab" data-toggle="tab" href="#resetPass" role="tab" aria-controls="profile" aria-selected="false">Moj nalog</a>
        </li>
      </ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane show" id="resetPass" role="tabpanel">
    <div class="profileCard" >
      <form class="d-flex flex-column align-items-center" action="/updatePassword/{{user.id}}" method="POST">
        <div class="container">
          <div class="row">
            <div class="form-group col-6 generalInformation">
              <!-- <p>Ovde možete promeniti Vaš Promena lozinke</p> -->
              <input type="password" class="form-control" name="password1" placeholder="nova lozinka">
                </div>
                <div class="form-group col-6">
                  <input type="password" class="form-control" name="password2" placeholder="ponovite novu lozinku">
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-block btnLabDetails">Promeni lozinku</button>
                </div>
          </div>
        </div>
      </form>
      <form class="mb-4" action="/deleteUser/{{user.id}}" method="post" id="deleteAccountForm">
        <div class="col-2 mt-4">
          <button class="btn btn-block btn-danger  text-uppercase" id="deleteAccount">Obrišite nalog</button>
        </div>
        <div class="col-10">
          <small>Ukoliko obrišete nalog ne postoji mogućnost da Vam se vrate podaci. Svi podaci o Vama i svi Vaši rezultati će zauvek biti uklonjeni.</small>
        </div>
      </form>
    </div><!-- profile card end -->
  </div><!-- tab pane end -->




  <div class="tab-pane active show" id="otherResults" role="tabpanel">
    <div class="profileCard" >
      <table class="tableLabResults" id="myLabResults">
        <tbody>
          {{#each myOtherResults}}
          <tr class="dashboardResults">
            <td><i class="far fa-clock"></i></td>
            <td>{{displayTime this.submitedDate}}</td>

            <!-- <td>{{displayTime this.deadline}}</td> -->
            <td>{{this.package}} rsd</td>
            <td><a href="../results/{{this.result}}" target="_blank"><i class="far fa-file-alt" title="pogledaj fajl"></i></a></td>
            <td><a href="/myResult/{{this.id}}">Pogledaj tumačenje</a></td>
            <td><a href='' data-id={{this.id}} data-tab="otherResults" class="btn btn-danger deleteDocument">obriši</a></td>
            <!-- <td class="bg-danger text-white text-center" style="border-radius:0;">{{calculateTime this.deadline}}</td> -->
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div><!-- profile card end -->
  </div><!-- tab pane end -->






  <div class="tab-pane show" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="profileCard" >
      <form action="/myProfile/{{user.id}}" method="POST" class="mt-4">
        <div class="">
          <div class="row">
          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/nameProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Ime</span>
              <input type="text" class="d-block mt-2 profilePersonalData" name="ime" placeholder="Ime" value="{{user.username}}">
            </div>
          </div>
          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/emailProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Email</span>
                <input type="text" class="d-block mt-2 profilePersonalData" placeholder="Email" value="{{user.email}}" disabled>
            </div>
          </div>
          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/birthYearProfileData.svg"  class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Godina rođenja</span>
                  <input type="number" class="d-block mt-2 profilePersonalData" id="godinaRodjenja" name="godinaRodjenja" value={{user.birthYear}} placeholder="Godina rođenja">
            </div>
          </div>
          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/genderProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Pol</span>
              <select class="d-block profilePersonalData mt-2" name="pol">
                <option class="" value="M" {{#if (checkBox user.gender 'M')}} selected {{/if}}>Muški</option>
                <option class="" value="Ž" {{#if (checkBox user.gender 'Ž')}} selected {{/if}}>Ženski</option>
                <option class="" value="Null" {{#if (checkBox user.gender 'Null')}} selected {{/if}}>Nije važno</option>
              </select>
            </div>
          </div>
          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/addressProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Adresa</span>
                  <input type="text" id="adresa" class="d-block mt-2 profilePersonalData" name="adresa" placeholder="Adresa" value="{{user.address}}">
            </div>
          </div>

          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/municipalityProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Opština</span>
                <select class="d-block profilePersonalData mt-2" name="city" id="municipality">
                  {{#each cities}}
                  <option value="{{this}}" {{#if (checkBox this ../user.city)}} selected {{/if}}>{{this}}</option>
                  {{/each}}
                </select>
            </div>
          </div>

          <div class="col-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/cellphoneProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Mobilni telefon</span>
                <input type="text" id="mobilniTelefon" class="d-block mt-2 profilePersonalData" name="mobilniTelefon" value="{{user.mobile}}" placeholder="u fomatu 06XXXXXXX">
            </div>
          </div>
        </div>
        <div class="form-group col-12">
          <button class="btn btn-block btnLabDetails mt-2">Sačuvaj</button>
        </div>
      </div><!-- basicinfo end -->
    </form><!-- basic information form end -->

        <!-- update password -->


    </div><!-- profile card end -->
  </div><!-- tab pane end -->

  <div class="tab-pane fade" id="healthProfile" role="tabpanel" aria-labelledby="profile-tab">
    <form action="/healthProfile/{{user.id}}" method="POST" class="mt-4 d-flex flex-column align-items-center" id="healthProfileForm">
      <div class="row">
      <!-- <div class="col-12 mb-4"> -->
        <div class="col-12 generalInformation">
          <p class="">Osnovne informacije o vašem zdravstvenom stanju. Popunjavanje ovog upitnika će pomoći našim kolegama da što bolje sagledaju rezultate vaših laboratorijskih anliza prilikom tumačenja. </p><p class="mb-5">Mi cenimo vašu privatnost, vaši podaci su bezbedni. <a href="" target="_blank">Pročitajte</a> našu politiku privatnosti. </p>
        </div>

          <div class="col-4 mt-5">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/heightHelthData.svg" class="profileDataIcons" alt="">
            </div>
            <div class="d-inline pl-2">
              <span>Visina (cm)</span>
              <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="visina" name="visina" placeholder="Visina(cm)" value="{{user.height}}">
            </div>
          </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/weightHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Težina (kg)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="tezina" name="tezina" placeholder="Težina(kg)" value="{{user.weight}}">
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bmiHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>BMI (Body Mass Index)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="bmi" step="0.01" name="bmi" readonly="readonly" value={{user.bmi}} placeholder="BMI">
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/smokingHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Pušite?</span>
            <select class="d-block profilePersonalData mt-2" name="pusac">
              <option class="" value="Odaberite" {{#if (checkBox user.smoking 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.smoking 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.smoking 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/alchocolHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Alkohol?</span>
            <select class="d-block profilePersonalData mt-2" name="alkohol">
              <option class="" value="Odaberite" {{#if (checkBox user.alcohol 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.alcohol 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.alcohol 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bloodPressureHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen pritisak?</span>
            <select class="d-block profilePersonalData mt-2" name="pritisak">
              <option class="" value="Odaberite" {{#if (checkBox user.bloodPresure 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.bloodPresure 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.bloodPresure 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Kakva Vam je ishrana?</span>
            <select class="d-block profilePersonalData mt-2" name="ishrana">
              <option class="" value="Odaberite" {{#if (checkBox user.nutrition 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Zdrava" {{#if (checkBox user.nutrition 'Zdrava')}} selected {{/if}}>Zdrava</option>
              <option class="" value="Umerena" {{#if (checkBox user.nutrition 'Umerena')}} selected {{/if}}>Umerena</option>
              <option class="" value="Nezdrava" {{#if (checkBox user.nutrition 'Nezdrava')}} selected {{/if}}>Nezdrava</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/stressHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Da li ste pod stresom?</span>
            <select class="d-block profilePersonalData mt-2" name="stres">
              <option class="" value="Odaberite" {{#if (checkBox user.stress 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.stress 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.stress 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/exserciseHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Koliko sati nedeljno vežbate?</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" name="vezbe" placeholder="Koliko sati nedeljno vežbate?" value="{{user.hoursExcercise}}">
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/sugarHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen šećer?</span>
            <select class="d-block profilePersonalData mt-2" name="secer">
              <option class="" value="Odaberite" {{#if (checkBox user.sweets 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.sweets 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.sweets 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodSuplementHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dodaci ishrani?</span>
            <select class="d-block profilePersonalData mt-2" name="dodaciIshrani">
              <option class="" value="Odaberite" {{#if (checkBox user.foodSuplements 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.foodSuplements 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.foodSuplements 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/therapyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno na terapiji?</span>
            <select class="d-block profilePersonalData mt-2" name="terapija" id="therapy">
              <option class="" value="Odaberite" {{#if (checkBox user.therapy 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.therapy 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.therapy 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 mt-5 d-none" id="therapyComment">
            <textarea name="terapijaKomentar" class="col-12 mt-3" rows="5" cols="80" placeholder="Napišite koju terapiju uzimate.">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/currentStatusHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dijagnostifikovano oboljenje?</span>
            <select class="d-block profilePersonalData mt-3" name="trenutnoBolesni">
              <option class="" value="Odaberite" {{#if (checkBox user.currentStatus 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Alchajmerova bolest" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Alchajmerova bolest</option>
              <option class="" value="Bolesti štitne žlezde" {{#if (checkBox user.currentStatus 'Bolesti štitne žlezde')}} selected {{/if}}>Bolesti štitne žlezde</option>
              <option class="" value="Ciroza jetre i hepatitis" {{#if (checkBox user.currentStatus 'Ciroza jetre i hepatitis')}} selected {{/if}}>Ciroza jetre i hepatitis</option>
              <option class="" value="Dijabetes" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Dijabetes</option>
              <option class="" value="Hronične respiratorne bolesti" {{#if (checkBox user.currentStatus 'Hronične respiratorne bolesti')}} selected {{/if}}>Hronične respiratorne bolesti</option>
              <option class="" value="Kardiovaskularne bolesti" {{#if (checkBox user.currentStatus 'Kardiovaskularne bolesti')}} selected {{/if}}>Kardiovaskularne bolesti</option>
              <option class="" value="Maligne bolesti" {{#if (checkBox user.currentStatus 'Maligne bolesti')}} selected {{/if}}>Maligne bolesti</option>
              <option class="" value="Tuberkuloza" {{#if (checkBox user.currentStatus 'Tuberkuloza')}} selected {{/if}}>Tuberkuloza</option>
            </select>
          </div>
        </div>

        <div class="col-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/famillyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Oboljenja u porodici?</span>
            <select class="d-block profilePersonalData mt-2" id="anamneza" name="anamneza">
              <option class="" value="Odaberite" {{#if (checkBox user.anamnesis 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.anamnesis 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.anamnesis 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 d-none" id="anamnezaKomentar">
          <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="5" cols="80" placeholder="Dа li Vаm nеki člаn pоrоdicе bоluје оd nеkоg oboljenja (srčanog, ima povišen krvni pritisak, preminuo je od srčanog ili moždanog udara, ima bolest krvi, astmu, probleme sa bubrezima, šećernu bolest, maligno oboljenje)?">{{#if user.therapyComment}}{{user.anamnesisComment}}{{/if}}</textarea>
        </div>


      <!-- <div class="form-group col-12">
        <p>Da li trenutno uzimate neku terapiju?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaDa" name="terapija" value="Da" class="custom-control-input" {{#if (checkBox user.therapy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaNe" name="terapija" value="Ne" class="custom-control-input" {{#if (checkBox user.therapy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaNe">Ne</label>
        </div>
        <textarea name="terapijaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
      </div> -->


      <!-- <div class="col-4">
        <p>Da li ste trenutno bolesni ili imate neki medicinksi problem?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniDa" name="trenutnoBolesni" value="Da" class="custom-control-input" {{#if (checkBox user.currentStatus 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniNe" name="trenutnoBolesni" value="Ne" class="custom-control-input" {{#if (checkBox user.currentStatus 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniNe">Ne</label>
        </div>
        <textarea name="trenutnaBolestKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.currentStatusComment}}{{/if}}</textarea>
      </div> -->



      <!-- <div class="form-group col-12">
        <p class="generalInformation"></p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaDa" name="anamneza" value="Da" class="custom-control-input" {{#if (checkBox user.anamnesis 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaNe" name="anamneza" value="Ne" class="custom-control-input" {{#if (checkBox user.anamnesis 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaNe">Ne</label>
        </div>
        <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.anamnesisComment}}{{/if}}</textarea>
      </div> -->

      {{#if (checkBox user.gender 'Ž')}}

      <div class="col-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/menstruationHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Menstruacija?</span>
          <select class="d-block profilePersonalData mt-2" name="menstruacija">
            <option class="" value="Odaberite" {{#if (checkBox user.menstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.menstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.menstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>


      <!-- <div class="form-group col-12">
        <p>Dа li imate menstruacije?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaDa" name="menstruacija" value="Da" class="custom-control-input" {{#if (checkBox user.menstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaNe" name="menstruacija" value="Ne" class="custom-control-input" {{#if (checkBox user.menstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/neetCycleHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Uredan ciklus?</span>
          <select class="d-block profilePersonalData mt-2" name="ciklusUredan">
            <option class="" value="Odaberite" {{#if (checkBox user.regularMenstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularMenstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularMenstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li su ciklusi uredni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanDa" name="ciklusUredan" value="Da" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanNe" name="ciklusUredan" value="Ne" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanNe">Ne</label>
        </div>
      </div> -->


      <div class="col-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/gynecologistHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Redovni ginekološki pregledi?</span>
          <select class="d-block profilePersonalData mt-2" name="redovanPregledGinekologa">
            <option class="" value="Odaberite" {{#if (checkBox user.regularGinecologyChecks 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularGinecologyChecks 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li redovno idete na ginekološke preglede?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaDa" name="redovanPregledGinekologa" value="Da" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaNe" name="redovanPregledGinekologa" value="Ne" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/pregnentHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno trudni?</span>
          <select class="d-block profilePersonalData mt-2" name="trudnoca">
            <option class="" value="Odaberite" {{#if (checkBox user.pregnancy 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.pregnancy 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.pregnancy 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li ste trenutno trudni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaDa" name="trudnoca" value="Da" class="custom-control-input" {{#if (checkBox user.pregnancy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaNe" name="trudnoca" value="Ne" class="custom-control-input" {{#if (checkBox user.pregnancy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/brestFeedingHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno dojite?</span>
          <select class="d-block profilePersonalData mt-2" name="dojenje">
            <option class="" value="Odaberite" {{#if (checkBox user.breastfeeding 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.breastfeeding 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.breastfeeding 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li trenutno dojite?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeDa" name="dojenje" value="Da" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeNe" name="dojenje" value="Ne" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeNe">Ne</label>
        </div>
      </div>
      {{/if}} -->

      <div class="form-group col-12 mt-4">
        <button  class="btn btn-block btnLabDetails mt-2" id="healthProfileBtn">Sačuvaj</button>
      </div>

      <!-- </div> -->
    </div><!-- row end -->
  </form>
</div>


  <div class="tab-pane table-responsive" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    {{#if numOfMyAnalysis}}

    <table class="tableLabResults" id="myLabResults">
      <tbody>


        {{#each myAppointments}}

        <tr class="dashboardResults">
          <td>{{this.lab.labName}}</td>
          <td>{{formatLabScheduleDate this.scheduledFor this.uzimanjeUzorka}}</td>
          <td>{{this.total}} rsd</td>

          <td><span class="{{this.status}}">{{this.status}}</span></td>

          {{#if (checkStatus this.status)}}
          <td><span class="okvrednosti text-center" title="broj rezultata u granicama">{{countOkValues (countHighValues this.analyses) this.analyses }}</span></td>
          <td><span class="vangranica text-center" title="broj rezultata koji su van dozvoljenih vrednosti">{{countHighValues this.analyses}}</span></td>
          {{else}}
          <td><span class="brojPotrebnihAnaliza text-center" title="broj potrebnih analiza">{{countItems this.analyses}}</span></td>
          <td></td>
          {{/if}}
          <!-- <td><a href=""><img src="/images/laboratorija.svg" title="prosledi lekaru" class="mb-1"></a></td> -->
          <td><a href="/mojirezultati/{{this.id}}" class="btnDetails text-uppercase">detalji</button></a>
            <td><a href='' data-id={{this.id}} class="btn btn-danger deteDocument text-uppercase">X</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="col-12 mt-4">
      <h2>trenutno nema rezultata u ovoj kategoriji</h2>
    </div>

    {{/if}}
  </div>
</div>


 			</div><!-- table-responsive -->
 		</div><!-- table row end  -->
 </div> <!-- results container end -->



 {{> _footer}}
