{{> _innerNavFrontend}}

<div class="container mb-4" id="profileDetails">
    <h1 class="sectionTitle mt-6 breakWords">Zdravo, {{user.username}}</h1>
 		<div class="row">

 			<div class="col-md-12 col-lg-12 table-responsive">

      <ul class="nav nav-tabs justify-content-center mb-5" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link   link-unstyled dashboardTabs" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">LabCube rezultati ({{numOfMyAnalysis}})</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link  active link-unstyled dashboardTabs" id="otherResults-tab" data-toggle="tab" href="#otherResults" role="tab" aria-controls="contact" aria-selected="false">Rezultati ({{numOfMyOtherResults}})</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="profile-tab" data-toggle="tab" href="#healthProfileDetails" role="tab" aria-controls="profile" aria-selected="false">Zdravstveni profil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  link-unstyled dashboardTabs" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"  aria-selected="false">Osnovne informacije</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="resetPass-tab" data-toggle="tab" href="#resetPass" role="tab" aria-controls="profile" aria-selected="false">Moj nalog</a>
        </li>

        <li class="nav-item">
          <a href="/logout" class="nav-link link-unstyled dashboardTabs" id="loagout-tab"> <i class="fa fa-sign-out-alt" title="odjava" alt="odjava"></i> Izađi</a>
        </li>
      </ul>

<div class="tab-content" id="myTabContent">


  <div class="tab-pane show" id="resetPass" role="tabpanel">
    <div class="profileCard" >
      <form class="d-flex flex-column align-items-center" action="/updatePassword/{{user.id}}" method="POST">
        <div class="container">
          <div class="row">
            <div class="form-group col-12 col-sm-6 generalInformation">
              <!-- <p>Ovde možete promeniti Vaš Promena lozinke</p> -->
              <input type="password" class="form-control" name="password1" placeholder="nova lozinka">
                </div>
                <div class="form-group col-12 col-sm-6">
                  <input type="password" class="form-control" name="password2" placeholder="ponovite novu lozinku">
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-block btnLabDetails">Promeni lozinku</button>
                </div>
          </div>
        </div>
      </form>
      <form class="mb-4" action="/deleteUser/{{user.id}}" method="post" id="deleteAccountForm">
        <div class="col-12 col-sm-4 mt-4">
          <button class="btn btn-block btn-danger  text-uppercase" id="deleteAccount">Obrišite nalog</button>
        </div>
        <div class="col-12">
          <p class="mt-3">Kada obrišete nalog, možete ga povratiti u roku od 30 dana. Nakon tog perioda ne postoji mogućnost da Vam se vrate podaci. Svi podaci o Vama i svi Vaši rezultati će zauvek biti uklonjeni.</p>
        </div>
      </form>
    </div><!-- profile card end -->
  </div><!-- tab pane end -->


  <div class="tab-pane active show" id="otherResults" role="tabpanel">
    <div class="profileCard" >
      <table class="tableLabResults table-responsive-sm" id="myLabResults">
        <tbody>
          {{#if (notZero numOfMyOtherResults)}}

          {{#each myOtherResults}}
          <tr class="dashboardResults">
            <!-- <td class="d-none d-sm-block"><i class="far fa-clock"></i></td> -->
           {{#if (checkStatus this.status)}}
            <td><a href="/myResult/{{this.id}}">Pogledaj tumačenje</a></td>
            {{else}}
            <td>Tumačenje rezultata je u toku</td>
            {{/if}}
            {{!-- <td>{{displayTime this.deadline}}</td> --}}
            <td>{{this.paid}} rsd</td>
            <td><a href="../results/{{this.result}}" target="_blank"><i class="far fa-file-alt" title="pogledaj fajl"></i></a></td>
             <td>{{displayTime this.submitedDate}}</td>
            <td><a href='' data-id={{this.id}} data-tab="otherResults" class="btn btn-danger deleteDocument">obriši</a></td>
            <!-- <td class="bg-danger text-white text-center" style="border-radius:0;">{{calculateTime this.deadline}}</td> -->
          </tr>
          {{/each}}

          {{else}}

          <div class="text-center">
            {{!-- <h2 class="sectionTitle mt-4 breakWords">Besplatno isprobaj našu uslugu online tumačenja laboratorijskih nalaza!</h2> --}}
            {{!-- <p class="py-2 mt-4 breakWords generalInformation">Tvoj kôd za prvo besplatno<sup>*</sup> tumačenje je <span class="font-weight-bold">113703</span></p> --}}
            <p>Trenutno nemate protumačenih nalaza</p>
            <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btn-primary btn-lg display-4 mb-4" target="_blank"><h3 class="mt-2">Pokreni odmah tumačenje nalaza</h3></a>
            {{!-- <sup>*</sup> Tumačenje u roku od 48h, Kôd se može iskoristiti samo jednom. --}}
          </div>
          


          {{!-- <div class="col-12 pl-0 generalInformation">
            
            <ol class="textList pb-4 ">
              <li><p class="generalInformation">Odaberite vreme za koje želite da protumačimo Vaše rezultate</p></li>
              <li><p class="generalInformation">Pronađite fajl sa Vašim rezultatima laboratorije i uradite upload</p></li>
              <li><p class="generalInformation">Potvrdite da ste saglasni sa uslovima plaćanja.</p></li>
              <li><p class="generalInformation">Nastavite na plaćanje.</p></li>
            </ol>
          </div>

          <div class="col-12 mb-5">
            <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
          </div> --}}

            {{!-- <div id="odabirPaketa" class="d-flex flex-wrap mt-4 mx-auto" style="flex-wrap;">
              <form action='/payment' method="POST" enctype="multipart/form-data" id="regularPayment">

                <div class="mb-4 col-12 p-3 input-group" id="codeBack" style="background-color:#f7f8fb; border-radius:10px;">

                    <input type="text" name="kodPopust" id="kod"  class="form-control" placeholder="Unesite ovde kôd za popust. Kôd se primenjuje samo na tumačenje u roku od 12 sati."/>
                    <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="codeCheck">Primeni kôd</button>
                  </div>
                </div>

                   <div class="card paymentSteps">
                          <div class="card-body">
                            <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                            <span class="text-center paketiCena">490 din.</span>
                            <input type="radio" name="package" value=490 id="t24" {{#if (checkBox package 490)}} checked {{/if}} />
                            <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div>                    
                    
                      <div class="card paymentSteps ml-lg-3">
                        <div class="card-body">
                           <div class="najpopularnije">najpopularnije</div>
                          <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                          <span class="text-center paketiCena">590 din.</span>
                          <input type="radio" name="package" value=590 id="t12" {{#if (checkBox package 590)}} checked {{/if}} />
                          <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>   
                      </div>

                     

                       <div class="card paymentSteps ml-lg-3">
                          <div class="card-body">
                            <span class="onSalesNow d-none" id="initialPriceTop"></span>
                            <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 6 sati<sup>*</sup></p>
                            <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                            <input type="radio" name="package" value=890 id="t4" {{#if (checkBox package 890)}} checked {{/if}} />
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div>



                  <div class="card paymentSteps mr-lg-3">
                    <div class="card-body">
                      <i class="far fa-file-pdf text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                      <p class="text-center font-weight-bold mt-3">Odaberite rezultate </p>
                      <span class="text-center paketiCena">max 5MB</span>
                      <small class="text-muted text-center fileTypes">pdf, jpg, jpeg, png</small>
                      <div class="custom-file mt-4">
                          <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                          <label for="uploadResults" class="custom-file-label"></label>
                      </div>
                    </div>
                  </div>


                  <div class="card paymentSteps" id="paymentConsent">
                    <div class="card-body" data-toggle="modal" data-target="">
                      <a href="/uslovi-placanja" target="_blank" class="text-center">
                      <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                      <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                      <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a>
                      <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                      <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio">slažem se</label>
                    </div>
                  </div>

            </div>
          
            <div class=" col-12 p-0 mb-2">
              <label for="exampleFormControlTextarea1 ">Komentar</label>
              <textarea class="form-control" id="userComment" name="userComment" rows="4" placeholder="Ovde upišite sva pitanja i komentare koje smatrate bitnim za tumačenje Vaših nalaza.">{{komentar}}</textarea>
            </div>



            <div class="col-12 text-center">
                <button class="btn btn-success text-uppercase mt-5" id="proceedPayment">Nastavi dalje</button>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-success text-uppercase mt-4 d-none" id="gratis" >Pošaljite rezultate</button>
            </div> --}}

            <div class="col-12 upload_file my-4">
                <div class="form-row">
                  <div class="col-6">
                    <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                    <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                  </div>
                </div>
              </form>
            </div>

            {{!-- <h2 class="my-4 pb-4 text-center" id="demoAccount">Pogledajte primer jednog tumačenja</h2> --}}

      
          {{/if}}
        </tbody>
      </table>

    </div><!-- profile card end -->
  </div><!-- tab pane end -->






  <div class="tab-pane show" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="profileCard" >
      <form action="/myProfile/{{user.id}}" method="POST" class="mt-4">
        <!-- <div class=""> -->
          <div class="row">
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/nameProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Ime</span>
              <input type="text" class="d-block mt-2 profilePersonalData" name="ime" placeholder="Ime" value="{{user.username}}">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/emailProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Email</span>
                <input type="text" class="d-block mt-2 profilePersonalData" placeholder="Email" value="{{user.email}}" disabled>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/birthYearProfileData.svg"  class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Godina rođenja</span>
                  <input type="number" class="d-block mt-2 profilePersonalData" id="godinaRodjenja" name="godinaRodjenja" value={{user.birthYear}} placeholder="Godina rođenja">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/genderProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Pol</span>
              <select class="d-block profilePersonalData mt-2" name="pol">
                <option class="" value="Null" {{#if (checkBox user.gender 'Null')}} selected {{/if}}>Nije važno</option>
                <option class="" value="M" {{#if (checkBox user.gender 'M')}} selected {{/if}}>Muški</option>
                <option class="" value="Ž" {{#if (checkBox user.gender 'Ž')}} selected {{/if}}>Ženski</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/addressProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Adresa</span>
                  <input type="text" id="adresa" class="d-block mt-2 profilePersonalData" name="adresa" placeholder="Adresa" value="{{user.address}}">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/municipalityProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Grad</span>
                <select class="d-block profilePersonalData mt-2" name="city" id="municipality">
                  {{#each cities}}
                  <option value="{{this}}" {{#if (checkBox this ../user.city)}} selected {{/if}}>{{this}}</option>
                  {{/each}}
                </select>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/cellphoneProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Mobilni telefon</span>
                <input type="text" id="mobilniTelefon" class="d-block mt-2 profilePersonalData" name="mobilniTelefon" value="{{user.mobile}}" placeholder="u fomatu 06XXXXXXX">
            </div>
          </div>
            <div class="col-12 col-sm-6 col-md-4 my-4">
                <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
                  <img src="/images/emailProfileData.svg" class="profileDataIcons" alt="">
                </div>
                <div class=" float-left d-inline pl-2">
                <span>Želim korisne informacije na mejl</span>
                <select class="d-block profilePersonalData mt-2" name="news">
                  <option class="" value="Null" {{#if (checkBox user.news 'Null')}} selected {{/if}}>Odaberite</option>
                  <option class="" value=1 {{#if (checkMarketing user.news true)}} selected {{/if}}>Da</option>
                  <option class="" value=0 {{#if (checkMarketing user.news false)}} selected {{/if}}>Ne</option>
                </select>
              </div>
            </div>
          <div class="form-group col-12">
            <button class="btn btn-block btnLabDetails mt-2">Sačuvaj</button>
          </div>
        </div><!-- basicinfo end -->
      </form><!-- basic information form end -->
    </div><!-- profile card end -->
  </div><!-- tab pane end -->

  <div class="tab-pane fade" id="healthProfileDetails" role="tabpanel" aria-labelledby="profile-tab">
    <form action="/healthProfile/{{user.id}}" method="POST" class="mt-4 d-flex flex-column align-items-center" id="healthProfileForm">
      <div class="row">
      <!-- <div class="col-12 mb-4"> -->
        <div class="col-12 generalInformation">
          <p class="">Osnovne informacije o tvom zdravstvenom stanju. Popunjavanje ovog upitnika nam pomaže da što bolje sagledamo rezultate tvojih laboratorijskih anliza prilikom tumačenja. Mi cenimo tvoju privatnost, tvoji podaci su bezbedni. <a href="/politika-privatnosti" target="_blank">Pročitaj</a> našu politiku privatnosti. </p>
        </div>

          <div class="col-12 col-sm-6 col-md-4 mt-5">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/heightHelthData.svg" class="profileDataIcons" alt="">
            </div>
            <div class="d-inline pl-2">
              <span>Visina (cm)</span>
              <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="visina" name="visina" placeholder="Visina(cm)" value="{{user.height}}">
            </div>
          </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/weightHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Težina (kg)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="tezina" name="tezina" placeholder="Težina(kg)" value="{{user.weight}}">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bmiHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>BMI (Body Mass Index)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="bmi" step="0.01" name="bmi" readonly="readonly" value={{user.bmi}} placeholder="BMI">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/smokingHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Pušite?</span>
            <select class="d-block profilePersonalData mt-2" name="pusac">
              <option class="" value="Odaberite" {{#if (checkBox user.smoking 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.smoking 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.smoking 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/alchocolHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Alkohol?</span>
            <select class="d-block profilePersonalData mt-2" name="alkohol">
              <option class="" value="Odaberite" {{#if (checkBox user.alcohol 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.alcohol 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.alcohol 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bloodPressureHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen pritisak?</span>
            <select class="d-block profilePersonalData mt-2" name="pritisak">
              <option class="" value="Odaberite" {{#if (checkBox user.bloodPresure 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.bloodPresure 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.bloodPresure 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Kakva Vam je ishrana?</span>
            <select class="d-block profilePersonalData mt-2" name="ishrana">
              <option class="" value="Odaberite" {{#if (checkBox user.nutrition 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Zdrava" {{#if (checkBox user.nutrition 'Zdrava')}} selected {{/if}}>Zdrava</option>
              <option class="" value="Umerena" {{#if (checkBox user.nutrition 'Umerena')}} selected {{/if}}>Umerena</option>
              <option class="" value="Nezdrava" {{#if (checkBox user.nutrition 'Nezdrava')}} selected {{/if}}>Nezdrava</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/stressHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Da li ste pod stresom?</span>
            <select class="d-block profilePersonalData mt-2" name="stres">
              <option class="" value="Odaberite" {{#if (checkBox user.stress 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.stress 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.stress 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/exserciseHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Koliko sati nedeljno vežbate?</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" name="vezbe" placeholder="Koliko sati nedeljno vežbate?" value="{{user.hoursExcercise}}">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/sugarHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen šećer?</span>
            <select class="d-block profilePersonalData mt-2" name="secer">
              <option class="" value="Odaberite" {{#if (checkBox user.sweets 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.sweets 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.sweets 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodSuplementHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dodaci ishrani?</span>
            <select class="d-block profilePersonalData mt-2" name="dodaciIshrani">
              <option class="" value="Odaberite" {{#if (checkBox user.foodSuplements 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.foodSuplements 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.foodSuplements 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/therapyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno na terapiji?</span>
            <select class="d-block profilePersonalData mt-2" name="terapija" id="therapy">
              <option class="" value="Odaberite" {{#if (checkBox user.therapy 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.therapy 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.therapy 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        
        <div class="col-12 mt-5" id="therapyComment">
          {{!-- //{{#if (checkComment user.therapyComment)}}d-none{{/if}} --}}
        <span>Trenutna terapija ili drugi komentar koji smatraš važnim za opšte zdravstveno stanje</span>
            <textarea name="terapijaKomentar" class="col-12 mt-3" rows="5" cols="80" id="therapyCommentArea" placeholder="Podaci o terapiji ili drugim bitnim faktorima koji utiču na zdravlje">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
        </div>


        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/currentStatusHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dijagnostifikovano oboljenje?</span>
            <select class="d-block profilePersonalData mt-3" name="trenutnoBolesni">
              <option class="" value="Odaberite" {{#if (checkBox user.currentStatus 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Alchajmerova bolest" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Alchajmerova bolest</option>
              <option class="" value="Bolesti štitne žlezde" {{#if (checkBox user.currentStatus 'Bolesti štitne žlezde')}} selected {{/if}}>Bolesti štitne žlezde</option>
              <option class="" value="Ciroza jetre i hepatitis" {{#if (checkBox user.currentStatus 'Ciroza jetre i hepatitis')}} selected {{/if}}>Ciroza jetre i hepatitis</option>
              <option class="" value="Dijabetes" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Dijabetes</option>
              <option class="" value="Hronične respiratorne bolesti" {{#if (checkBox user.currentStatus 'Hronične respiratorne bolesti')}} selected {{/if}}>Hronične respiratorne bolesti</option>
              <option class="" value="Kardiovaskularne bolesti" {{#if (checkBox user.currentStatus 'Kardiovaskularne bolesti')}} selected {{/if}}>Kardiovaskularne bolesti</option>
              <option class="" value="Maligne bolesti" {{#if (checkBox user.currentStatus 'Maligne bolesti')}} selected {{/if}}>Maligne bolesti</option>
              <option class="" value="Tuberkuloza" {{#if (checkBox user.currentStatus 'Tuberkuloza')}} selected {{/if}}>Tuberkuloza</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/famillyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Oboljenja u porodici?</span>
            <select class="d-block profilePersonalData mt-2" id="anamneza" name="anamneza">
              <option class="" value="Odaberite" {{#if (checkBox user.anamnesis 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.anamnesis 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.anamnesis 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 {{#if (checkComment user.anamnesisComment)}}d-none{{/if}}" id="anamnezaKomentar">
          <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="5" cols="80" id="anamnesisCommentValue" placeholder="Dа li Vаm nеki člаn pоrоdicе bоluје оd nеkоg oboljenja (srčanog, ima povišen krvni pritisak, preminuo je od srčanog ili moždanog udara, ima bolest krvi, astmu, probleme sa bubrezima, šećernu bolest, maligno oboljenje)?">{{#if user.anamnesisComment}}{{user.anamnesisComment}}{{/if}}</textarea>
        </div>


      <!-- <div class="form-group col-12">
        <p>Da li trenutno uzimate neku terapiju?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaDa" name="terapija" value="Da" class="custom-control-input" {{#if (checkBox user.therapy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaNe" name="terapija" value="Ne" class="custom-control-input" {{#if (checkBox user.therapy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaNe">Ne</label>
        </div>
        <textarea name="terapijaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
      </div> -->


      <!-- <div class="col-4">
        <p>Da li ste trenutno bolesni ili imate neki medicinksi problem?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniDa" name="trenutnoBolesni" value="Da" class="custom-control-input" {{#if (checkBox user.currentStatus 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniNe" name="trenutnoBolesni" value="Ne" class="custom-control-input" {{#if (checkBox user.currentStatus 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniNe">Ne</label>
        </div>
        <textarea name="trenutnaBolestKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.currentStatusComment}}{{/if}}</textarea>
      </div> -->



      <!-- <div class="form-group col-12">
        <p class="generalInformation"></p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaDa" name="anamneza" value="Da" class="custom-control-input" {{#if (checkBox user.anamnesis 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaNe" name="anamneza" value="Ne" class="custom-control-input" {{#if (checkBox user.anamnesis 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaNe">Ne</label>
        </div>
        <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.anamnesisComment}}{{/if}}</textarea>
      </div> -->


      {{#if (checkBox user.gender 'Ž')}}
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/menstruationHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Menstruacija?</span>
          <select class="d-block profilePersonalData mt-2" name="menstruacija">
            <option class="" value="Odaberite" {{#if (checkBox user.menstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.menstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.menstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>


      <!-- <div class="form-group col-12">
        <p>Dа li imate menstruacije?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaDa" name="menstruacija" value="Da" class="custom-control-input" {{#if (checkBox user.menstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaNe" name="menstruacija" value="Ne" class="custom-control-input" {{#if (checkBox user.menstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/neetCycleHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Uredan ciklus?</span>
          <select class="d-block profilePersonalData mt-2" name="ciklusUredan">
            <option class="" value="Odaberite" {{#if (checkBox user.regularMenstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularMenstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularMenstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li su ciklusi uredni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanDa" name="ciklusUredan" value="Da" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanNe" name="ciklusUredan" value="Ne" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanNe">Ne</label>
        </div>
      </div> -->


      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/gynecologistHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Redovni ginekološki pregledi?</span>
          <select class="d-block profilePersonalData mt-2" name="redovanPregledGinekologa">
            <option class="" value="Odaberite" {{#if (checkBox user.regularGinecologyChecks 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularGinecologyChecks 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li redovno idete na ginekološke preglede?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaDa" name="redovanPregledGinekologa" value="Da" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaNe" name="redovanPregledGinekologa" value="Ne" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/pregnentHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno trudni?</span>
          <select class="d-block profilePersonalData mt-2" name="trudnoca">
            <option class="" value="Odaberite" {{#if (checkBox user.pregnancy 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.pregnancy 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.pregnancy 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li ste trenutno trudni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaDa" name="trudnoca" value="Da" class="custom-control-input" {{#if (checkBox user.pregnancy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaNe" name="trudnoca" value="Ne" class="custom-control-input" {{#if (checkBox user.pregnancy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/brestFeedingHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno dojite?</span>
          <select class="d-block profilePersonalData mt-2" name="dojenje">
            <option class="" value="Odaberite" {{#if (checkBox user.breastfeeding 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.breastfeeding 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.breastfeeding 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li trenutno dojite?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeDa" name="dojenje" value="Da" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeNe" name="dojenje" value="Ne" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeNe">Ne</label>
        </div>
      </div> -->
      {{/if}}

      <div class="form-group col-12 mt-4">
        <button  class="btn btn-block btnLabDetails mt-2" id="healthProfileBtn">Sačuvaj</button>
      </div>

      <!-- </div> -->
    </div><!-- row end -->
  </form>
</div>


  <div class="tab-pane table-responsive" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    {{#if numOfMyAnalysis}}

    <table class="tableLabResults" id="myLabResults">
      <tbody>

        {{#each myAppointments}}

        <tr class="dashboardResults">
          <td>{{this.lab.labName}}</td>
          <td>{{formatLabScheduleDate this.scheduledFor this.uzimanjeUzorka}}</td>
          <td>{{this.total}} rsd</td>

          <td><span class="{{this.status}}">{{this.status}}</span></td>

          {{#if (checkStatus this.status)}}
          <td><span class="okvrednosti text-center" title="broj rezultata u granicama">{{countOkValues (countHighValues this.analyses) this.analyses }}</span></td>
          <td><span class="vangranica text-center" title="broj rezultata koji su van dozvoljenih vrednosti">{{countHighValues this.analyses}}</span></td>
          {{else}}
          <td><span class="brojPotrebnihAnaliza text-center" title="broj potrebnih analiza">{{countItems this.analyses}}</span></td>
          <td></td>
          {{/if}}
          <!-- <td><a href=""><img src="/images/laboratorija.svg" title="prosledi lekaru" class="mb-1"></a></td> -->
          <td><a href="/mojirezultati/{{this.id}}" class="btnDetails text-uppercase">detalji</button></a>
            <td><a href='' data-id={{this.id}} class="btn btn-danger deleteDocument text-uppercase">X</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="col-12 mt-4">
      <h2>trenutno nema rezultata u ovoj kategoriji</h2>
    </div>
    {{/if}}
  </div>

</div>


 			  </div><!-- table-responsive -->
 		 </div><!-- table row end  -->
    </div>
  </div>
</div> <!-- results container end -->



 {{> _footer}}
