{{> _innerNavFrontend}}

<div class="container mb-4" id="profileDetails">
    <h1 class="sectionTitle mt-6 breakWords">Zdravo, {{user.username}}</h1>
 		<div class="row">

 			<div class="col-md-12 col-lg-12 table-responsive">

      <ul class="nav nav-tabs justify-content-center mb-5" id="myTab" role="tablist">
        <li class="nav-item d-none">
          <a class="nav-link   link-unstyled dashboardTabs" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">Lab cube rezultati ({{numOfMyAnalysis}})</a>
        </li> 

        <li class="nav-item">
          <a class="nav-link  active link-unstyled dashboardTabs" id="otherResults-tab" data-toggle="tab" href="#otherResults" role="tab" aria-controls="contact" aria-selected="false">Rezultati ({{numOfMyOtherResults}})</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="profile-tab" data-toggle="tab" href="#healthProfileDetails" role="tab" aria-controls="profile" aria-selected="false">Zdravstveni profil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link  link-unstyled dashboardTabs" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"  aria-selected="false">Osnovne informacije</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-unstyled dashboardTabs" id="resetPass-tab" data-toggle="tab" href="#resetPass" role="tab" aria-controls="profile" aria-selected="false">Moj nalog</a>
        </li>

        <li class="nav-item">
          <a href="/logout" class="nav-link link-unstyled dashboardTabs" id="loagout-tab"> <i class="fa fa-sign-out-alt" title="odjava" alt="odjava"></i> Izađi</a>
        </li>
      </ul>

<div class="tab-content" id="myTabContent">


  <div class="tab-pane show" id="resetPass" role="tabpanel">
    <div class="profileCard" >
      <form class="d-flex flex-column align-items-center" action="/updatePassword/{{user.id}}" method="POST">
        <div class="container">
          <div class="row">
            <div class="form-group col-12 col-sm-6 generalInformation">
              <!-- <p>Ovde možete promeniti Vaš Promena lozinke</p> -->
              <input type="password" class="form-control" name="password1" placeholder="nova lozinka">
                </div>
                <div class="form-group col-12 col-sm-6">
                  <input type="password" class="form-control" name="password2" placeholder="ponovite novu lozinku">
                </div>
                <div class="form-group col-12">
                  <button class="btn btn-block btnLabDetails">Promeni lozinku</button>
                </div>
          </div>
        </div>
      </form>
      <form class="mb-4" action="/deleteUser/{{user.id}}" method="post" id="deleteAccountForm">
        <div class="col-12 col-sm-4 mt-4">
          <button class="btn btn-block btn-danger  text-uppercase" id="deleteAccount">Obrišite nalog</button>
        </div>
        <div class="col-12">
          <p class="mt-3">Kada obrišete nalog, možete ga povratiti u roku od 30 dana. Nakon tog perioda ne postoji mogućnost da Vam se vrate podaci. Svi podaci o Vama i svi Vaši rezultati će zauvek biti uklonjeni.</p>
        </div>
      </form>
    </div><!-- profile card end -->
  </div><!-- tab pane end -->


  <div class="tab-pane active show" id="otherResults" role="tabpanel">
    <div class="profileCard" >
      <table class="tableLabResults table-responsive-sm" id="myLabResults">
        <tbody>
          {{#if (notZero numOfMyOtherResults)}}

          {{#each myOtherResults}}
          <tr class="dashboardResults">
            <!-- <td class="d-none d-sm-block"><i class="far fa-clock"></i></td> -->
           {{#if (checkStatus this.status)}}
            <td><a href="/myResult/{{this.id}}">Pogledaj tumačenje</a></td>
            {{else}}
            <td>Tumačenje rezultata je u toku</td>
            {{/if}}
            {{!-- <td>{{displayTime this.deadline}}</td> --}}
            <td>{{this.paid}} rsd</td>
            <td><a href="../results/{{this.result}}" target="_blank"><i class="far fa-file-alt" title="pogledaj fajl"></i></a></td>
             <td>{{displayTime this.submitedDate}}</td>
            <td><a href='' data-id={{this.id}} data-tab="otherResults" class="btn btn-danger deleteDocument">obriši</a></td>
            <!-- <td class="bg-danger text-white text-center" style="border-radius:0;">{{calculateTime this.deadline}}</td> -->
          </tr>
          {{/each}}

          {{else}}

          <!-- <h1 class="p-4 text-center">Hvala Vam što ste kreirali nalog. Uskoro će Vam biti dostupna usluga tumačenja rezultata.</h1> -->
          <div class="text-center">
            <p class="pt-4 generalInformation">Trenutno nema protumačenih rezultata.</p>
            <p><a href="/tumacenje-laboratorijskih-analiza" class="btn btn-danger btn-block">Postavi rezultate za tumačenje</a></p>
        
          </div>
          


          {{!-- <div class="col-12 pl-0 generalInformation">
            
            <ol class="textList pb-4 ">
              <li><p class="generalInformation">Odaberite vreme za koje želite da protumačimo Vaše rezultate</p></li>
              <li><p class="generalInformation">Pronađite fajl sa Vašim rezultatima laboratorije i uradite upload</p></li>
              <li><p class="generalInformation">Potvrdite da ste saglasni sa uslovima plaćanja.</p></li>
              <li><p class="generalInformation">Nastavite na plaćanje.</p></li>
            </ol>
          </div>

          <div class="col-12 mb-5">
            <h3 class="cardDisclaimer text-center">Mi ne postavljamo dijagnozu, ne određujemo terapiju i ne lečimo!</br />Ukoliko iz bilo kog razloga ne budete zadovoljni uslugom vraćamo Vam novac.</h3>
          </div> --}}

            {{!-- <div id="odabirPaketa" class="d-flex flex-wrap mt-4 mx-auto" style="flex-wrap;">
              <form action='/payment' method="POST" enctype="multipart/form-data" id="regularPayment">

                <div class="mb-4 col-12 p-3 input-group" id="codeBack" style="background-color:#f7f8fb; border-radius:10px;">

                    <input type="text" name="kodPopust" id="kod"  class="form-control" placeholder="Unesite ovde kôd za popust. Kôd se primenjuje samo na tumačenje u roku od 12 sati."/>
                    <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="codeCheck">Primeni kôd</button>
                  </div>
                </div>

                   <div class="card paymentSteps">
                          <div class="card-body">
                            <img src="images/24h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 24 sata</p>
                            <span class="text-center paketiCena">490 din.</span>
                            <input type="radio" name="package" value=490 id="t24" {{#if (checkBox package 490)}} checked {{/if}} />
                            <label for="t24"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div>                    
                    
                      <div class="card paymentSteps ml-lg-3">
                        <div class="card-body">
                           <div class="najpopularnije">najpopularnije</div>
                          <img src="/images/12h.svg" alt="" style="" class="mb-3 mt-3 tumacenjeIkonice">
                          <p class="text-center font-weight-bold">Tumačenje u roku od 12 sati</p>
                          <span class="text-center paketiCena">590 din.</span>
                          <input type="radio" name="package" value=590 id="t12" {{#if (checkBox package 590)}} checked {{/if}} />
                          <label for="t12" class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                        </div>   
                      </div>

                     

                       <div class="card paymentSteps ml-lg-3">
                          <div class="card-body">
                            <span class="onSalesNow d-none" id="initialPriceTop"></span>
                            <img src="images/6h.svg" alt="" class="mb-3 mt-3 tumacenjeIkonice">
                            <p class="text-center font-weight-bold">Tumačenje u roku od 6 sati<sup>*</sup></p>
                            <span class="text-center paketiCena" id="initialPrice">890 din.</span>
                            <input type="radio" name="package" value=890 id="t4" {{#if (checkBox package 890)}} checked {{/if}} />
                            <label for="t4"  class="btn btn-outline-success text-uppercase mt-4 customRadio">izaberi</label>
                          </div>
                      </div>



                  <div class="card paymentSteps mr-lg-3">
                    <div class="card-body">
                      <i class="far fa-file-pdf text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                      <p class="text-center font-weight-bold mt-3">Odaberite rezultate </p>
                      <span class="text-center paketiCena">max 5MB</span>
                      <small class="text-muted text-center fileTypes">pdf, jpg, jpeg, png</small>
                      <div class="custom-file mt-4">
                          <input type="file" id="uploadResults" name="result" class="custom-file-input" placeholder="odaberite fajl"/>
                          <label for="uploadResults" class="custom-file-label"></label>
                      </div>
                    </div>
                  </div>


                  <div class="card paymentSteps" id="paymentConsent">
                    <div class="card-body" data-toggle="modal" data-target="">
                      <a href="/uslovi-placanja" target="_blank" class="text-center">
                      <i class="far fa-file-alt text-center mt-3" style="color:#1D88E5; font-size:109px; font-weight:200"></i>
                      <p class="text-center font-weight-bold mt-3">Pravila i uslovi plaćanja</p>
                      <span class="text-center paketiCena">&lt; 2 min. čitanja</span></a>
                      <input type="radio" name="consent" value="true" id="consent" {{#if (checkBox consent 'true')}} checked {{/if}} />
                      <label for="consent" class="btn btn-outline-success text-uppercase mt-4 customRadio">slažem se</label>
                    </div>
                  </div>

            </div>
          
            <div class=" col-12 p-0 mb-2">
              <label for="exampleFormControlTextarea1 ">Komentar</label>
              <textarea class="form-control" id="userComment" name="userComment" rows="4" placeholder="Ovde upišite sva pitanja i komentare koje smatrate bitnim za tumačenje Vaših nalaza.">{{komentar}}</textarea>
            </div>



            <div class="col-12 text-center">
                <button class="btn btn-success text-uppercase mt-5" id="proceedPayment">Nastavi dalje</button>
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-success text-uppercase mt-4 d-none" id="gratis" >Pošaljite rezultate</button>
            </div> --}}

            <div class="col-12 upload_file my-4">
                <div class="form-row">
                  <div class="col-6">
                    <input type="hidden" class="form-control" name="email"  value="{{user.email}}">
                    <input type="hidden" class="form-control" name="userId" value="{{user.id}}">
                  </div>
                </div>
              </form>
            </div>

            {{!-- <h2 class="my-4 pb-4 text-center" id="demoAccount">Pogledajte primer jednog tumačenja</h2> --}}

            <!-- <div class="col-12 doctorDetails mt-4 testCenter ">
              <img src="/images/editors/Sanja Nova-2.png-1628202152954.png"  class="rounded-circle editorImg hcpImage img-fluid" alt=""><p>
              <div class="hcpBio float-left">
                  <p class="editorName font-weight-bold mb-4">Sanja Milutinović, diplomirani farmaceut - medicinski biohemičar</p>
                <p class="editorName ">Rođena 1989. godine u Paraćinu. Diplomirala je na Farmaceutskom fakultetu u Beogradu na smeru magistar farmacije-medicinski biohemičar 2013 godine. Dobitnik je nagrade prof. dr Ivan Berkeš kao najbolji student magistar farmacije–medicinski biohemičar u školskoj 2012/2013 godini. Nakon položenog državnog ispita započinje radni odnos u odeljenju za laboratorijsku dijagnostiku Doma zdravlja Kuršumlija 2015.godine. Trenutno je načelnik laboratorijske dijagnostike Doma zdravlja Kuršumlija. </p>
              </div>
            </div> -->



            {{!-- <div class="row">
                <div class="resultDetails mb-4">
                  <div class="col-12 col-md-7">
                    <h4 class="analysisName">ATG <span class="valueOk">28 IU/ml</span></h4>
                    <p>Uz Anti - TPO antitela se koristi za dijagnozu i diferencijaciju Hashimoto sindroma.</p>
                  </div>

                  <div class="col-12 col-md-5 analysisResults">
                    <div>
                      <input type="range" class="regularResults showGreen" data-toggle="tooltip" tooltip="28" name="low" min="0" max="115" value="28" step="0.1" disabled="" data-original-title="" title="">
                      <div class="rangeLabels"><115</div>
                  </div>

                  <div>
                    <input type="range" class="min" name="regular" data-toggle="tooltip" tooltip="28" min="115" max="200" value="28" step="0.1" disabled="">
                    <div class="rangeLabels">>115</div>
                  </div>


                </div>

                <div class="col-12">
                  <p class="myResultsComment">
                    <span>Rezultat je u referentnom opsegu.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Anti - TPO antitela <span class="valueNotOk">38 IU/ml</span></h4>
                  
                  <p>Najosetljivi je parameter za dijagnozu Hashimoto sindroma.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class=" regularResults" data-toggle="tooltip" tooltip="" name="low"  step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 34</div>
                  </div>

                  <div>
                    <input type="range" class="min showRed" name="regular" data-toggle="tooltip" tooltip="" min="34" max="68" value="38" step="0.1" disabled="">
                    <div class="rangeLabels">>34</div>
                  </div>


                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je izvan referentnog opsega (&lt34), titar antitela na tireoidnu peroksidazu je blago povišen što može ukazivati na probleme u funkciji štitne žlezde (hipertireoidizam ili hipotireoidizam)</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Progesteron <span class="valueOk">2.2 nmol/L</span></h4>
                  
                  <p>Test se koristi za ispitivanje funkcionalnog corpusa luteuma, praćenja ovulacije, trudnoće, supstitucione terapije progesteronom i u cilju otkrivanja uzroka neplodnosti.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="0.6" value="" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 0.6</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="0.6" max="4.7" value="2.2" step="0.1" disabled="">
                    <div class="rangeLabels">0.6 - 4.7</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="4.7" max="9.4" value="" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 4.7</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Folikulostimulirajući hormon <span class="valueOk">6.4 mIU/ml</span></h4>
                  
                  <p>Test se koristi za procenu funkcije jajnika i testisa, utvrđivanje uzroka neplodnosti, utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti povezanih sa poremećajem rada hipofize i hipotalamusa.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="3.5" value="" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 3.5</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="3.5" max="12.5" value="6.4" step="0.1" disabled="">
                    <div class="rangeLabels">3.5 - 12.5</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="12.5" max="24" value="" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 12.5</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                  </p>
                </div>
            </div>
            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Estradiol <span class="valueOk">45.1 pg/ml</span></h4>
                  
                  <p>Test se koristi za procenu rada jajnika, za utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti kod poremećaja rada nadbubrežne žlezde i hormonskih poremećaja kod muškaraca.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="19.5" value="" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 20</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="19.5" max="144.2" value="45.1" step="0.1" disabled="">
                    <div class="rangeLabels">19.5 - 144.2</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="144.2" max="288" value="" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 144.2</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>Rezultat je u referentnom opsegu za interval folikularne faze.</span>
                  </p>
                </div>
            </div>
            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Luteinizirajući hormon <span class="valueOk">8.9 mIU/ml</span></h4>
                 
                  <p>Test se koristi za procenu funkcije jajnika i testisa, za predviđanje nastupanja ovulacije, utvrđivanje poremećaja menstrualnog ciklusa i puberteta, za dijagnostiku i praćenje bolesti povezanih sa poremećajem rada hipofize i hipotalamusa.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="1" value="" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 20</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="1" max="11.4" value="8.9" step="0.1" disabled="">
                    <div class="rangeLabels">1 - 11.4</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="11.4" max="23" value="" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 11.4</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je u referentnom opsegu za interval folikularne faze.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Anti-Milerov hormon <span class="valueNotOk">6,73ng/ml</span></h4>
                  
                  <p>Ovaj test se koristi za procenu plodnosti kod žena, za predviđanje nastupanja menopauze, za dijagnostikovanje poremećaja povezanih sa pojavom cističnih jajnika i kod oba pola za procenu nerazvijenosti polnih organa.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="3.03" value="22" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 3.03</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults" name="regular" data-toggle="tooltip" tooltip="40" min="3.03" max="3.89" value="" step="0.1" disabled="">
                    <div class="rangeLabels">3.03 - 3.89</div>
                  </div>

                  <div>
                    <input type="range" class="max showRed" name="high" min="3.89" max="16" value="6.73" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 3.89</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je izvan referentnog opsega (3.03 - 3.89), povišena vrednost može ukazivati na sindrom policističnih jajnika.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Ukupni testosteron <span class="valueOk">1.34 nmol/L</span></h4>
                 
                  <p>Test se koristi za procenu uzroka neplodnosti i poremećaja polne funkcije kod muškaraca, kao i za utvrđivanje uzroka pojave muških polnih osobina (hirzutizam, virilizacija) i neplodnosti kod žena.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="0.22" value="0" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 0.22</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="0.22" max="2.90" value="1.34" step="0.1" disabled="">
                    <div class="rangeLabels">0.22 - 2.90</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="2.90" max="10" value="0" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 2.90</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>Rezultat je u referentnom opsegu.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Tireostimulišući hormon TSH <span class="valueOk">2.304 uIU/ml</span></h4>
                
                  <p>Test se koristi za procenu statusa funkcije štitne žlezde.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="22" name="low" min="0" max="0.35" value="0" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 0.35</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="0.35" max="4.78" value="2.304" step="0.1" disabled="">
                    <div class="rangeLabels">0.35 - 4.78</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="2.90" max="10" value="0" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 4.78</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je u referentnom opsegu.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Slobodni trijodtironin FT3 <span class="valueOk">5 pmol/L</span></h4>
                  
                  <p>Test se koristi za proveru statusa funkcije štitne žlezde.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="3.1" value="0" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 3.1</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="3.1" max="6.5" value="5" step="0.1" disabled="">
                    <div class="rangeLabels">3.1 - 6.5</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="6.5" max="13" value="0" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 6.5</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>rezultat je u referentnom opsegu.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Slobodni tiroksin FT4 <span class="valueOk">13.4 pmol/L</span></h4>
                 
                  <p>Test se koristi za proveru statusa funkcije štitne žlezde.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="12" value="0" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 12</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="12" max="22" value="13.4" step="0.1" disabled="">
                    <div class="rangeLabels">12 - 22</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="22" max="44" value="0" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 22</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>Rezultat je u referentnom opsegu (12 - 22), vrednost je bliža donjoj referentnoj granici.</span>
                  </p>
                </div>
            </div>

            <div class="resultDetails mb-4">
                <div class="col-12 col-md-7">
                  <h4 class="analysisName">Prolaktin PRL <span class="valueOk">179.49 mIU/L</span></h4>
                 
                  <p>Test se koristi u dijagnostici uzroka neplodnosti kod oba pola, dijagnostici i praćenju prolaktinoma (tumora na hipofizi) i pojave lučenja mleka koje nije u vezi sa dojenjem.</p>
                </div>

                <div class="col-12 col-md-5 analysisResults">
                  <div>
                    <input type="range" class="min " data-toggle="tooltip" tooltip="" name="low" min="0" max="127" value="0" step="0.1" disabled="" data-original-title="" title="">
                    <div class="rangeLabels">&lt; 127</div>
                  </div>

                  <div>
                    <input type="range" class="regularResults showGreen" name="regular" data-toggle="tooltip" tooltip="" min="127" max="637" value="179.49" step="0.1" disabled="">
                    <div class="rangeLabels">127 - 637</div>
                  </div>

                  <div>
                    <input type="range" class="max" name="high" min="637" max="1250" value="" step="0.1" disabled="">
                    <div class="rangeLabels">&gt; 637</div>
                  </div>
                </div>
                <div class="col-12">
                  <p class="myResultsComment">
                    <span>Rezultat je u referentnom opsegu.</span>
                  </p>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <h3>Zaključak</h3>
              <div class="finalThougths">
                <p>Pod pretpostavkom da je uzorak dat na analizu u periodu 1-5 dana ciklusa, vrednosti hormonskih analiza govore sledeće: Vrednosti polnih hormona su u referentnom opsegu gde se ne vidi poremećaj u njihovom odnosu. Vrednosti hormona štitne žlezde su zadovoljavajući, takođe u referentnom opsegu, ali sa primetnim primicanjem vrednosti FT4 hormona donjoj referentnoj granici. Preporuka je ponoviti testiranje ovih hormona, kako bi se ispratio trend kretanja vrednosti i eventualni skriveni pad FT4. Titar antitela na tireoglobulin je snižen, dok je titar antitela na tireoidnu peroksidazu blago uvećan, što može ukazivati na poremećaj u procesu stvaranja hormona štitne žlezde. Vrednosti AMH su značajno uvećane, što može ukazivati na sindrom policističnih jajnika, povezano sa uzrastom pacijenta. Vrednosti AMH parametra poželjno je tumačiti uz kliničku sliku, nalaz na ultrazvuku i laboratorijske testove DHEA, free testosteron, FSH i LH od strane endokrinologa.
                </p>
            </div>
          </div>
          <div class="col-12 mt-5 text-center">
            <p class="cardDisclaimer">Ukoliko imate bilo kakvo pitanje u vezi tumačenja rezultata javite nam se putem mejla zdravo[at]labcube.rs</p>
          </div>
        </div> --}}

            <!-- <a href="/tumacenje-laboratorijskih-analiza" class="btn btn-block btnLabDetails">Pokrenite tumačenje</a> -->
          {{/if}}
        </tbody>
      </table>

    </div><!-- profile card end -->
  </div><!-- tab pane end -->






  <div class="tab-pane show" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="profileCard" >
      <form action="/myProfile/{{user.id}}" method="POST" class="mt-4">
        <!-- <div class=""> -->
          <div class="row">
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/nameProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Ime</span>
              <input type="text" class="d-block mt-2 profilePersonalData" name="ime" placeholder="Ime" value="{{user.username}}">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/emailProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Email</span>
                <input type="text" class="d-block mt-2 profilePersonalData" placeholder="Email" value="{{user.email}}" disabled>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/birthYearProfileData.svg"  class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Godina rođenja</span>
                  <input type="number" class="d-block mt-2 profilePersonalData" id="godinaRodjenja" name="godinaRodjenja" value={{user.birthYear}} placeholder="Godina rođenja">
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/genderProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Pol</span>
              <select class="d-block profilePersonalData mt-2" name="pol">
                <option class="" value="Null" {{#if (checkBox user.gender 'Null')}} selected {{/if}}>Nije važno</option>
                <option class="" value="M" {{#if (checkBox user.gender 'M')}} selected {{/if}}>Muški</option>
                <option class="" value="Ž" {{#if (checkBox user.gender 'Ž')}} selected {{/if}}>Ženski</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/addressProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Adresa</span>
                  <input type="text" id="adresa" class="d-block mt-2 profilePersonalData" name="adresa" placeholder="Adresa" value="{{user.address}}">
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/municipalityProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Grad</span>
                <select class="d-block profilePersonalData mt-2" name="city" id="municipality">
                  {{#each cities}}
                  <option value="{{this}}" {{#if (checkBox this ../user.city)}} selected {{/if}}>{{this}}</option>
                  {{/each}}
                </select>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 my-4">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/cellphoneProfileData.svg" class="profileDataIcons" alt="">
            </div>
            <div class=" float-left d-inline pl-2">
              <span>Mobilni telefon</span>
                <input type="text" id="mobilniTelefon" class="d-block mt-2 profilePersonalData" name="mobilniTelefon" value="{{user.mobile}}" placeholder="u fomatu 06XXXXXXX">
            </div>
          </div>
            <div class="col-12 col-sm-6 col-md-4 my-4">
                <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
                  <img src="/images/emailProfileData.svg" class="profileDataIcons" alt="">
                </div>
                <div class=" float-left d-inline pl-2">
                <span>Želim korisne informacije na mejl</span>
                <select class="d-block profilePersonalData mt-2" name="news">
                  <option class="" value="Null" {{#if (checkBox user.news 'Null')}} selected {{/if}}>Odaberite</option>
                  <option class="" value=1 {{#if (checkMarketing user.news true)}} selected {{/if}}>Da</option>
                  <option class="" value=0 {{#if (checkMarketing user.news false)}} selected {{/if}}>Ne</option>
                </select>
              </div>
            </div>
          <div class="form-group col-12">
            <button class="btn btn-block btnLabDetails mt-2">Sačuvaj</button>
          </div>
        </div><!-- basicinfo end -->
      </form><!-- basic information form end -->
    </div><!-- profile card end -->
  </div><!-- tab pane end -->

  <div class="tab-pane fade" id="healthProfileDetails" role="tabpanel" aria-labelledby="profile-tab">
    <form action="/healthProfile/{{user.id}}" method="POST" class="mt-4 d-flex flex-column align-items-center" id="healthProfileForm">
      <div class="row">
      <!-- <div class="col-12 mb-4"> -->
        <div class="col-12 generalInformation">
          <p class="">Osnovne informacije o tvom zdravstvenom stanju. Popunjavanje ovog upitnika nam pomaže da što bolje sagledamo rezultate tvojih laboratorijskih anliza prilikom tumačenja. Mi cenimo tvoju privatnost, tvoji podaci su bezbedni. <a href="/politika-privatnosti" target="_blank">Pročitaj</a> našu politiku privatnosti. </p>
        </div>

          <div class="col-12 col-sm-6 col-md-4 mt-5">
            <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
              <img src="/images/heightHelthData.svg" class="profileDataIcons" alt="">
            </div>
            <div class="d-inline pl-2">
              <span>Visina (cm)</span>
              <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="visina" name="visina" placeholder="Visina(cm)" value="{{user.height}}">
            </div>
          </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/weightHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Težina (kg)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="tezina" name="tezina" placeholder="Težina(kg)" value="{{user.weight}}">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bmiHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>BMI (Body Mass Index)</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" id="bmi" step="0.01" name="bmi" readonly="readonly" value={{user.bmi}} placeholder="BMI">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/smokingHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Pušite?</span>
            <select class="d-block profilePersonalData mt-2" name="pusac">
              <option class="" value="Odaberite" {{#if (checkBox user.smoking 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.smoking 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.smoking 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/alchocolHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Alkohol?</span>
            <select class="d-block profilePersonalData mt-2" name="alkohol">
              <option class="" value="Odaberite" {{#if (checkBox user.alcohol 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.alcohol 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.alcohol 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/bloodPressureHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen pritisak?</span>
            <select class="d-block profilePersonalData mt-2" name="pritisak">
              <option class="" value="Odaberite" {{#if (checkBox user.bloodPresure 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.bloodPresure 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.bloodPresure 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Kakva Vam je ishrana?</span>
            <select class="d-block profilePersonalData mt-2" name="ishrana">
              <option class="" value="Odaberite" {{#if (checkBox user.nutrition 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Zdrava" {{#if (checkBox user.nutrition 'Zdrava')}} selected {{/if}}>Zdrava</option>
              <option class="" value="Umerena" {{#if (checkBox user.nutrition 'Umerena')}} selected {{/if}}>Umerena</option>
              <option class="" value="Nezdrava" {{#if (checkBox user.nutrition 'Nezdrava')}} selected {{/if}}>Nezdrava</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/stressHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Da li ste pod stresom?</span>
            <select class="d-block profilePersonalData mt-2" name="stres">
              <option class="" value="Odaberite" {{#if (checkBox user.stress 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.stress 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.stress 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/exserciseHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class="d-inline pl-2">
            <span>Koliko sati nedeljno vežbate?</span>
            <input type="number" class="d-block mt-2 profilePersonalData pl-2" name="vezbe" placeholder="Koliko sati nedeljno vežbate?" value="{{user.hoursExcercise}}">
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/sugarHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Povišen šećer?</span>
            <select class="d-block profilePersonalData mt-2" name="secer">
              <option class="" value="Odaberite" {{#if (checkBox user.sweets 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.sweets 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.sweets 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/foodSuplementHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dodaci ishrani?</span>
            <select class="d-block profilePersonalData mt-2" name="dodaciIshrani">
              <option class="" value="Odaberite" {{#if (checkBox user.foodSuplements 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.foodSuplements 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.foodSuplements 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/therapyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Trenutno na terapiji?</span>
            <select class="d-block profilePersonalData mt-2" name="terapija" id="therapy">
              <option class="" value="Odaberite" {{#if (checkBox user.therapy 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.therapy 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.therapy 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        
        <div class="col-12 mt-5 {{#if (checkComment user.therapyComment)}}d-none{{/if}}" id="therapyComment">
        <span>Trenutna terapija ili drugi komentar koji smatraš važnim za opšte zdravstveno stanje</span>
            <textarea name="terapijaKomentar" class="col-12 mt-3" rows="5" cols="80" id="therapyCommentArea" placeholder="Podaci o terapiji ili drugim bitnim faktorima koji utiču na zdravlje">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
        </div>


        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/currentStatusHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Dijagnostifikovano oboljenje?</span>
            <select class="d-block profilePersonalData mt-3" name="trenutnoBolesni">
              <option class="" value="Odaberite" {{#if (checkBox user.currentStatus 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Alchajmerova bolest" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Alchajmerova bolest</option>
              <option class="" value="Bolesti štitne žlezde" {{#if (checkBox user.currentStatus 'Bolesti štitne žlezde')}} selected {{/if}}>Bolesti štitne žlezde</option>
              <option class="" value="Ciroza jetre i hepatitis" {{#if (checkBox user.currentStatus 'Ciroza jetre i hepatitis')}} selected {{/if}}>Ciroza jetre i hepatitis</option>
              <option class="" value="Dijabetes" {{#if (checkBox user.currentStatus 'Dijabetes')}} selected {{/if}}>Dijabetes</option>
              <option class="" value="Hronične respiratorne bolesti" {{#if (checkBox user.currentStatus 'Hronične respiratorne bolesti')}} selected {{/if}}>Hronične respiratorne bolesti</option>
              <option class="" value="Kardiovaskularne bolesti" {{#if (checkBox user.currentStatus 'Kardiovaskularne bolesti')}} selected {{/if}}>Kardiovaskularne bolesti</option>
              <option class="" value="Maligne bolesti" {{#if (checkBox user.currentStatus 'Maligne bolesti')}} selected {{/if}}>Maligne bolesti</option>
              <option class="" value="Tuberkuloza" {{#if (checkBox user.currentStatus 'Tuberkuloza')}} selected {{/if}}>Tuberkuloza</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 mt-5">
          <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
            <img src="/images/famillyHelthData.svg" class="profileDataIcons" alt="">
          </div>
          <div class=" float-left d-inline pl-2">
            <span>Oboljenja u porodici?</span>
            <select class="d-block profilePersonalData mt-2" id="anamneza" name="anamneza">
              <option class="" value="Odaberite" {{#if (checkBox user.anamnesis 'Odaberite')}} selected {{/if}}>Odaberite</option>
              <option class="" value="Da" {{#if (checkBox user.anamnesis 'Da')}} selected {{/if}}>Da</option>
              <option class="" value="Ne" {{#if (checkBox user.anamnesis 'Ne')}} selected {{/if}}>Ne</option>
            </select>
          </div>
        </div>

        <div class="col-12 {{#if (checkComment user.anamnesisComment)}}d-none{{/if}}" id="anamnezaKomentar">
          <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="5" cols="80" id="anamnesisCommentValue" placeholder="Dа li Vаm nеki člаn pоrоdicе bоluје оd nеkоg oboljenja (srčanog, ima povišen krvni pritisak, preminuo je od srčanog ili moždanog udara, ima bolest krvi, astmu, probleme sa bubrezima, šećernu bolest, maligno oboljenje)?">{{#if user.anamnesisComment}}{{user.anamnesisComment}}{{/if}}</textarea>
        </div>


      <!-- <div class="form-group col-12">
        <p>Da li trenutno uzimate neku terapiju?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaDa" name="terapija" value="Da" class="custom-control-input" {{#if (checkBox user.therapy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="terapijaNe" name="terapija" value="Ne" class="custom-control-input" {{#if (checkBox user.therapy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="terapijaNe">Ne</label>
        </div>
        <textarea name="terapijaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.therapyComment}}{{/if}}</textarea>
      </div> -->


      <!-- <div class="col-4">
        <p>Da li ste trenutno bolesni ili imate neki medicinksi problem?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniDa" name="trenutnoBolesni" value="Da" class="custom-control-input" {{#if (checkBox user.currentStatus 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trenutnoBolesniNe" name="trenutnoBolesni" value="Ne" class="custom-control-input" {{#if (checkBox user.currentStatus 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trenutnoBolesniNe">Ne</label>
        </div>
        <textarea name="trenutnaBolestKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.currentStatusComment}}{{/if}}</textarea>
      </div> -->



      <!-- <div class="form-group col-12">
        <p class="generalInformation"></p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaDa" name="anamneza" value="Da" class="custom-control-input" {{#if (checkBox user.anamnesis 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="anamnezaNe" name="anamneza" value="Ne" class="custom-control-input" {{#if (checkBox user.anamnesis 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="anamnezaNe">Ne</label>
        </div>
        <textarea name="anamnezaKomentar" class="col-12 mt-3" rows="3" cols="80">{{#if user.therapyComment}}{{user.anamnesisComment}}{{/if}}</textarea>
      </div> -->


      {{#if (checkBox user.gender 'Ž')}}
      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/menstruationHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Menstruacija?</span>
          <select class="d-block profilePersonalData mt-2" name="menstruacija">
            <option class="" value="Odaberite" {{#if (checkBox user.menstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.menstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.menstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>


      <!-- <div class="form-group col-12">
        <p>Dа li imate menstruacije?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaDa" name="menstruacija" value="Da" class="custom-control-input" {{#if (checkBox user.menstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="menstruacijaNe" name="menstruacija" value="Ne" class="custom-control-input" {{#if (checkBox user.menstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="menstruacijaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/neetCycleHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Uredan ciklus?</span>
          <select class="d-block profilePersonalData mt-2" name="ciklusUredan">
            <option class="" value="Odaberite" {{#if (checkBox user.regularMenstruation 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularMenstruation 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularMenstruation 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li su ciklusi uredni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanDa" name="ciklusUredan" value="Da" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="ciklusUredanNe" name="ciklusUredan" value="Ne" class="custom-control-input" {{#if (checkBox user.regularMenstruation 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="ciklusUredanNe">Ne</label>
        </div>
      </div> -->


      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/gynecologistHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Redovni ginekološki pregledi?</span>
          <select class="d-block profilePersonalData mt-2" name="redovanPregledGinekologa">
            <option class="" value="Odaberite" {{#if (checkBox user.regularGinecologyChecks 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.regularGinecologyChecks 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li redovno idete na ginekološke preglede?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaDa" name="redovanPregledGinekologa" value="Da" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="redovanPregledGinekologaNe" name="redovanPregledGinekologa" value="Ne" class="custom-control-input" {{#if (checkBox user.regularGinecologyChecks 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="redovanPregledGinekologaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/pregnentHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno trudni?</span>
          <select class="d-block profilePersonalData mt-2" name="trudnoca">
            <option class="" value="Odaberite" {{#if (checkBox user.pregnancy 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.pregnancy 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.pregnancy 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li ste trenutno trudni?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaDa" name="trudnoca" value="Da" class="custom-control-input" {{#if (checkBox user.pregnancy 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="trudnocaNe" name="trudnoca" value="Ne" class="custom-control-input" {{#if (checkBox user.pregnancy 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="trudnocaNe">Ne</label>
        </div>
      </div> -->

      <div class="col-12 col-sm-6 col-md-4 mt-5">
        <div class="float-left" style="background-Color:#FAFAFA; padding:20px; border-radius:5px;">
          <img src="/images/brestFeedingHelthData.svg" class="profileDataIcons" alt="">
        </div>
        <div class=" float-left d-inline pl-2">
          <span>Trenutno dojite?</span>
          <select class="d-block profilePersonalData mt-2" name="dojenje">
            <option class="" value="Odaberite" {{#if (checkBox user.breastfeeding 'Odaberite')}} selected {{/if}}>Odaberite</option>
            <option class="" value="Da" {{#if (checkBox user.breastfeeding 'Da')}} selected {{/if}}>Da</option>
            <option class="" value="Ne" {{#if (checkBox user.breastfeeding 'Ne')}} selected {{/if}}>Ne</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group col-12">
        <p>Dа li trenutno dojite?</p>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeDa" name="dojenje" value="Da" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Da')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeDa">Da</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="dojenjeNe" name="dojenje" value="Ne" class="custom-control-input" {{#if (checkBox user.breastfeeding 'Ne')}} checked {{/if}}>
          <label class="custom-control-label" for="dojenjeNe">Ne</label>
        </div>
      </div> -->
      {{/if}}

      <div class="form-group col-12 mt-4">
        <button  class="btn btn-block btnLabDetails mt-2" id="healthProfileBtn">Sačuvaj</button>
      </div>

      <!-- </div> -->
    </div><!-- row end -->
  </form>
</div>


  <div class="tab-pane table-responsive" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    {{#if numOfMyAnalysis}}

    <table class="tableLabResults" id="myLabResults">
      <tbody>

        {{#each myAppointments}}

        <tr class="dashboardResults">
          <td>{{this.lab.labName}}</td>
          <td>{{formatLabScheduleDate this.scheduledFor this.uzimanjeUzorka}}</td>
          <td>{{this.total}} rsd</td>

          <td><span class="{{this.status}}">{{this.status}}</span></td>

          {{#if (checkStatus this.status)}}
          <td><span class="okvrednosti text-center" title="broj rezultata u granicama">{{countOkValues (countHighValues this.analyses) this.analyses }}</span></td>
          <td><span class="vangranica text-center" title="broj rezultata koji su van dozvoljenih vrednosti">{{countHighValues this.analyses}}</span></td>
          {{else}}
          <td><span class="brojPotrebnihAnaliza text-center" title="broj potrebnih analiza">{{countItems this.analyses}}</span></td>
          <td></td>
          {{/if}}
          <!-- <td><a href=""><img src="/images/laboratorija.svg" title="prosledi lekaru" class="mb-1"></a></td> -->
          <td><a href="/mojirezultati/{{this.id}}" class="btnDetails text-uppercase">detalji</button></a>
            <td><a href='' data-id={{this.id}} class="btn btn-danger deteDocument text-uppercase">X</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <div class="col-12 mt-4">
      <h2>trenutno nema rezultata u ovoj kategoriji</h2>
    </div>
    {{/if}}
  </div>

</div>


 			  </div><!-- table-responsive -->
 		 </div><!-- table row end  -->
    </div>
  </div>
</div> <!-- results container end -->



 {{> _footer}}
